In [1]:
english <- c(90, 80, 60, 70) # 영어 점수 변수 생성

In [2]:
math <- c(50, 60, 100, 20) # 수학 점수 변수 생성

In [3]:
# english, math 로 데이터 프레임 생성해서 df_midterm 에 할당
df_midterm <- data.frame(english, math)
df_midterm

  english math
1 90       50
2 80       60
3 60      100
4 70       20

In [11]:
class <- c(1, 1, 2, 2)

In [12]:
df_midterm <- data.frame(english, math, class)
df_midterm

  english math class
1 90       50  1
2 80       60  1
3 60      100  2
4 70       20  2

In [13]:
df_midterm <- data.frame(english = c(90, 80, 60, 70),
 math = c(50, 60, 100, 20),
 class = c(1, 1, 2, 2))
df_midterm

  english math class
1 90       50  1
2 80       60  1
3 60      100  2
4 70       20  2

## Q1. data.frame()과 c()를 조합해서 표의 내용을 데이터 프레임으로 만들어 출력해보세요.

In [14]:
# 데이터 프레임 만들기
sales <- data.frame(fruit = c("사과", "딸기", "수박"),
 price = c(1800, 1500, 3000),
 volume = c(24, 38, 13))

In [15]:
# 데이터 프레임 출력하기
sales

  fruit price volume
1 사과  1800  24
2 딸기  1500  38
3 수박  3000  13

## Q2. 앞에서 만든 데이터 프레임을 이용해서 과일 가격 평균, 판매량 평균을 구해보세요.

In [16]:
mean(sales$price) # 가격 평균

[1] 2100

In [17]:
mean(sales$volume) # 판매량 평균

[1] 25

In [ ]:
# readxl 패키지 설치
install.packages("readxl")

In [20]:
# readxl 패키지 로드
library(readxl)

In [21]:
df_exam <- read_excel("./Data/excel_exam.xlsx") # 엑셀 파일을 불러와서 df_exam 에 할당
df_exam

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   8 2     90   78      25
9   9 3     20   98      15
10 10 3     50   98      45
11 11 3     65   65      65
12 12 3     45   85      32
13 13 4     46   98      65
14 14 4     48   87      12
15 15 4     75   56      78
16 16 4     58   98      65
17 17 5     65   68      98
18 18 5     80   78      90
19 19 5     89   68      87
20 20 5     78   83      58

In [22]:
mean(df_exam$english)

[1] 84.9

## 엑셀 파일 첫 번째 행이 변수명이 아니라면?

In [23]:
df_exam_novar <- read_excel("./Data/excel_exam_novar.xlsx", col_names = F)
df_exam_novar

New names:
* `` -> ...1
* `` -> ...2
* `` -> ...3
* `` -> ...4
* `` -> ...5

  ...1 ...2 ...3 ...4 ...5
1 1    1    50   98   50
2 2    1    60   97   60
3 3    2    25   80   65
4 4    2    50   89   98
5 5    3    20   98   15
6 6    3    50   98   45
7 7    4    46   98   65
8 8    4    48   87   12

In [ ]:
?read_excel

## 엑셀 파일에 시트가 여러 개 있다면?

In [24]:
df_exam_sheet <- read_excel("./Data/excel_exam_sheet.xlsx", sheet = 3)
df_exam_sheet

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  2     25   80      65
4 4  2     50   89      98
5 5  3     20   98      15
6 6  3     50   98      45
7 7  4     46   98      65
8 8  4     48   87      12

In [25]:
df_csv_exam <- read.csv("./Data/csv_exam.csv")
df_csv_exam

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   8 2     90   78      25
9   9 3     20   98      15
10 10 3     50   98      45
11 11 3     65   65      65
12 12 3     45   85      32
13 13 4     46   98      65
14 14 4     48   87      12
15 15 4     75   56      78
16 16 4     58   98      65
17 17 5     65   68      98
18 18 5     80   78      90
19 19 5     89   68      87
20 20 5     78   83      58

문자가 들어 있는 파일을 불러올 때는 stringsAsFactors = F

In [26]:
df_csv_exam <- read.csv("./Data/csv_exam.csv", stringsAsFactors = F)
df_csv_exam

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   8 2     90   78      25
9   9 3     20   98      15
10 10 3     50   98      45
11 11 3     65   65      65
12 12 3     45   85      32
13 13 4     46   98      65
14 14 4     48   87      12
15 15 4     75   56      78
16 16 4     58   98      65
17 17 5     65   68      98
18 18 5     80   78      90
19 19 5     89   68      87
20 20 5     78   83      58

In [28]:
df_midterm <- data.frame(english = c(90, 80, 60, 70),
 math = c(50, 60, 100, 20),
 class = c(1, 1, 2, 2))
write.csv(df_midterm, file = "./Data/df_midterm.csv")

데이터 프레임을 RData 파일로 저장하기

In [29]:
save(df_midterm, file = "./Data/df_midterm.rda")

In [30]:
rm(df_midterm)

In [31]:
df_midterm

ERROR: Error in eval(expr, envir, enclos): 객체 'df_midterm'를 찾을 수 없습니다

In [32]:
load("./Data/df_midterm.rda")

In [33]:
df_midterm

  english math class
1 90       50  1
2 80       60  1
3 60      100  2
4 70       20  2

In [34]:
ls()

[1] "class"         "df_csv_exam"   "df_exam"       "df_exam_novar"
[5] "df_exam_sheet" "df_midterm"    "english"       "math"
[9] "sales"