In [1]:
import pandas as pd
import xml.etree.ElementTree as et

doc = et.parse('C:/Repository/python_basic/3pandas/coffee/busan_rtr1.xml')
root = doc.getroot() # header, body

columns = doc.find('header/columns')
col = []
for child in columns:
    col.append(child.tag)

rows = doc.findall('body/rows/row')
row = []

In [2]:
newcol = []
for i in columns:
    newcol.append(i.text)

In [ ]:
tag, text

In [3]:
for i in rows:
    group=[]
    for tmp1 in i: # 각 row의 컬럼에 접근함!
        elem1 = tmp1.text # tag(attrib)로 원하는 elem 접근
        # print(elem1) # 그것의 텍스트 확보
        group.append(elem1)
    row.append(group)
# 칼럼으로 포문 돌리면서 -> 아래 예시

# 여기서  '~~~' 부분을 위의 포문을 통해서 각각 넣어준다.


# 리스트, 시리즈나 데이터 프레임에 한 열로 저장시키고

# 만들어 놓은 데이터프레임에 concat을 계속 시켜준다

In [4]:
len(row)

24435

In [5]:
col = ['rowNum'] + col

In [6]:
len(col)

47

In [7]:
df = pd.DataFrame(
    row
    
)

In [8]:
df.columns = col

In [10]:
df.head()

,rowNum,opnSvcNm,opnSvcId,opnSfTeamCode,mgtNo,apvPermYmd,apvCancelYmd,trdStateGbn,trdStateNm,dtlStateGbn,...,fctySilJobEpCnt,fctyPdtJobEpCnt,bdngOwnSeNm,isreAm,monAm,multUsnUpsoYn,facilTotScp,jtUpsoAsgnNo,jtUpsoMainEdf,homepage
0,1,휴게음식점,07_24_05_P,3310000,3310000-104-2017-00086,20171030,None,01,영업/정상,01,...,None,None,None,None,None,N,47.2,None,None,None
1,2,휴게음식점,07_24_05_P,3310000,3310000-104-2017-00089,20171113,None,01,영업/정상,01,...,None,None,None,None,None,N,16.5,None,None,None
2,3,휴게음식점,07_24_05_P,3310000,3310000-104-2017-00090,20171114,None,01,영업/정상,01,...,None,None,None,None,None,N,16.83,None,None,None
3,4,휴게음식점,07_24_05_P,3310000,3310000-104-2017-00091,20171117,None,01,영업/정상,01,...,None,None,None,None,None,N,15,None,None,None
4,5,휴게음식점,07_24_05_P,3310000,3310000-104-2017-00092,20171122,None,01,영업/정상,01,...,None,None,None,None,None,N,21.9,None,None,None

In [12]:
col_text = []
for i in columns:
    col_text.append(i.text)

In [14]:
col_text = ['번호'] + col_text

In [15]:
df.columns = col_text

In [17]:
df.columns

Index(['번호', '개방서비스명', '개방서비스ID', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총종업원수',
       '본사종업원수', '공장사무직종업원수', '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액',
       '월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지'],
      dtype='object')

In [18]:
df['사업장명']

0         컴포즈커피 대연혁신점
1           다와봐VR 360
2          이기대 토스트&김밥
3           PC토랑 부경대점
4            어벤더치 용호점
             ...
24430     대만언니 대왕카스테라
24431             모퉁이
24432      이삭토스트 경상대점
24433       미니스톱연산토곡점
24434    씨유편의점 송도베스트점
Name: 사업장명, Length: 24435, dtype: object