In [20]:
import pandas as pd

In [9]:
df = pd.read_excel('../data/busan_population.xlsx', encoding = 'euc-kr')

In [12]:
df.tail()

,구 분,읍·면·\n동 수,세 대,인 구(명),Unnamed: 4,Unnamed: 5,시전체\n인구에 대한\n구성비(%),면적\n(㎢),인구밀도\n(명/㎢)
13,강 서 구,8.0,53242.0,134211,71107,63104,3.867467,181.49,739.0
14,연 제 구,12.0,90131.0,210584,101767,108817,6.068255,12.10,17404.0
15,수 영 구,10.0,81385.0,178071,84518,93553,5.131351,10.21,17441.0
16,사 상 구,12.0,96780.0,224455,113607,110848,6.467967,36.09,6219.0
17,기 장 군,5.0,69103.0,167178,83220,83958,4.817454,218.30,766.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 9 columns):
구  분                 17 non-null object
읍·면·
동 수             17 non-null float64
세   대                17 non-null float64
인   구(명)             18 non-null object
Unnamed: 4           18 non-null object
Unnamed: 5           18 non-null object
시전체
인구에 대한
구성비(%)    17 non-null float64
면적
(㎢)               17 non-null float64
인구밀도
(명/㎢)           17 non-null float64
dtypes: float64(5), object(4)
memory usage: 1.4+ KB

In [15]:
df.shape

(18, 9)

In [16]:
missing = df.shape[0] - df.count()

In [17]:
missing

구  분                   1
읍·면·\n동 수              1
세   대                  1
인   구(명)               0
Unnamed: 4             0
Unnamed: 5             0
시전체\n인구에 대한\n구성비(%)    1
면적\n(㎢)                1
인구밀도\n(명/㎢)            1
dtype: int64

In [18]:
df.shape[0]

18

In [19]:
df.count()

구  분                   17
읍·면·\n동 수              17
세   대                  17
인   구(명)               18
Unnamed: 4             18
Unnamed: 5             18
시전체\n인구에 대한\n구성비(%)    17
면적\n(㎢)                17
인구밀도\n(명/㎢)            17
dtype: int64