In [1]:
import pandas as pd
import xml.etree.ElementTree as et

doc = et.parse('C:/Repository/python_basic/3pandas/coffee/busan_rtr1.xml')

In [2]:
columns = doc.find('header/columns')
col = []

for i in columns:
    col.append(i.tag)
col

['opnSvcNm',
 'opnSvcId',
 'opnSfTeamCode',
 'mgtNo',
 'apvPermYmd',
 'apvCancelYmd',
 'trdStateGbn',
 'trdStateNm',
 'dtlStateGbn',
 'dtlStateNm',
 'dcbYmd',
 'clgStdt',
 'clgEnddt',
 'ropnYmd',
 'siteTel',
 'siteArea',
 'sitePostNo',
 'siteWhlAddr',
 'rdnWhlAddr',
 'rdnPostNo',
 'bplcNm',
 'lastModTs',
 'updateGbn',
 'updateDt',
 'uptaeNm',
 'x',
 'y',
 'sntUptaeNm',
 'manEipCnt',
 'wmEipCnt',
 'trdpJubnSeNm',
 'lvSeNm',
 'wtrSplyFacilSeNm',
 'totEpNum',
 'hoffEpCnt',
 'fctyOwkEpCnt',
 'fctySilJobEpCnt',
 'fctyPdtJobEpCnt',
 'bdngOwnSeNm',
 'isreAm',
 'monAm',
 'multUsnUpsoYn',
 'facilTotScp',
 'jtUpsoAsgnNo',
 'jtUpsoMainEdf',
 'homepage']

In [3]:
tmp = ['rowNum']
col = tmp + col
len(col)

47

In [4]:
data = dict()
for i in range(len(col)):
    data[col[i]] = list()

In [ ]:
row =

In [9]:
df = pd.DataFrame(
    data = data,
    columns = col
)

In [10]:
df.head()

Empty DataFrame
Columns: [rowNum, opnSvcNm, opnSvcId, opnSfTeamCode, mgtNo, apvPermYmd, apvCancelYmd, trdStateGbn, trdStateNm, dtlStateGbn, dtlStateNm, dcbYmd, clgStdt, clgEnddt, ropnYmd, siteTel, siteArea, sitePostNo, siteWhlAddr, rdnWhlAddr, rdnPostNo, bplcNm, lastModTs, updateGbn, updateDt, uptaeNm, x, y, sntUptaeNm, manEipCnt, wmEipCnt, trdpJubnSeNm, lvSeNm, wtrSplyFacilSeNm, totEpNum, hoffEpCnt, fctyOwkEpCnt, fctySilJobEpCnt, fctyPdtJobEpCnt, bdngOwnSeNm, isreAm, monAm, multUsnUpsoYn, facilTotScp, jtUpsoAsgnNo, jtUpsoMainEdf, homepage]
Index: []

[0 rows x 47 columns]

In [30]:
newcol = []
for i in columns:
    newcol.append(i.text)

In [31]:
tmp1 = ['번호']
newcol = tmp1 + newcol

In [27]:
df.columns = newcol

In [28]:
df

,번호,개방서비스명,개방서비스ID,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,1,휴게음식점,07_24_05_P,3310000,3310000-104-2017-00086,20171030,None,01,영업/정상,01,...,None,None,None,None,None,N,47.2,None,None,None
1,2,휴게음식점,07_24_05_P,3310000,3310000-104-2017-00089,20171113,None,01,영업/정상,01,...,None,None,None,None,None,N,16.5,None,None,None
2,3,휴게음식점,07_24_05_P,3310000,3310000-104-2017-00090,20171114,None,01,영업/정상,01,...,None,None,None,None,None,N,16.83,None,None,None
3,4,휴게음식점,07_24_05_P,3310000,3310000-104-2017-00091,20171117,None,01,영업/정상,01,...,None,None,None,None,None,N,15,None,None,None
4,5,휴게음식점,07_24_05_P,3310000,3310000-104-2017-00092,20171122,None,01,영업/정상,01,...,None,None,None,None,None,N,21.9,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24430,24431,휴게음식점,07_24_05_P,3310000,3310000-104-2016-00089,20161213,None,03,폐업,02,...,None,None,None,None,None,N,18.56,None,None,None
24431,24432,휴게음식점,07_24_05_P,3370000,3370000-104-2004-00025,20040603,None,03,폐업,02,...,None,None,None,None,None,N,5.86,None,None,None
24432,24433,휴게음식점,07_24_05_P,3370000,3370000-104-2004-00026,20040617,None,03,폐업,02,...,None,None,None,None,None,N,20.72,None,None,None
24433,24434,휴게음식점,07_24_05_P,3370000,3370000-104-2004-00028,20040806,None,03,폐업,02,...,None,None,None,None,None,N,8.76,None,None,None
24434,24435,휴게음식점,07_24_05_P,3260000,3260000-104-2020-00002,20200116,None,03,폐업,02,...,None,None,None,None,None,N,3,None,None,None