# Prepare and understand data for modeling
- https://12bme.tistory.com/309?category=737765

In [2]:
import findspark, pyspark
findspark.find()

'C:\\Bigdata\\spark-2.4.5-bin-hadoop2.7'

In [3]:
base_path = "../../data/RDD_example/"
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

conf  = pyspark.SparkConf().setAppName('appName').setMaster('local[2]')
sc    = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

## Duplicates

In [29]:
df = spark.createDataFrame([
                            (1, 144.5, 5.9, 33, 'M'),
                            (2, 167.2, 5.4, 45, 'M'),
                            (3, 124.1, 5.4, 23, 'F'),
                            (4, 144.5, 5.9, 33, 'M'),
                            (5, 133.2, 5.7, 54, 'F'),
                            (3, 124.1, 5.4, 23, 'F'),
                            (5, 129.2, 5.3, 42, 'M')
                            ], ['id', 'weight', 'height', 'age', 'gender'])

In [30]:
print( 'count of rows:{0}'.format(df.count()) )

count of rows:7

In [31]:
print( 'Count of Distinct rows: {0}'.format(df.distinct().count()) )

Count of Distinct rows: 6

In [32]:
df = df.dropDuplicates()
df.show()

+---+------+------+---+------+
| id|weight|height|age|gender|
+---+------+------+---+------+
|  5| 133.2|   5.7| 54|     F|
|  5| 129.2|   5.3| 42|     M|
|  1| 144.5|   5.9| 33|     M|
|  4| 144.5|   5.9| 33|     M|
|  2| 167.2|   5.4| 45|     M|
|  3| 124.1|   5.4| 23|     F|
+---+------+------+---+------+

In [33]:
print( 'count of rows:{0}'.format(df.count()) )

count of rows:6

In [34]:
# 특정컬럼을 제외한 리스트
cols = [c for c in df.columns if c != 'id']
cols

['weight', 'height', 'age', 'gender']

In [35]:
print( 'Count of Distinct ids: {0}'.format(df.select(cols).distinct().count()) )

Count of Distinct ids: 5

In [36]:
df = df.dropDuplicates(subset=[c for c in df.columns if c != 'id'])
df.show()

+---+------+------+---+------+
| id|weight|height|age|gender|
+---+------+------+---+------+
|  5| 133.2|   5.7| 54|     F|
|  1| 144.5|   5.9| 33|     M|
|  2| 167.2|   5.4| 45|     M|
|  3| 124.1|   5.4| 23|     F|
|  5| 129.2|   5.3| 42|     M|
+---+------+------+---+------+