## 연속 데이터 타입 (여러개의 값)
    
- 타입
    - 연속 데이터 타입
    
|타입명|기호|특징|
|---:|:---:|:---| 
|리스트|[]|- list()<br>- 인덱스 있음<br>- 값 중복가능|
|딕셔너리|{}|- dict()<br>- 인덱스 없이 키로 구분<br>- 키와 값의 세트구성<br>- 키 중복불가|
|튜플|()|- tuple()<br>- 리스트와 동일<br>- 수정불가(읽기용)<br>- 값을 단순히 묶는다|
|집합|{}|- set()<br>- 중복제거, 순서없음|

-표를 만들때 좌측우측 정렬은 : 을 사용

- **향후 접하게 될 연속 데이터 타입**-

|타입명|기호|특징|
|:---:|:---|:---| 
|배열|ndarray|- numpy(수학/과학용)의 타입, 데이터 분석, 머신러닝, 구성원의 타입이 동일해야함|
|시리즈|Series|- 1차원 구조 데이터, pandas, 데이터 분석, 머신러닝|
|데이터프레임|DataFrame|- 2차원 구조 데이터, pandas, 데이터 분석, 머신러닝|
|텐서|Tensor|- N차원, 딥러닝의 자료구조, tensorflow, pyTorch|

### 리스트

In [38]:
## 1. 리스트의 생성 및 기본성질
# 동적 생성
a = list()
# 값 자체를 확인, 타입확인, 맴버수 확인->크기확인
a, type(a), len(a)

([], list, 0)

In [39]:
# 데이터를 단순하게 넣어서 만드는것은 가능, 구조 복잡한 데이터일때
# 구성하기 곤란
a = list('abcd')
a

['a', 'b', 'c', 'd']

In [40]:
# 정적 생성 : 만들때 이미 데이터를 넣어서 만든다.
a= []
a, type(a), len(a)

([], list, 0)

In [41]:
a = [
    {
    'code':'USD',
    'price':1180   
    },
    {
        'code':'EUR',
        'prince':1430
    }
]
a

[{'code': 'USD', 'price': 1180}, {'code': 'EUR', 'prince': 1430}]

In [53]:
# 임시 구성
numbers = [1, 3, 5, 7, 9]
numbers, type(numbers), len(numbers)

([1, 3, 5, 7, 9], list, 5)

In [54]:
foods = ['돈까스', '햄버거', '라면']
foods, type(foods), len(foods)

(['돈까스', '햄버거', '라면'], list, 3)

In [55]:
# 맴버의 구성원의 타입이 다르다 -> ok -> 주소만 담으니까
# 구성원간의 차원이 달라서 ok
data_mixs = [1, 2, 3, '햄버거', [3.14, '부산대']]
data_mixs, type(data_mixs), len(data_mixs)

([1, 2, 3, '햄버거', [3.14, '부산대']], list, 5)

In [56]:
## 2. 리스트 안에 특정 맴법값을 획득 => 1놈만 획득 (인덱싱)
# 정방향 인덱스는 0부터 출발
data_mixs[3]

'햄버거'

In [57]:
# 역방향 인덱스는 -1부터
data_mixs[-1]

[3.14, '부산대']

In [58]:
# 계산 주의. 한번에 보지 말고.
len(data_mixs) *3, len(data_mixs[-1]), len(data_mixs[-1])*3

(15, 2, 6)

In [59]:
## 3. 슬라이싱
# 변수[시작인덱스:끝인덱스:스텝(간격)]
numbers

[1, 3, 5, 7, 9]

In [60]:
# 3, 5, 7만 획득 -> 리스트에서 리스트를 획득
numbers[1:-1]

[3, 5, 7]

In [61]:
# 1, 5, 9를 획득
numbers[::2]

[1, 5, 9]

In [62]:
## 4. 수정 -> 원본 변경
numbers[0]

1

In [63]:
numbers[0] = numbers[0]*100
numbers

[100, 3, 5, 7, 9]

In [64]:
# 여러개 수정, 개수 따라 다양하게 변경된다.
numbers[1:-1]

[3, 5, 7]

In [65]:
# 연속형 데이터만 대입이 가능
# 기존 데이터는 날라가고, 새로운 데이터가 리스트 형태에 맞춰서 삽입
# 정확하게 계산하지 않으면 의도하지 않은 결과획득
# 원본이 훼손되기 때문에 신중하게 처리, 사본떠서 작업
numbers[1:-1] = "50" # 원본수정
numbers

[100, '5', '0', 9]

In [75]:
numbers[:][1:-1] = "50" # 사본수정
numbers

([100, '5', '0', 9], [100, '5', '0', 9])

In [73]:
## 5. 추가
# +
# .append()
# .extend()

In [76]:
# +는 이어붙이기
a = [1,2,3]
b = [4,5,6]
# 리스트+리스트는 더해서 사본을 리턴, 원본 보존
a, b, a+b, a, b

([1, 2, 3], [4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3], [4, 5, 6])

In [77]:
# .append() : 추가하기 => 대상 리스트의 맴버로 추가 => 원본수정
a.append(b)
a

[1, 2, 3, [4, 5, 6]]

In [96]:
a = [1,2,3]
a

[1, 2, 3]

In [97]:
# .extend() => 동급으로 추가, 이어붙인다 =>원본조작
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [98]:
## 6. 삭제
# 파이선에서 제공하는 삭제밥
del a[0]
a

[2, 3, 4, 5, 6]

In [99]:
del a[:2]
a

[4, 5, 6]

In [100]:
# 리스트를 비울때
a.clear()
a

[]

In [93]:
del a

In [94]:
a

NameError: name 'a' is not defined

### 딕셔너리

- 타 언어에서의 딕셔너리 모습
  - Java : Map, Javascript : js객체, ios : NSDictionary, 데이터형식 : json
  - 호환성이 좋다.(타 언어와 통신으로 연동 시 )

In [101]:
## 1.딕셔너리 생성
# 정적 구성, 맴버를 직접 셋업하면서 생성하는 방식
dic = {}
dic, type(dic), len(dic)

({}, dict, 0)

In [ ]:
# 동적 구성, 차후에 데이터가 세팅되는 방식
dic = dict()
dic, type(dic), len(dic)

In [102]:
## 2. 기본 생성
# 키:값, 키:값, ...
# 키는 함수를 제외하고는 이론적으로 모든 타입이 가능, 문자열, 수치를 주로
exchanges = {
    "na" : "미국",
    "code" : "USD",
    "buy" : 1165.10,
    "sell" : 1185.48
}
exchanges

{'na': '미국', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48}

In [121]:
## 3. 인덱싱
# 키는 특정 데이터를 가르키는 고유 값 (중복불가)
# na라는 키가 잇으면 수정, 없으면 추가
exchanges["na"] ="America"
exchanges

{'code': 'USD', 'buy': 1165.1, 'sell': 1185.48, 1: 'EUR', 'na': 'America'}

In [122]:
# 인덱싱이 없으므로 1은 단순 키로 입력됨
exchanges[1] = "EUR"
exchanges

{'code': 'USD', 'buy': 1165.1, 'sell': 1185.48, 1: 'EUR', 'na': 'America'}

In [123]:
## 5. 슬라이싱 (불가)인덱싱이 없으므로

In [124]:
## 6. 형태 몇 데이터 확인
# 키만
exchanges.keys()

dict_keys(['code', 'buy', 'sell', 1, 'na'])

In [125]:
# 값만
exchanges.values()

dict_values(['USD', 1165.1, 1185.48, 'EUR', 'America'])

In [126]:
# 키, 값을 묶어서(튜플은 값을 묶는다)
exchanges.items()

dict_items([('code', 'USD'), ('buy', 1165.1), ('sell', 1185.48), (1, 'EUR'), ('na', 'America')])

In [127]:
# 이것이 프로그램적으로는 더 안정적, 해당 키가 없을때. 아래 비교
exchanges.get("na")

'America'

In [128]:
exchanges.get("na1")

In [129]:
exchanges("na1")

TypeError: 'dict' object is not callable

In [130]:
## 7. 삭제
del exchanges['na']
exchanges

{'code': 'USD', 'buy': 1165.1, 'sell': 1185.48, 1: 'EUR'}

In [ ]:
# 예시
a = [0,{"ret":1,"ret1":{"b":[13,45],"bbb":[23,34]},"ret2":[56,67]}]
# 0? 34? 
print(a[0])
print(a[1]["ret1"]["bbb"][1])

## 튜플

In [132]:
## 1. 튜플 생성
# 정적
tu = ()
tu, type(tu), len(tu)

((), tuple, 0)

In [133]:
# 동적
tu = tuple()
tu, type(tu), len(tu)

((), tuple, 0)

In [137]:
# 2. 기본 데이터 설정 및 생성
# 맴버가 1개이면 반드시 ,을 붙인다.
tu = (1,)
tmp = (1) #의도치 않은 타입으로 처리 된다.
type(tu), type(tmp)

(tuple, int)

In [138]:
tu = (1, 2, 3, 4, 5)
tu, type(tu), len(tu)

((1, 2, 3, 4, 5), tuple, 5)

In [139]:
# 값 변경, 데이터 추가, 삭제 불가
# readonly, immutable

In [140]:
## 3. 인덱싱, 슬라이싱
# 리스트와 동일하다
tu[0], tu[:2]

(1, (1, 2))

In [145]:
# 튜플을 변수로 받기 (리스트도 동일), 맴버수와 동일하게
a, b, c, d, e = tu
a, b, c, d, e

(1, 2, 3, 4, 5)

In [146]:
# 동일 숫자로 변수를 배치하지 않으면 오류 !!
a, b, c, d = tu

ValueError: too many values to unpack (expected 4)

In [147]:
# _더미처리. 변수인데 안쓰겠다.

In [152]:
a, b, c, d, _ = tu
a, b, c, d

(1, 2, 3, 4)

In [151]:
# 줄여서 받기
a, b, c, d = tu[:-1]
a, b, c, d

(1, 2, 3, 4)

In [153]:
# 튜플을 가장 많이 사용하는 곳은 
# 함수의 리턴값이 여러개일때 -> 여러개를 리턴하면
# 튜플로 반환된다.
def test():
    return 1, 3

In [155]:
a, b= test()
print(a, b)

1 3

## 집합
- 중복제거
- {값, 값, 값, .. } 딕셔너리 처럼 인덱스가 없지만 키도 없이 값만 있다.
- 중간적 형태

In [1]:
# 중복제거
set("helloworld")

{'d', 'e', 'h', 'l', 'o', 'r', 'w'}

In [4]:
#정렬되어 있지도 않다.
a = list(set("helloworld"))
a

['o', 'e', 'r', 'd', 'l', 'h', 'w']

In [5]:
a.sort()
a

['d', 'e', 'h', 'l', 'o', 'r', 'w']

In [15]:
### 합집합, 교집합, 차집합
a = set([1,2,1,2,3,3])
b = set([100,12,12,23,23,3,3])
a, b

({1, 2, 3}, {3, 12, 23, 100})

In [16]:
# 합집합
a.union(b)

{1, 2, 3, 12, 23, 100}

In [17]:
# 교집합
a.intersection(b)

{3}

In [18]:
# 차집합 (뺴는 방향)
a.difference(b), b.difference(a)

({1, 2}, {12, 23, 100})