In [16]:
import os ,csv
import pandas as pd 

from datetime import datetime
from datetime import timedelta
import time

# 현재 경로 확인 
print(os.getcwd())

files = os.listdir('./data/input')[:-3] # -3을 한 이유 -> 잘못받아와서 
for file in files:
    print(file)
    # print(len(file))
    path = f'./data/input/{file}'
    print(path)
    # for idx in range(len(files)):
    #     print(idx)
    #     path = f'./data/input/{files[idx]}'
    #     print(path, len(path))
    df   = pd.read_excel(path, encoding='utf-8')
    # print(df.head(2))
    # 년도 추출 
    year = file[:4]
    print(year) 
    print('='*100,'log_1')   
    drop_col = df.loc[:4-1,:]
    df = drop_col.iloc[[0,2,3],:]
    print(df)
    print('='*100,'log_2')   
    # 사본
    df_t = df.iloc[:]
    # 돌리기 
    df_t = df.T
    print(df_t.head(5))
    print('='*100,'log_3')  
    df_t= df_t.reset_index()
    # df_t.info()
    # df_t[3][1]
    cols_dic = {df_t.columns[0]:'date',
       df_t.columns[1]:'avg',
       df_t.columns[2]: df_t[2][1],
       df_t.columns[3]: df_t[3][1]}
    # print(cols_dic)
    df_t.rename(columns=cols_dic, inplace=True)
    del_cols = df_t.index[:2]
    df_t.drop(index=del_cols, inplace=True)
    df_t= df_t.reset_index()
    # print(df_t)
    df_t.drop('index',axis=1,inplace=True )
    print(df_t)
    print('='*100,'log_3')
    for idx, i in enumerate(df_t.date):
        print(i)
    #     print(df_t.date[idx])
        if i.month >= 10:
            month = str(i.month)
            df_t.date[idx]= year+'-'+month
            print(month, df_t.date[idx])
        else:
            month = "0"+str(i.month)
            df_t.date[idx]= year+'-'+month
            print(month, df_t.date[idx])
    print(df_t)
    print('='*100,'log_4')
    df = df_t.T
    print(df)
    # print(files[1][:17])
    name = files[1][:17]
    print(name)
#     try:
#         with open( f'./data/output/{name}.csv', encoding='euc-kr') as f :
#             wt = csv.writer(f)
#             wt.writerows(df)
#         print('정상작동', f,'\n','='*70 )

#     except Exception as e:

#         print('에러발생', e)
    df.to_csv(f'./data/output/{name}.csv', encoding='euc-kr', mode='w',index=False)

C:\Forecast-of-market-price
2015-01-01_Baechu_wholesale_func.xlsx
./data/input/2015-01-01_Baechu_wholesale_func.xlsx
2015
==================================================================================================== log_1
    구분 Unnamed: 1 2020-01-02 00:00:00 2020-01-05 00:00:00 2020-01-06 00:00:00  \
0   평균        NaN               3,800               3,800               3,800
2   서울         가을               4,000               4,000               4,000
3  NaN         월동                   -                   -                   -

  2020-01-07 00:00:00 2020-01-08 00:00:00 2020-01-09 00:00:00  \
0               3,800               3,800               3,800
2                   -                   -                   -
3               4,000               4,000               4,000

  2020-01-12 00:00:00 2020-01-13 00:00:00  ... 2020-03-18 00:00:00  \
0               3,800               3,800  ...               4,900
2                   -                   -  ...                   -
3               4,000               4,000  ...               6,000

  2020-03-19 00:00:00 2020-03-20 00:00:00 2020-03-23 00:00:00  \
0               5,000               4,900               5,100
2                   -                   -                   -
3               6,000               5,500               5,500

  2020-03-24 00:00:00 2020-03-25 00:00:00 2020-03-26 00:00:00  \
0               5,100               5,100               5,100
2                   -                   -                   -
3               5,500               5,500               5,500

  2020-03-27 00:00:00 2020-03-30 00:00:00 2020-03-31 00:00:00
0               5,100               5,000               5,000
2                   -                   -                   -
3               5,500               5,000               5,000

[3 rows x 62 columns]
==================================================================================================== log_2
                         0      2    3
구분                      평균     서울  NaN
Unnamed: 1             NaN     가을   월동
2020-01-02 00:00:00  3,800  4,000    -
2020-01-05 00:00:00  3,800  4,000    -
2020-01-06 00:00:00  3,800  4,000    -
==================================================================================================== log_3
                   date    avg     가을     월동
0   2020-01-02 00:00:00  3,800  4,000      -
1   2020-01-05 00:00:00  3,800  4,000      -
2   2020-01-06 00:00:00  3,800  4,000      -
3   2020-01-07 00:00:00  3,800      -  4,000
4   2020-01-08 00:00:00  3,800      -  4,000
5   2020-01-09 00:00:00  3,800      -  4,000
6   2020-01-12 00:00:00  3,800      -  4,000
7   2020-01-13 00:00:00  3,800      -  4,000
8   2020-01-14 00:00:00  3,800      -  4,000
9   2020-01-15 00:00:00  3,800      -  4,000
10  2020-01-16 00:00:00  3,800      -  4,000
11  2020-01-19 00:00:00  3,800      -  4,000
12  2020-01-20 00:00:00  3,800      -  4,000
13  2020-01-21 00:00:00  3,800      -  4,000
14  2020-01-22 00:00:00  3,800      -  4,000
15  2020-01-23 00:00:00  3,800      -  4,000
16  2020-01-26 00:00:00  3,800      -  4,000
17  2020-01-27 00:00:00  3,800      -  4,000
18  2020-01-28 00:00:00  3,800      -  4,000
19  2020-01-29 00:00:00  3,800      -  4,000
20  2020-01-30 00:00:00  3,800      -  4,000
21  2020-02-02 00:00:00  3,900      -  4,000
22  2020-02-03 00:00:00  3,900      -  4,000
23  2020-02-04 00:00:00  3,900      -  4,000
24  2020-02-05 00:00:00  3,900      -  4,000
25  2020-02-06 00:00:00  3,900      -  4,000
26  2020-02-09 00:00:00  4,000      -  4,000
27  2020-02-10 00:00:00  4,000      -  4,000
28  2020-02-11 00:00:00  4,100      -  4,500
29  2020-02-12 00:00:00  4,400      -  5,000
30  2020-02-13 00:00:00  4,400      -  5,000
31  2020-02-16 00:00:00  4,400      -  5,000
32  2020-02-17 00:00:00  4,400      -  5,000
33  2020-02-23 00:00:00  4,100      -  4,000
34  2020-02-24 00:00:00  4,100      -  4,000
35  2020-02-25 00:00:00  4,400      -  5,000
36  2020-02-26 00:00:00  4,400      -  5,000
37  2020-02-27 00:00:00  4,400      -  5,000
38  2020-03-02 00:00:00  4,500      -  5,500
39  2020-03-03 00:00:00  4,500      -  5,500
40  2020-03-04 00:00:00  4,700      -  6,000
41  2020-03-05 00:00:00  4,700      -  6,000
42  2020-03-06 00:00:00  4,700      -  6,000
43  2020-03-09 00:00:00  4,700      -  6,000
44  2020-03-10 00:00:00  4,700      -  6,000
45  2020-03-11 00:00:00  4,700      -  6,000
46  2020-03-12 00:00:00  4,800      -  6,000
47  2020-03-13 00:00:00  4,800      -  6,000
48  2020-03-16 00:00:00  4,800      -  6,000
49  2020-03-17 00:00:00  4,800      -  6,000
50  2020-03-18 00:00:00  4,900      -  6,000
51  2020-03-19 00:00:00  5,000      -  6,000
52  2020-03-20 00:00:00  4,900      -  5,500
53  2020-03-23 00:00:00  5,100      -  5,500
54  2020-03-24 00:00:00  5,100      -  5,500
55  2020-03-25 00:00:00  5,100      -  5,500
56  2020-03-26 00:00:00  5,100      -  5,500
57  2020-03-27 00:00:00  5,100      -  5,500
58  2020-03-30 00:00:00  5,000      -  5,000
59  2020-03-31 00:00:00  5,000      -  5,000
==================================================================================================== log_3
2020-01-02 00:00:00
01 2015-01
2020-01-05 00:00:00
01 2015-01
2020-01-06 00:00:00
01 2015-01
2020-01-07 00:00:00
01 2015-01
2020-01-08 00:00:00
01 2015-01
2020-01-09 00:00:00
01 2015-01
2020-01-12 00:00:00
01 2015-01
2020-01-13 00:00:00
01 2015-01
2020-01-14 00:00:00
01 2015-01
2020-01-15 00:00:00
01 2015-01
2020-01-16 00:00:00
01 2015-01
2020-01-19 00:00:00
01 2015-01
2020-01-20 00:00:00
01 2015-01
2020-01-21 00:00:00
01 2015-01
2020-01-22 00:00:00
01 2015-01
2020-01-23 00:00:00
01 2015-01
2020-01-26 00:00:00
01 2015-01
2020-01-27 00:00:00
01 2015-01
2020-01-28 00:00:00
01 2015-01
2020-01-29 00:00:00
01 2015-01
2020-01-30 00:00:00
01 2015-01
2020-02-02 00:00:00
02 2015-02
2020-02-03 00:00:00
02 2015-02
2020-02-04 00:00:00
02 2015-02
2020-02-05 00:00:00
02 2015-02
2020-02-06 00:00:00
02 2015-02
2020-02-09 00:00:00
02 2015-02
2020-02-10 00:00:00
02 2015-02
2020-02-11 00:00:00
02 2015-02
2020-02-12 00:00:00
02 2015-02
2020-02-13 00:00:00
02 2015-02
2020-02-16 00:00:00
02 2015-02
2020-02-17 00:00:00
02 2015-02
2020-02-23 00:00:00
02 2015-02
2020-02-24 00:00:00
02 2015-02
2020-02-25 00:00:00
02 2015-02
2020-02-26 00:00:00
02 2015-02
2020-02-27 00:00:00
02 2015-02
2020-03-02 00:00:00
03 2015-03
2020-03-03 00:00:00
03 2015-03
2020-03-04 00:00:00
03 2015-03
2020-03-05 00:00:00
03 2015-03
2020-03-06 00:00:00
03 2015-03
2020-03-09 00:00:00
03 2015-03
2020-03-10 00:00:00
03 2015-03
2020-03-11 00:00:00
03 2015-03
2020-03-12 00:00:00
03 2015-03
2020-03-13 00:00:00
03 2015-03
2020-03-16 00:00:00
03 2015-03
2020-03-17 00:00:00
03 2015-03
2020-03-18 00:00:00
03 2015-03
2020-03-19 00:00:00
03 2015-03
2020-03-20 00:00:00
03 2015-03
2020-03-23 00:00:00
03 2015-03
2020-03-24 00:00:00
03 2015-03
2020-03-25 00:00:00
03 2015-03
2020-03-26 00:00:00
03 2015-03
2020-03-27 00:00:00
03 2015-03
2020-03-30 00:00:00
03 2015-03
2020-03-31 00:00:00
03 2015-03
       date    avg     가을     월동
0   2015-01  3,800  4,000      -
1   2015-01  3,800  4,000      -
2   2015-01  3,800  4,000      -
3   2015-01  3,800      -  4,000
4   2015-01  3,800      -  4,000
5   2015-01  3,800      -  4,000
6   2015-01  3,800      -  4,000
7   2015-01  3,800      -  4,000
8   2015-01  3,800      -  4,000
9   2015-01  3,800      -  4,000
10  2015-01  3,800      -  4,000
11  2015-01  3,800      -  4,000
12  2015-01  3,800      -  4,000
13  2015-01  3,800      -  4,000
14  2015-01  3,800      -  4,000
15  2015-01  3,800      -  4,000
16  2015-01  3,800      -  4,000
17  2015-01  3,800      -  4,000
18  2015-01  3,800      -  4,000
19  2015-01  3,800      -  4,000
20  2015-01  3,800      -  4,000
21  2015-02  3,900      -  4,000
22  2015-02  3,900      -  4,000
23  2015-02  3,900      -  4,000
24  2015-02  3,900      -  4,000
25  2015-02  3,900      -  4,000
26  2015-02  4,000      -  4,000
27  2015-02  4,000      -  4,000
28  2015-02  4,100      -  4,500
29  2015-02  4,400      -  5,000
30  2015-02  4,400      -  5,000
31  2015-02  4,400      -  5,000
32  2015-02  4,400      -  5,000
33  2015-02  4,100      -  4,000
34  2015-02  4,100      -  4,000
35  2015-02  4,400      -  5,000
36  2015-02  4,400      -  5,000
37  2015-02  4,400      -  5,000
38  2015-03  4,500      -  5,500
39  2015-03  4,500      -  5,500
40  2015-03  4,700      -  6,000
41  2015-03  4,700      -  6,000
42  2015-03  4,700      -  6,000
43  2015-03  4,700      -  6,000
44  2015-03  4,700      -  6,000
45  2015-03  4,700      -  6,000
46  2015-03  4,800      -  6,000
47  2015-03  4,800      -  6,000
48  2015-03  4,800      -  6,000
49  2015-03  4,800      -  6,000
50  2015-03  4,900      -  6,000
51  2015-03  5,000      -  6,000
52  2015-03  4,900      -  5,500
53  2015-03  5,100      -  5,500
54  2015-03  5,100      -  5,500
55  2015-03  5,100      -  5,500
56  2015-03  5,100      -  5,500
57  2015-03  5,100      -  5,500
58  2015-03  5,000      -  5,000
59  2015-03  5,000      -  5,000
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2015-01  2015-01  2015-01  2015-01  2015-01  2015-01  2015-01  2015-01
avg     3,800    3,800    3,800    3,800    3,800    3,800    3,800    3,800
가을      4,000    4,000    4,000        -        -        -        -        -
월동          -        -        -    4,000    4,000    4,000    4,000    4,000

           8        9   ...       50       51       52       53       54  \
date  2015-01  2015-01  ...  2015-03  2015-03  2015-03  2015-03  2015-03
avg     3,800    3,800  ...    4,900    5,000    4,900    5,100    5,100
가을          -        -  ...        -        -        -        -        -
월동      4,000    4,000  ...    6,000    6,000    5,500    5,500    5,500

           55       56       57       58       59
date  2015-03  2015-03  2015-03  2015-03  2015-03
avg     5,100    5,100    5,100    5,000    5,000
가을          -        -        -        -        -
월동      5,500    5,500    5,500    5,000    5,000

[4 rows x 60 columns]
2015-04-01_Baechu
2015-04-01_Baechu_wholesale_func.xlsx
./data/input/2015-04-01_Baechu_wholesale_func.xlsx
2015
==================================================================================================== log_1
    구분 Unnamed: 1 2020-04-01 00:00:00 2020-04-02 00:00:00 2020-04-03 00:00:00  \
0   평균        NaN               4,900               5,000               5,000
2   서울          봄                   -                   -                   -
3  NaN         월동               4,500               4,500               4,500

  2020-04-06 00:00:00 2020-04-07 00:00:00 2020-04-08 00:00:00  \
0               5,000               5,000               5,000
2                   -                   -                   -
3               4,500               4,500               4,500

  2020-04-09 00:00:00 2020-04-10 00:00:00  ... 2020-06-17 00:00:00  \
0               4,800               4,800  ...               7,100
2                   -                   -  ...               6,500
3               4,000               4,000  ...                   -

  2020-06-18 00:00:00 2020-06-19 00:00:00 2020-06-22 00:00:00  \
0               6,700               6,700               6,800
2               6,500               6,500               7,000
3                   -                   -                   -

  2020-06-23 00:00:00 2020-06-24 00:00:00 2020-06-25 00:00:00  \
0               6,900               7,000               7,000
2               6,500               7,000               7,000
3                   -                   -                   -

  2020-06-26 00:00:00 2020-06-29 00:00:00 2020-06-30 00:00:00
0               7,000               7,000               7,000
2               7,000               7,000               7,000
3                   -                   -                   -

[3 rows x 64 columns]
==================================================================================================== log_2
                         0   2      3
구분                      평균  서울    NaN
Unnamed: 1             NaN   봄     월동
2020-04-01 00:00:00  4,900   -  4,500
2020-04-02 00:00:00  5,000   -  4,500
2020-04-03 00:00:00  5,000   -  4,500
==================================================================================================== log_3
                   date    avg      봄     월동
0   2020-04-01 00:00:00  4,900      -  4,500
1   2020-04-02 00:00:00  5,000      -  4,500
2   2020-04-03 00:00:00  5,000      -  4,500
3   2020-04-06 00:00:00  5,000      -  4,500
4   2020-04-07 00:00:00  5,000      -  4,500
..                  ...    ...    ...    ...
57  2020-06-24 00:00:00  7,000  7,000      -
58  2020-06-25 00:00:00  7,000  7,000      -
59  2020-06-26 00:00:00  7,000  7,000      -
60  2020-06-29 00:00:00  7,000  7,000      -
61  2020-06-30 00:00:00  7,000  7,000      -

[62 rows x 4 columns]
==================================================================================================== log_3
2020-04-01 00:00:00
04 2015-04
2020-04-02 00:00:00
04 2015-04
2020-04-03 00:00:00
04 2015-04
2020-04-06 00:00:00
04 2015-04
2020-04-07 00:00:00
04 2015-04
2020-04-08 00:00:00
04 2015-04
2020-04-09 00:00:00
04 2015-04
2020-04-10 00:00:00
04 2015-04
2020-04-13 00:00:00
04 2015-04
2020-04-14 00:00:00
04 2015-04
2020-04-15 00:00:00
04 2015-04
2020-04-16 00:00:00
04 2015-04
2020-04-17 00:00:00
04 2015-04
2020-04-20 00:00:00
04 2015-04
2020-04-21 00:00:00
04 2015-04
2020-04-22 00:00:00
04 2015-04
2020-04-23 00:00:00
04 2015-04
2020-04-24 00:00:00
04 2015-04
2020-04-27 00:00:00
04 2015-04
2020-04-28 00:00:00
04 2015-04
2020-04-29 00:00:00
04 2015-04
2020-04-30 00:00:00
04 2015-04
2020-05-04 00:00:00
05 2015-05
2020-05-06 00:00:00
05 2015-05
2020-05-07 00:00:00
05 2015-05
2020-05-08 00:00:00
05 2015-05
2020-05-11 00:00:00
05 2015-05
2020-05-12 00:00:00
05 2015-05
2020-05-13 00:00:00
05 2015-05
2020-05-14 00:00:00
05 2015-05
2020-05-15 00:00:00
05 2015-05
2020-05-18 00:00:00
05 2015-05
2020-05-19 00:00:00
05 2015-05
2020-05-20 00:00:00
05 2015-05
2020-05-21 00:00:00
05 2015-05
2020-05-22 00:00:00
05 2015-05
2020-05-26 00:00:00
05 2015-05
2020-05-27 00:00:00
05 2015-05
2020-05-28 00:00:00
05 2015-05
2020-05-29 00:00:00
05 2015-05
2020-06-01 00:00:00
06 2015-06
2020-06-02 00:00:00
06 2015-06
2020-06-03 00:00:00
06 2015-06
2020-06-04 00:00:00
06 2015-06
2020-06-05 00:00:00
06 2015-06
2020-06-08 00:00:00
06 2015-06
2020-06-09 00:00:00
06 2015-06
2020-06-10 00:00:00
06 2015-06
2020-06-11 00:00:00
06 2015-06
2020-06-12 00:00:00
06 2015-06
2020-06-15 00:00:00
06 2015-06
2020-06-16 00:00:00
06 2015-06
2020-06-17 00:00:00
06 2015-06
2020-06-18 00:00:00
06 2015-06
2020-06-19 00:00:00
06 2015-06
2020-06-22 00:00:00
06 2015-06
2020-06-23 00:00:00
06 2015-06
2020-06-24 00:00:00
06 2015-06
2020-06-25 00:00:00
06 2015-06
2020-06-26 00:00:00
06 2015-06
2020-06-29 00:00:00
06 2015-06
2020-06-30 00:00:00
06 2015-06
       date    avg      봄     월동
0   2015-04  4,900      -  4,500
1   2015-04  5,000      -  4,500
2   2015-04  5,000      -  4,500
3   2015-04  5,000      -  4,500
4   2015-04  5,000      -  4,500
..      ...    ...    ...    ...
57  2015-06  7,000  7,000      -
58  2015-06  7,000  7,000      -
59  2015-06  7,000  7,000      -
60  2015-06  7,000  7,000      -
61  2015-06  7,000  7,000      -

[62 rows x 4 columns]
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2015-04  2015-04  2015-04  2015-04  2015-04  2015-04  2015-04  2015-04
avg     4,900    5,000    5,000    5,000    5,000    5,000    4,800    4,800
봄           -        -        -        -        -        -        -        -
월동      4,500    4,500    4,500    4,500    4,500    4,500    4,000    4,000

           8        9   ...       52       53       54       55       56  \
date  2015-04  2015-04  ...  2015-06  2015-06  2015-06  2015-06  2015-06
avg     4,800    4,800  ...    7,100    6,700    6,700    6,800    6,900
봄           -        -  ...    6,500    6,500    6,500    7,000    6,500
월동      4,000    4,000  ...        -        -        -        -        -

           57       58       59       60       61
date  2015-06  2015-06  2015-06  2015-06  2015-06
avg     7,000    7,000    7,000    7,000    7,000
봄       7,000    7,000    7,000    7,000    7,000
월동          -        -        -        -        -

[4 rows x 62 columns]
2015-04-01_Baechu
2015-07-01_Baechu_wholesale_func.xlsx
./data/input/2015-07-01_Baechu_wholesale_func.xlsx
2015
==================================================================================================== log_1
    구분 Unnamed: 1 2020-07-01 00:00:00 2020-07-02 00:00:00 2020-07-03 00:00:00  \
0   평균        NaN               7,000               7,000               7,000
2   서울          봄               7,000               7,000               7,000
3  NaN        고랭지                   -                   -                   -

  2020-07-06 00:00:00 2020-07-07 00:00:00 2020-07-08 00:00:00  \
0               7,000               7,000               7,000
2               7,000               7,000               7,000
3                   -                   -                   -

  2020-07-09 00:00:00 2020-07-10 00:00:00  ... 2020-09-15 00:00:00  \
0               7,000               7,000  ...               5,800
2               7,000               7,000  ...                   -
3                   -                   -  ...               6,000

  2020-09-16 00:00:00 2020-09-17 00:00:00 2020-09-18 00:00:00  \
0               5,800               5,900               6,000
2                   -                   -                   -
3               6,000               6,500               7,000

  2020-09-21 00:00:00 2020-09-22 00:00:00 2020-09-23 00:00:00  \
0               5,800               6,100               6,400
2                   -                   -                   -
3               6,000               6,500               7,000

  2020-09-24 00:00:00 2020-09-25 00:00:00 2020-09-30 00:00:00
0               7,000               6,600               6,600
2                   -                   -                   -
3               7,000               7,000               7,000

[3 rows x 65 columns]
==================================================================================================== log_2
                         0      2    3
구분                      평균     서울  NaN
Unnamed: 1             NaN      봄  고랭지
2020-07-01 00:00:00  7,000  7,000    -
2020-07-02 00:00:00  7,000  7,000    -
2020-07-03 00:00:00  7,000  7,000    -
==================================================================================================== log_3
                   date    avg      봄    고랭지
0   2020-07-01 00:00:00  7,000  7,000      -
1   2020-07-02 00:00:00  7,000  7,000      -
2   2020-07-03 00:00:00  7,000  7,000      -
3   2020-07-06 00:00:00  7,000  7,000      -
4   2020-07-07 00:00:00  7,000  7,000      -
..                  ...    ...    ...    ...
58  2020-09-22 00:00:00  6,100      -  6,500
59  2020-09-23 00:00:00  6,400      -  7,000
60  2020-09-24 00:00:00  7,000      -  7,000
61  2020-09-25 00:00:00  6,600      -  7,000
62  2020-09-30 00:00:00  6,600      -  7,000

[63 rows x 4 columns]
==================================================================================================== log_3
2020-07-01 00:00:00
07 2015-07
2020-07-02 00:00:00
07 2015-07
2020-07-03 00:00:00
07 2015-07
2020-07-06 00:00:00
07 2015-07
2020-07-07 00:00:00
07 2015-07
2020-07-08 00:00:00
07 2015-07
2020-07-09 00:00:00
07 2015-07
2020-07-10 00:00:00
07 2015-07
2020-07-13 00:00:00
07 2015-07
2020-07-14 00:00:00
07 2015-07
2020-07-15 00:00:00
07 2015-07
2020-07-16 00:00:00
07 2015-07
2020-07-17 00:00:00
07 2015-07
2020-07-20 00:00:00
07 2015-07
2020-07-21 00:00:00
07 2015-07

2015-10-01_Baechu_wholesale_func.xlsx
./data/input/2015-10-01_Baechu_wholesale_func.xlsx
2015
==================================================================================================== log_1
    구분 Unnamed: 1 2020-10-01 00:00:00 2020-10-02 00:00:00 2020-10-05 00:00:00  \
0   평균        NaN               6,300               6,100               5,200
2   서울        고랭지               5,500               6,500               5,000
3  NaN         가을                   -                   -                   -

  2020-10-06 00:00:00 2020-10-07 00:00:00 2020-10-08 00:00:00  \
0               5,200               4,900               4,900
2               5,000               4,500               4,500
3                   -                   -                   -

  2020-10-12 00:00:00 2020-10-13 00:00:00  ... 2020-12-17 00:00:00  \
0               4,600               4,500  ...               4,200
2               4,500               4,500  ...                   -
3                   -                   -  ...               5,000

  2020-12-18 00:00:00 2020-12-21 00:00:00 2020-12-22 00:00:00  \
0               4,200               4,100               4,200
2                   -                   -                   -
3               5,000               5,000               5,000

  2020-12-23 00:00:00 2020-12-24 00:00:00 2020-12-28 00:00:00  \
0               4,100               4,100               4,300
2                   -                   -                   -
3               4,500               4,500               5,000

  2020-12-29 00:00:00 2020-12-30 00:00:00 2020-12-31 00:00:00
0               4,300               4,300               4,300
2                   -                   -                   -
3               5,000               5,000               5,000

[3 rows x 65 columns]
==================================================================================================== log_2
                         0      2    3
구분                      평균     서울  NaN
Unnamed: 1             NaN    고랭지   가을
2020-10-01 00:00:00  6,300  5,500    -
2020-10-02 00:00:00  6,100  6,500    -
2020-10-05 00:00:00  5,200  5,000    -
==================================================================================================== log_3
                   date    avg    고랭지     가을
0   2020-10-01 00:00:00  6,300  5,500      -
1   2020-10-02 00:00:00  6,100  6,500      -
2   2020-10-05 00:00:00  5,200  5,000      -
3   2020-10-06 00:00:00  5,200  5,000      -
4   2020-10-07 00:00:00  4,900  4,500      -
..                  ...    ...    ...    ...
58  2020-12-24 00:00:00  4,100      -  4,500
59  2020-12-28 00:00:00  4,300      -  5,000
60  2020-12-29 00:00:00  4,300      -  5,000
61  2020-12-30 00:00:00  4,300      -  5,000
62  2020-12-31 00:00:00  4,300      -  5,000

[63 rows x 4 columns]
==================================================================================================== log_3
2020-10-01 00:00:00
10 2015-10
2020-10-02 00:00:00
10 2015-10
2020-10-05 00:00:00
10 2015-10
2020-10-06 00:00:00
10 2015-10
2020-10-07 00:00:00
10 2015-10
2020-10-08 00:00:00
10 2015-10
2020-10-12 00:00:00
10 2015-10
2020-10-13 00:00:00
10 2015-10
2020-10-14 00:00:00
10 2015-10
2020-10-15 00:00:00
10 2015-10
2020-10-16 00:00:00
10 2015-10
2020-10-19 00:00:00
10 2015-10
2020-10-20 00:00:00
10 2015-10
2020-10-21 00:00:00
10 2015-10
2020-10-22 00:00:00
10 2015-10
2020-10-23 00:00:00
10 2015-10
2020-10-26 00:00:00
10 2015-10
2020-10-27 00:00:00
10 2015-10
2020-10-28 00:00:00
10 2015-10
2020-10-29 00:00:00
10 2015-10
2020-10-30 00:00:00
10 2015-10
2020-11-02 00:00:00
11 2015-11
2020-11-03 00:00:00
11 2015-11
2020-11-04 00:00:00
11 2015-11
2020-11-05 00:00:00
11 2015-11
2020-11-06 00:00:00
11 2015-11
2020-11-09 00:00:00
11 2015-11
2020-11-10 00:00:00
11 2015-11
2020-11-11 00:00:00
11 2015-11
2020-11-12 00:00:00
11 2015-11
2020-11-13 00:00:00
11 2015-11
2020-11-16 00:00:00
11 2015-11
2020-11-17 00:00:00
11 2015-11
2020-11-18 00:00:00
11 2015-11
2020-11-19 00:00:00
11 2015-11
2020-11-20 00:00:00
11 2015-11
2020-11-23 00:00:00
11 2015-11
2020-11-24 00:00:00
11 2015-11
2020-11-25 00:00:00
11 2015-11
2020-11-26 00:00:00
11 2015-11
2020-11-27 00:00:00
11 2015-11
2020-11-30 00:00:00
11 2015-11
2020-12-01 00:00:00
12 2015-12
2020-12-02 00:00:00
12 2015-12
2020-12-03 00:00:00
12 2015-12
2020-12-07 00:00:00
12 2015-12
2020-12-08 00:00:00
12 2015-12
2020-12-09 00:00:00
12 2015-12
2020-12-10 00:00:00
12 2015-12
2020-12-11 00:00:00
12 2015-12
2020-12-14 00:00:00
12 2015-12
2020-12-15 00:00:00
12 2015-12
2020-12-16 00:00:00
12 2015-12
2020-12-17 00:00:00
12 2015-12
2020-12-18 00:00:00
12 2015-12
2020-12-21 00:00:00
12 2015-12
2020-12-22 00:00:00
12 2015-12
2020-12-23 00:00:00
12 2015-12
2020-12-24 00:00:00
12 2015-12
2020-12-28 00:00:00
12 2015-12
2020-12-29 00:00:00
12 2015-12
2020-12-30 00:00:00
12 2015-12
2020-12-31 00:00:00
12 2015-12
       date    avg    고랭지     가을
0   2015-10  6,300  5,500      -
1   2015-10  6,100  6,500      -
2   2015-10  5,200  5,000      -
3   2015-10  5,200  5,000      -
4   2015-10  4,900  4,500      -
..      ...    ...    ...    ...
58  2015-12  4,100      -  4,500
59  2015-12  4,300      -  5,000
60  2015-12  4,300      -  5,000
61  2015-12  4,300      -  5,000
62  2015-12  4,300      -  5,000

[63 rows x 4 columns]
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2015-10  2015-10  2015-10  2015-10  2015-10  2015-10  2015-10  2015-10
avg     6,300    6,100    5,200    5,200    4,900    4,900    4,600    4,500
고랭지     5,500    6,500    5,000    5,000    4,500    4,500    4,500    4,500
가을          -        -        -        -        -        -        -        -

           8        9   ...       53       54       55       56       57  \
date  2015-10  2015-10  ...  2015-12  2015-12  2015-12  2015-12  2015-12
avg     4,200    4,000  ...    4,200    4,200    4,100    4,200    4,100
고랭지     4,500    4,000  ...        -        -        -        -        -
가을          -        -  ...    5,000    5,000    5,000    5,000    4,500

           58       59       60       61       62
date  2015-12  2015-12  2015-12  2015-12  2015-12
avg     4,100    4,300    4,300    4,300    4,300
고랭지         -        -        -        -        -
가을      4,500    5,000    5,000    5,000    5,000

[4 rows x 63 columns]
2015-04-01_Baechu
2016-01-01_Baechu_wholesale_func.xlsx
./data/input/2016-01-01_Baechu_wholesale_func.xlsx
2016
==================================================================================================== log_1
    구분 Unnamed: 1 2020-01-04 00:00:00 2020-01-05 00:00:00 2020-01-06 00:00:00  \
0   평균        NaN               4,400               4,500               4,500
2   서울         가을               4,500               4,500               4,500
3  NaN         월동               5,000               5,000               5,000

  2020-01-07 00:00:00 2020-01-08 00:00:00 2020-01-11 00:00:00  \
0               4,550               4,550               4,700
2               4,500               4,500                   -
3               5,000               5,000               5,000

  2020-01-12 00:00:00 2020-01-13 00:00:00  ... 2020-03-18 00:00:00  \
0               4,700               4,700  ...              12,000
2                   -                   -  ...                   -
3               5,000               5,000  ...              11,000

  2020-03-21 00:00:00 2020-03-22 00:00:00 2020-03-23 00:00:00  \
0              12,000              12,200              12,200
2                   -                   -                   -
3              11,000              11,000              11,000

  2020-03-24 00:00:00 2020-03-25 00:00:00 2020-03-28 00:00:00  \
0              12,000              12,200              13,200
2                   -                   -                   -
3              11,000              11,000              13,000

  2020-03-29 00:00:00 2020-03-30 00:00:00 2020-03-31 00:00:00
0              13,200              13,200              13,200
2                   -                   -                   -
3              13,000              13,000              13,000

[3 rows x 62 columns]
==================================================================================================== log_2
                         0      2      3
구분                      평균     서울    NaN
Unnamed: 1             NaN     가을     월동
2020-01-04 00:00:00  4,400  4,500  5,000
2020-01-05 00:00:00  4,500  4,500  5,000
2020-01-06 00:00:00  4,500  4,500  5,000
==================================================================================================== log_3
                   date     avg     가을      월동
0   2020-01-04 00:00:00   4,400  4,500   5,000
1   2020-01-05 00:00:00   4,500  4,500   5,000
2   2020-01-06 00:00:00   4,500  4,500   5,000
3   2020-01-07 00:00:00   4,550  4,500   5,000
4   2020-01-08 00:00:00   4,550  4,500   5,000
5   2020-01-11 00:00:00   4,700      -   5,000
6   2020-01-12 00:00:00   4,700      -   5,000
7   2020-01-13 00:00:00   4,700      -   5,000
8   2020-01-14 00:00:00   4,800      -   5,000
9   2020-01-15 00:00:00   4,800      -   5,000
10  2020-01-18 00:00:00   5,100      -   5,000
11  2020-01-19 00:00:00   5,300      -   6,000
12  2020-01-20 00:00:00   5,700      -   6,000
13  2020-01-21 00:00:00   5,800      -   6,500
14  2020-01-22 00:00:00   6,300      -   7,000
15  2020-01-25 00:00:00   6,900      -   7,000
16  2020-01-26 00:00:00   6,700      -   7,000
17  2020-01-27 00:00:00   7,400      -   7,000
18  2020-01-28 00:00:00   7,400      -   7,000
19  2020-01-29 00:00:00   7,600      -   7,000
20  2020-02-01 00:00:00   7,100      -   7,000
21  2020-02-02 00:00:00   7,000      -   6,500
22  2020-02-03 00:00:00   7,100      -   7,000
23  2020-02-04 00:00:00   7,100      -   7,000
24  2020-02-05 00:00:00   7,200      -   7,500
25  2020-02-11 00:00:00   7,000      -   7,500
26  2020-02-12 00:00:00   7,000      -   7,500
27  2020-02-15 00:00:00   7,600      -   8,000
28  2020-02-16 00:00:00   8,000      -   8,000
29  2020-02-17 00:00:00   8,400      -   8,000
30  2020-02-18 00:00:00   8,800      -   8,000
31  2020-02-19 00:00:00   9,000      -   9,000
32  2020-02-22 00:00:00   8,800      -   9,000
33  2020-02-23 00:00:00   9,400      -   9,000
34  2020-02-24 00:00:00   9,600      -  10,000
35  2020-02-25 00:00:00   9,200      -  10,000
36  2020-02-26 00:00:00   9,800      -  10,000
37  2020-02-29 00:00:00  10,000      -  10,000
38  2020-03-02 00:00:00  11,100      -  11,000
39  2020-03-03 00:00:00  11,000      -  11,000
40  2020-03-04 00:00:00  11,000      -  11,000
41  2020-03-07 00:00:00  11,600      -  11,000
42  2020-03-08 00:00:00  11,800      -  11,000
43  2020-03-09 00:00:00  11,800      -  11,000
44  2020-03-10 00:00:00  11,800      -  11,000
45  2020-03-11 00:00:00  11,800      -  11,000
46  2020-03-14 00:00:00  11,600      -  11,000
47  2020-03-15 00:00:00  11,600      -  11,000
48  2020-03-16 00:00:00  11,800      -  11,000
49  2020-03-17 00:00:00  11,800      -  11,000
50  2020-03-18 00:00:00  12,000      -  11,000
51  2020-03-21 00:00:00  12,000      -  11,000
52  2020-03-22 00:00:00  12,200      -  11,000
53  2020-03-23 00:00:00  12,200      -  11,000
54  2020-03-24 00:00:00  12,000      -  11,000
55  2020-03-25 00:00:00  12,200      -  11,000
56  2020-03-28 00:00:00  13,200      -  13,000
57  2020-03-29 00:00:00  13,200      -  13,000
58  2020-03-30 00:00:00  13,200      -  13,000
59  2020-03-31 00:00:00  13,200      -  13,000
==================================================================================================== log_3
2020-01-04 00:00:00
01 2016-01
2020-01-05 00:00:00
01 2016-01
2020-01-06 00:00:00
01 2016-01
2020-01-07 00:00:00
01 2016-01
2020-01-08 00:00:00
01 2016-01
2020-01-11 00:00:00
01 2016-01
2020-01-12 00:00:00
01 2016-01
2020-01-13 00:00:00
01 2016-01
2020-01-14 00:00:00
01 2016-01
2020-01-15 00:00:00
01 2016-01
2020-01-18 00:00:00
01 2016-01
2020-01-19 00:00:00
01 2016-01
2020-01-20 00:00:00
01 2016-01
2020-01-21 00:00:00
01 2016-01
2020-01-22 00:00:00
01 2016-01
2020-01-25 00:00:00
01 2016-01
2020-01-26 00:00:00
01 2016-01
2020-01-27 00:00:00
01 2016-01
2020-01-28 00:00:00
01 2016-01
2020-01-29 00:00:00
01 2016-01
2020-02-01 00:00:00
02 2016-02
2020-02-02 00:00:00
02 2016-02
2020-02-03 00:00:00
02 2016-02
2020-02-04 00:00:00
02 2016-02
2020-02-05 00:00:00
02 2016-02
2020-02-11 00:00:00
02 2016-02
2020-02-12 00:00:00
02 2016-02
2020-02-15 00:00:00
02 2016-02
2020-02-16 00:00:00
02 2016-02
2020-02-17 00:00:00
02 2016-02
2020-02-18 00:00:00
02 2016-02
2020-02-19 00:00:00
02 2016-02
2020-02-22 00:00:00
02 2016-02
2020-02-23 00:00:00
02 2016-02
2020-02-24 00:00:00
02 2016-02
2020-02-25 00:00:00
02 2016-02
2020-02-26 00:00:00
02 2016-02
2020-02-29 00:00:00
02 2016-02
2020-03-02 00:00:00
03 2016-03
2020-03-03 00:00:00
03 2016-03
2020-03-04 00:00:00
03 2016-03
2020-03-07 00:00:00
03 2016-03
2020-03-08 00:00:00
03 2016-03
2020-03-09 00:00:00
03 2016-03
2020-03-10 00:00:00
03 2016-03
2020-03-11 00:00:00
03 2016-03
2020-03-14 00:00:00
03 2016-03
2020-03-15 00:00:00
03 2016-03
2020-03-16 00:00:00
03 2016-03
2020-03-17 00:00:00
03 2016-03
2020-03-18 00:00:00
03 2016-03
2020-03-21 00:00:00
03 2016-03
2020-03-22 00:00:00
03 2016-03
2020-03-23 00:00:00
03 2016-03
2020-03-24 00:00:00
03 2016-03
2020-03-25 00:00:00
03 2016-03
2020-03-28 00:00:00
03 2016-03
2020-03-29 00:00:00
03 2016-03
2020-03-30 00:00:00
03 2016-03
2020-03-31 00:00:00
03 2016-03
       date     avg     가을      월동
0   2016-01   4,400  4,500   5,000
1   2016-01   4,500  4,500   5,000
2   2016-01   4,500  4,500   5,000
3   2016-01   4,550  4,500   5,000
4   2016-01   4,550  4,500   5,000
5   2016-01   4,700      -   5,000
6   2016-01   4,700      -   5,000
7   2016-01   4,700      -   5,000
8   2016-01   4,800      -   5,000
9   2016-01   4,800      -   5,000
10  2016-01   5,100      -   5,000
11  2016-01   5,300      -   6,000
12  2016-01   5,700      -   6,000
13  2016-01   5,800      -   6,500
14  2016-01   6,300      -   7,000
15  2016-01   6,900      -   7,000
16  2016-01   6,700      -   7,000
17  2016-01   7,400      -   7,000
18  2016-01   7,400      -   7,000
19  2016-01   7,600      -   7,000
20  2016-02   7,100      -   7,000
21  2016-02   7,000      -   6,500
22  2016-02   7,100      -   7,000
23  2016-02   7,100      -   7,000
24  2016-02   7,200      -   7,500
25  2016-02   7,000      -   7,500
26  2016-02   7,000      -   7,500
27  2016-02   7,600      -   8,000
28  2016-02   8,000      -   8,000
29  2016-02   8,400      -   8,000
30  2016-02   8,800      -   8,000
31  2016-02   9,000      -   9,000
32  2016-02   8,800      -   9,000
33  2016-02   9,400      -   9,000
34  2016-02   9,600      -  10,000
35  2016-02   9,200      -  10,000
36  2016-02   9,800      -  10,000
37  2016-02  10,000      -  10,000
38  2016-03  11,100      -  11,000
39  2016-03  11,000      -  11,000
40  2016-03  11,000      -  11,000
41  2016-03  11,600      -  11,000
42  2016-03  11,800      -  11,000
43  2016-03  11,800      -  11,000
44  2016-03  11,800      -  11,000
45  2016-03  11,800      -  11,000
46  2016-03  11,600      -  11,000
47  2016-03  11,600      -  11,000
48  2016-03  11,800      -  11,000
49  2016-03  11,800      -  11,000
50  2016-03  12,000      -  11,000
51  2016-03  12,000      -  11,000
52  2016-03  12,200      -  11,000
53  2016-03  12,200      -  11,000
54  2016-03  12,000      -  11,000
55  2016-03  12,200      -  11,000
56  2016-03  13,200      -  13,000
57  2016-03  13,200      -  13,000
58  2016-03  13,200      -  13,000
59  2016-03  13,200      -  13,000
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2016-01  2016-01  2016-01  2016-01  2016-01  2016-01  2016-01  2016-01
avg     4,400    4,500    4,500    4,550    4,550    4,700    4,700    4,700
가을      4,500    4,500    4,500    4,500    4,500        -        -        -
월동      5,000    5,000    5,000    5,000    5,000    5,000    5,000    5,000

           8        9   ...       50       51       52       53       54  \
date  2016-01  2016-01  ...  2016-03  2016-03  2016-03  2016-03  2016-03
avg     4,800    4,800  ...   12,000   12,000   12,200   12,200   12,000
가을          -        -  ...        -        -        -        -        -
월동      5,000    5,000  ...   11,000   11,000   11,000   11,000   11,000

           55       56       57       58       59
date  2016-03  2016-03  2016-03  2016-03  2016-03
avg    12,200   13,200   13,200   13,200   13,200
가을          -        -        -        -        -
월동     11,000   13,000   13,000   13,000   13,000

[4 rows x 60 columns]
2015-04-01_Baechu
2016-04-01_Baechu_wholesale_func.xlsx
./data/input/2016-04-01_Baechu_wholesale_func.xlsx
2016
==================================================================================================== log_1
    구분 Unnamed: 1 2020-04-01 00:00:00 2020-04-04 00:00:00 2020-04-05 00:00:00  \
0   평균        NaN              14,400              14,600              15,000
2   서울          봄                   -                   -                   -
3  NaN         월동              13,000              13,000              13,000

  2020-04-06 00:00:00 2020-04-07 00:00:00 2020-04-08 00:00:00  \
0              15,200              15,600              15,600
2                   -                   -                   -
3              13,000              14,000              14,000

  2020-04-11 00:00:00 2020-04-12 00:00:00  ... 2020-06-17 00:00:00  \
0              15,600              15,400  ...               5,400
2                   -                   -  ...               6,000
3              14,000              14,000  ...                   -

  2020-06-20 00:00:00 2020-06-21 00:00:00 2020-06-22 00:00:00  \
0               6,000               6,500               6,100
2               6,000               6,500               6,500
3                   -                   -                   -

  2020-06-23 00:00:00 2020-06-24 00:00:00 2020-06-27 00:00:00  \
0               6,500               6,600               6,400
2               6,500               6,000               6,000
3                   -                   -                   -

  2020-06-28 00:00:00 2020-06-29 00:00:00 2020-06-30 00:00:00
0               6,200               5,700               5,700
2               5,000               5,000               5,000
3                   -                   -                   -

[3 rows x 63 columns]
==================================================================================================== log_2
                          0   2       3
구분                       평균  서울     NaN
Unnamed: 1              NaN   봄      월동
2020-04-01 00:00:00  14,400   -  13,000
2020-04-04 00:00:00  14,600   -  13,000
2020-04-05 00:00:00  15,000   -  13,000
==================================================================================================== log_3
                   date     avg      봄      월동
0   2020-04-01 00:00:00  14,400      -  13,000
1   2020-04-04 00:00:00  14,600      -  13,000
2   2020-04-05 00:00:00  15,000      -  13,000
3   2020-04-06 00:00:00  15,200      -  13,000
4   2020-04-07 00:00:00  15,600      -  14,000
..                  ...     ...    ...     ...
56  2020-06-24 00:00:00   6,600  6,000       -
57  2020-06-27 00:00:00   6,400  6,000       -
58  2020-06-28 00:00:00   6,200  5,000       -
59  2020-06-29 00:00:00   5,700  5,000       -
60  2020-06-30 00:00:00   5,700  5,000       -

[61 rows x 4 columns]
==================================================================================================== log_3
2020-04-01 00:00:00
04 2016-04
2020-04-04 00:00:00
04 2016-04
2020-04-05 00:00:00
04 2016-04
2020-04-06 00:00:00
04 2016-04
2020-04-07 00:00:00
04 2016-04

2016
==================================================================================================== log_1
    구분 Unnamed: 1 2020-07-01 00:00:00 2020-07-04 00:00:00 2020-07-05 00:00:00  \
0   평균        NaN               5,700               5,700               6,200
2   서울          봄               5,000               5,000               6,000
3  NaN        고랭지                   -                   -                   -

  2020-07-06 00:00:00 2020-07-07 00:00:00 2020-07-08 00:00:00  \
0               6,500               7,200               7,200
2               5,500               7,000               7,000
3                   -                   -                   -

  2020-07-11 00:00:00 2020-07-12 00:00:00  ... 2020-09-19 00:00:00  \
0               7,000               7,400  ...              19,800
2               6,000               7,000  ...                   -
3                   -                   -  ...              20,000

  2020-09-20 00:00:00 2020-09-21 00:00:00 2020-09-22 00:00:00  \
0              20,200              20,400              20,000
2                   -                   -                   -
3              19,000              19,000              20,000

  2020-09-23 00:00:00 2020-09-26 00:00:00 2020-09-27 00:00:00  \
0              19,600              19,800              19,800
2                   -                   -                   -
3              20,000              21,000              21,000

  2020-09-28 00:00:00 2020-09-29 00:00:00 2020-09-30 00:00:00
0              19,600              18,600              18,600
2                   -                   -                   -
3              23,000              22,000              20,000

[3 rows x 64 columns]
==================================================================================================== log_2
                         0      2    3
구분                      평균     서울  NaN
Unnamed: 1             NaN      봄  고랭지
2020-07-01 00:00:00  5,700  5,000    -
2020-07-04 00:00:00  5,700  5,000    -
2020-07-05 00:00:00  6,200  6,000    -
==================================================================================================== log_3
                   date     avg      봄     고랭지
0   2020-07-01 00:00:00   5,700  5,000       -
1   2020-07-04 00:00:00   5,700  5,000       -
2   2020-07-05 00:00:00   6,200  6,000       -
3   2020-07-06 00:00:00   6,500  5,500       -
4   2020-07-07 00:00:00   7,200  7,000       -
..                  ...     ...    ...     ...
57  2020-09-26 00:00:00  19,800      -  21,000
58  2020-09-27 00:00:00  19,800      -  21,000
59  2020-09-28 00:00:00  19,600      -  23,000
60  2020-09-29 00:00:00  18,600      -  22,000
61  2020-09-30 00:00:00  18,600      -  20,000

[62 rows x 4 columns]
==================================================================================================== log_3
2020-07-01 00:00:00
07 2016-07
2020-07-04 00:00:00
07 2016-07
2020-07-05 00:00:00
07 2016-07
2020-07-06 00:00:00
07 2016-07
2020-07-07 00:00:00
07 2016-07
2020-07-08 00:00:00
07 2016-07
2020-07-11 00:00:00
07 2016-07
2020-07-12 00:00:00
07 2016-07
2020-07-13 00:00:00
07 2016-07
2020-07-14 00:00:00
07 2016-07
2020-07-15 00:00:00
07 2016-07
2020-07-18 00:00:00
07 2016-07
2020-07-19 00:00:00
07 2016-07
2020-07-20 00:00:00
07 2016-07
2020-07-21 00:00:00
07 2016-07
2020-07-22 00:00:00
07 2016-07
2020-07-25 00:00:00
07 2016-07
2020-07-26 00:00:00
07 2016-07
2020-07-27 00:00:00
07 2016-07
2020-07-28 00:00:00
07 2016-07
2020-07-29 00:00:00
07 2016-07
2020-08-01 00:00:00
08 2016-08
2020-08-02 00:00:00
08 2016-08
2020-08-03 00:00:00
08 2016-08
2020-08-04 00:00:00
08 2016-08
2020-08-05 00:00:00
08 2016-08
2020-08-08 00:00:00
08 2016-08
2020-08-09 00:00:00
08 2016-08
2020-08-10 00:00:00
08 2016-08
2020-08-11 00:00:00
08 2016-08
2020-08-12 00:00:00
08 2016-08
2020-08-16 00:00:00
08 2016-08
2020-08-17 00:00:00
08 2016-08
2020-08-18 00:00:00
08 2016-08
2020-08-19 00:00:00
08 2016-08
2020-08-22 00:00:00
08 2016-08
2020-08-23 00:00:00
08 2016-08
2020-08-24 00:00:00
08 2016-08
2020-08-25 00:00:00
08 2016-08
2020-08-26 00:00:00
08 2016-08
2020-08-29 00:00:00
08 2016-08
2020-08-30 00:00:00
08 2016-08
2020-08-31 00:00:00
08 2016-08
2020-09-01 00:00:00
09 2016-09
2020-09-02 00:00:00
09 2016-09
2020-09-05 00:00:00
09 2016-09
2020-09-06 00:00:00
09 2016-09
2020-09-07 00:00:00
09 2016-09
2020-09-08 00:00:00
09 2016-09
2020-09-09 00:00:00
09 2016-09
2020-09-12 00:00:00
09 2016-09
2020-09-13 00:00:00
09 2016-09
2020-09-19 00:00:00
09 2016-09
2020-09-20 00:00:00
09 2016-09
2020-09-21 00:00:00
09 2016-09
2020-09-22 00:00:00
09 2016-09
2020-09-23 00:00:00
09 2016-09
2020-09-26 00:00:00
09 2016-09
2020-09-27 00:00:00
09 2016-09
2020-09-28 00:00:00
09 2016-09
2020-09-29 00:00:00
09 2016-09
2020-09-30 00:00:00
09 2016-09
       date     avg      봄     고랭지
0   2016-07   5,700  5,000       -
1   2016-07   5,700  5,000       -
2   2016-07   6,200  6,000       -
3   2016-07   6,500  5,500       -
4   2016-07   7,200  7,000       -
..      ...     ...    ...     ...
57  2016-09  19,800      -  21,000
58  2016-09  19,800      -  21,000
59  2016-09  19,600      -  23,000
60  2016-09  18,600      -  22,000
61  2016-09  18,600      -  20,000

[62 rows x 4 columns]
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2016-07  2016-07  2016-07  2016-07  2016-07  2016-07  2016-07  2016-07
avg     5,700    5,700    6,200    6,500    7,200    7,200    7,000    7,400
봄       5,000    5,000    6,000    5,500    7,000    7,000    6,000    7,000
고랭지         -        -        -        -        -        -        -        -

           8        9   ...       52       53       54       55       56  \
date  2016-07  2016-07  ...  2016-09  2016-09  2016-09  2016-09  2016-09
avg     8,400    8,400  ...   19,800   20,200   20,400   20,000   19,600
봄       8,000    9,000  ...        -        -        -        -        -
고랭지         -        -  ...   20,000   19,000   19,000   20,000   20,000

           57       58       59       60       61
date  2016-09  2016-09  2016-09  2016-09  2016-09
avg    19,800   19,800   19,600   18,600   18,600
봄           -        -        -        -        -
고랭지    21,000   21,000   23,000   22,000   20,000

[4 rows x 62 columns]
2015-04-01_Baechu
2016-10-01_Baechu_wholesale_func.xlsx
./data/input/2016-10-01_Baechu_wholesale_func.xlsx
2016
==================================================================================================== log_1
    구분 Unnamed: 1 2020-10-04 00:00:00 2020-10-05 00:00:00 2020-10-06 00:00:00  \
0   평균        NaN              17,800              16,600              16,000
2   서울        고랭지              18,000              16,000              16,000
3  NaN         가을                   -                   -                   -

  2020-10-07 00:00:00 2020-10-10 00:00:00 2020-10-11 00:00:00  \
0              14,800              12,600              11,600
2              13,000              10,000              10,000
3                   -                   -                   -

  2020-10-12 00:00:00 2020-10-13 00:00:00  ... 2020-12-19 00:00:00  \
0              10,400               9,600  ...               9,200
2              10,000              10,000  ...                   -
3                   -                   -  ...               9,000

  2020-12-20 00:00:00 2020-12-21 00:00:00 2020-12-22 00:00:00  \
0               9,000               9,500               9,300
2                   -                   -                   -
3               9,000               9,000               9,000

  2020-12-23 00:00:00 2020-12-26 00:00:00 2020-12-27 00:00:00  \
0               9,000               9,200               9,200
2                   -                   -                   -
3               9,000               9,000               9,000

  2020-12-28 00:00:00 2020-12-29 00:00:00 2020-12-30 00:00:00
0               9,200               9,200               9,000
2                   -                   -                   -
3               9,000               9,000               9,000

[3 rows x 65 columns]
==================================================================================================== log_2
                          0       2    3
구분                       평균      서울  NaN
Unnamed: 1              NaN     고랭지   가을
2020-10-04 00:00:00  17,800  18,000    -
2020-10-05 00:00:00  16,600  16,000    -
2020-10-06 00:00:00  16,000  16,000    -
==================================================================================================== log_3
                   date     avg     고랭지     가을
0   2020-10-04 00:00:00  17,800  18,000      -
1   2020-10-05 00:00:00  16,600  16,000      -
2   2020-10-06 00:00:00  16,000  16,000      -
3   2020-10-07 00:00:00  14,800  13,000      -
4   2020-10-10 00:00:00  12,600  10,000      -
..                  ...     ...     ...    ...
58  2020-12-26 00:00:00   9,200       -  9,000
59  2020-12-27 00:00:00   9,200       -  9,000
60  2020-12-28 00:00:00   9,200       -  9,000
61  2020-12-29 00:00:00   9,200       -  9,000
62  2020-12-30 00:00:00   9,000       -  9,000

[63 rows x 4 columns]
==================================================================================================== log_3
2020-10-04 00:00:00
10 2016-10
2020-10-05 00:00:00
10 2016-10
2020-10-06 00:00:00
10 2016-10
2020-10-07 00:00:00
10 2016-10
2020-10-10 00:00:00
10 2016-10
2020-10-11 00:00:00
10 2016-10
2020-10-12 00:00:00
10 2016-10
2020-10-13 00:00:00
10 2016-10
2020-10-14 00:00:00
10 2016-10
2020-10-17 00:00:00
10 2016-10
2020-10-18 00:00:00
10 2016-10
2020-10-19 00:00:00
10 2016-10
2020-10-20 00:00:00
10 2016-10
2020-10-21 00:00:00
10 2016-10
2020-10-24 00:00:00
10 2016-10
2020-10-25 00:00:00
10 2016-10
2020-10-26 00:00:00
10 2016-10
2020-10-27 00:00:00
10 2016-10
2020-10-28 00:00:00
10 2016-10
2020-10-31 00:00:00
10 2016-10
2020-11-01 00:00:00
11 2016-11
2020-11-02 00:00:00
11 2016-11
2020-11-03 00:00:00
11 2016-11
2020-11-04 00:00:00
11 2016-11
2020-11-07 00:00:00
11 2016-11
2020-11-08 00:00:00
11 2016-11
2020-11-09 00:00:00
11 2016-11
2020-11-10 00:00:00
11 2016-11
2020-11-11 00:00:00
11 2016-11
2020-11-14 00:00:00
11 2016-11
2020-11-15 00:00:00
11 2016-11
2020-11-16 00:00:00
11 2016-11
2020-11-17 00:00:00
11 2016-11
2020-11-18 00:00:00
11 2016-11
2020-11-21 00:00:00
11 2016-11
2020-11-22 00:00:00
11 2016-11
2020-11-23 00:00:00
11 2016-11
2020-11-24 00:00:00
11 2016-11
2020-11-25 00:00:00
11 2016-11
2020-11-28 00:00:00
11 2016-11
2020-11-29 00:00:00
11 2016-11
2020-11-30 00:00:00
11 2016-11
2020-12-01 00:00:00
12 2016-12
2020-12-05 00:00:00
12 2016-12
2020-12-06 00:00:00
12 2016-12
2020-12-07 00:00:00
12 2016-12
2020-12-08 00:00:00
12 2016-12
2020-12-09 00:00:00
12 2016-12
2020-12-12 00:00:00
12 2016-12
2020-12-13 00:00:00
12 2016-12
2020-12-14 00:00:00
12 2016-12
2020-12-15 00:00:00
12 2016-12
2020-12-16 00:00:00
12 2016-12
2020-12-19 00:00:00
12 2016-12
2020-12-20 00:00:00
12 2016-12
2020-12-21 00:00:00
12 2016-12
2020-12-22 00:00:00
12 2016-12
2020-12-23 00:00:00
12 2016-12
2020-12-26 00:00:00
12 2016-12
2020-12-27 00:00:00
12 2016-12
2020-12-28 00:00:00
12 2016-12
2020-12-29 00:00:00
12 2016-12
2020-12-30 00:00:00
12 2016-12
       date     avg     고랭지     가을
0   2016-10  17,800  18,000      -
1   2016-10  16,600  16,000      -
2   2016-10  16,000  16,000      -
3   2016-10  14,800  13,000      -
4   2016-10  12,600  10,000      -
..      ...     ...     ...    ...
58  2016-12   9,200       -  9,000
59  2016-12   9,200       -  9,000
60  2016-12   9,200       -  9,000
61  2016-12   9,200       -  9,000
62  2016-12   9,000       -  9,000

[63 rows x 4 columns]
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2016-10  2016-10  2016-10  2016-10  2016-10  2016-10  2016-10  2016-10
avg    17,800   16,600   16,000   14,800   12,600   11,600   10,400    9,600
고랭지    18,000   16,000   16,000   13,000   10,000   10,000   10,000   10,000
가을          -        -        -        -        -        -        -        -

           8        9   ...       53       54       55       56       57  \
date  2016-10  2016-10  ...  2016-12  2016-12  2016-12  2016-12  2016-12
avg    10,000   10,000  ...    9,200    9,000    9,500    9,300    9,000
고랭지    11,000   10,000  ...        -        -        -        -        -
가을          -        -  ...    9,000    9,000    9,000    9,000    9,000

           58       59       60       61       62
date  2016-12  2016-12  2016-12  2016-12  2016-12
avg     9,200    9,200    9,200    9,200    9,000
고랭지         -        -        -        -        -
가을      9,000    9,000    9,000    9,000    9,000

[4 rows x 63 columns]
2015-04-01_Baechu
2017-01-01_Baechu_wholesale_func.xlsx
./data/input/2017-01-01_Baechu_wholesale_func.xlsx
2017
==================================================================================================== log_1
   구분 Unnamed: 1 2020-01-02 00:00:00 2020-01-03 00:00:00 2020-01-04 00:00:00  \
0  평균        NaN               9,600              10,000              10,400
2  서울         월동              10,000              10,000              10,000
3  부산         월동               9,000              10,000              10,000

  2020-01-05 00:00:00 2020-01-06 00:00:00 2020-01-09 00:00:00  \
0               9,800               9,400               9,400
2              10,000               9,000               9,000
3              10,000              10,000              10,000

  2020-01-10 00:00:00 2020-01-11 00:00:00  ... 2020-03-20 00:00:00  \
0               9,400              10,000  ...               9,500
2               9,000              10,000  ...              10,000
3              10,000              10,000  ...               9,000

  2020-03-21 00:00:00 2020-03-22 00:00:00 2020-03-23 00:00:00  \
0               9,500               9,300               8,900
2              10,000               9,000               9,000
3               9,000               9,000               9,000

  2020-03-24 00:00:00 2020-03-27 00:00:00 2020-03-28 00:00:00  \
0               9,300               9,900               9,500
2               9,000               9,000               9,000
3               9,000              10,000               9,000

  2020-03-29 00:00:00 2020-03-30 00:00:00 2020-03-31 00:00:00
0               9,300               9,300               9,300
2               8,000               8,000               8,000
3               9,000               9,000               9,000

[3 rows x 64 columns]
==================================================================================================== log_2
                          0       2       3
구분                       평균      서울      부산
Unnamed: 1              NaN      월동      월동
2020-01-02 00:00:00   9,600  10,000   9,000
2020-01-03 00:00:00  10,000  10,000  10,000
2020-01-04 00:00:00  10,400  10,000  10,000
==================================================================================================== log_3
                   date     avg      월동      월동
0   2020-01-02 00:00:00   9,600  10,000   9,000
1   2020-01-03 00:00:00  10,000  10,000  10,000
2   2020-01-04 00:00:00  10,400  10,000  10,000
3   2020-01-05 00:00:00   9,800  10,000  10,000
4   2020-01-06 00:00:00   9,400   9,000  10,000
..                  ...     ...     ...     ...
57  2020-03-27 00:00:00   9,900   9,000  10,000
58  2020-03-28 00:00:00   9,500   9,000   9,000
59  2020-03-29 00:00:00   9,300   8,000   9,000
60  2020-03-30 00:00:00   9,300   8,000   9,000
61  2020-03-31 00:00:00   9,300   8,000   9,000

[62 rows x 4 columns]
==================================================================================================== log_3
2020-01-02 00:00:00
01 2020-01-02 00:00:00
2020-01-03 00:00:00
01 2020-01-03 00:00:00
2020-01-04 00:00:00
01 2020-01-04 00:00:00
2020-01-05 00:00:00
01 2020-01-05 00:00:00
2020-01-06 00:00:00
01 2020-01-06 00:00:00
2020-01-09 00:00:00
01 2020-01-09 00:00:00
2020-01-10 00:00:00
01 2020-01-10 00:00:00
2020-01-11 00:00:00
01 2020-01-11 00:00:00
2020-01-12 00:00:00
01 2020-01-12 00:00:00
2020-01-13 00:00:00
01 2020-01-13 00:00:00
2020-01-16 00:00:00
01 2020-01-16 00:00:00
2020-01-17 00:00:00
01 2020-01-17 00:00:00
2020-01-18 00:00:00
01 2020-01-18 00:00:00
2020-01-19 00:00:00
01 2020-01-19 00:00:00
2020-01-20 00:00:00
01 2020-01-20 00:00:00
2020-01-23 00:00:00
01 2020-01-23 00:00:00
2020-01-24 00:00:00
01 2020-01-24 00:00:00
2020-01-25 00:00:00
01 2020-01-25 00:00:00
2020-01-26 00:00:00
01 2020-01-26 00:00:00
2020-01-31 00:00:00
01 2020-01-31 00:00:00
2020-02-01 00:00:00
02 2020-02-01 00:00:00
2020-02-02 00:00:00
02 2020-02-02 00:00:00
2020-02-03 00:00:00
02 2020-02-03 00:00:00
2020-02-06 00:00:00
02 2020-02-06 00:00:00
2020-02-07 00:00:00
02 2020-02-07 00:00:00
2020-02-08 00:00:00
02 2020-02-08 00:00:00
2020-02-09 00:00:00
02 2020-02-09 00:00:00
2020-02-10 00:00:00
02 2020-02-10 00:00:00
2020-02-13 00:00:00
02 2020-02-13 00:00:00
2020-02-14 00:00:00
02 2020-02-14 00:00:00
2020-02-15 00:00:00
02 2020-02-15 00:00:00
2020-02-16 00:00:00
02 2020-02-16 00:00:00
2020-02-17 00:00:00
02 2020-02-17 00:00:00
2020-02-20 00:00:00
02 2020-02-20 00:00:00
2020-02-21 00:00:00
02 2020-02-21 00:00:00
2020-02-22 00:00:00
02 2020-02-22 00:00:00
2020-02-23 00:00:00
02 2020-02-23 00:00:00
2020-02-24 00:00:00
02 2020-02-24 00:00:00
2020-02-27 00:00:00
02 2020-02-27 00:00:00
2020-02-28 00:00:00
02 2020-02-28 00:00:00
2020-03-02 00:00:00
03 2020-03-02 00:00:00
2020-03-03 00:00:00
03 2020-03-03 00:00:00
2020-03-06 00:00:00
03 2020-03-06 00:00:00
2020-03-07 00:00:00
03 2020-03-07 00:00:00
2020-03-08 00:00:00
03 2020-03-08 00:00:00
2020-03-09 00:00:00
03 2020-03-09 00:00:00
2020-03-10 00:00:00
03 2020-03-10 00:00:00
2020-03-13 00:00:00
03 2020-03-13 00:00:00
2020-03-14 00:00:00
03 2020-03-14 00:00:00
2020-03-15 00:00:00
03 2020-03-15 00:00:00
2020-03-16 00:00:00
03 2020-03-16 00:00:00
2020-03-17 00:00:00
03 2020-03-17 00:00:00
2020-03-20 00:00:00
03 2020-03-20 00:00:00
2020-03-21 00:00:00
03 2020-03-21 00:00:00
2020-03-22 00:00:00
03

C:\Users\admin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

 2020-03-22 00:00:00
2020-03-23 00:00:00
03 2020-03-23 00:00:00
2020-03-24 00:00:00
03 2020-03-24 00:00:00
2020-03-27 00:00:00
03 2020-03-27 00:00:00
2020-03-28 00:00:00
03 2020-03-28 00:00:00
2020-03-29 00:00:00
03 2020-03-29 00:00:00
2020-03-30 00:00:00
03 2020-03-30 00:00:00
2020-03-31 00:00:00
03 2020-03-31 00:00:00
                   date     avg      월동      월동
0   2020-01-02 00:00:00   9,600  10,000   9,000
1   2020-01-03 00:00:00  10,000  10,000  10,000
2   2020-01-04 00:00:00  10,400  10,000  10,000
3   2020-01-05 00:00:00   9,800  10,000  10,000
4   2020-01-06 00:00:00   9,400   9,000  10,000
..                  ...     ...     ...     ...
57  2020-03-27 00:00:00   9,900   9,000  10,000
58  2020-03-28 00:00:00   9,500   9,000   9,000
59  2020-03-29 00:00:00   9,300   8,000   9,000
60  2020-03-30 00:00:00   9,300   8,000   9,000
61  2020-03-31 00:00:00   9,300   8,000   9,000

[62 rows x 4 columns]
==================================================================================================== log_4
                       0                    1                    2   \
date  2020-01-02 00:00:00  2020-01-03 00:00:00  2020-01-04 00:00:00
avg                 9,600               10,000               10,400
월동                 10,000               10,000               10,000
월동                  9,000               10,000               10,000

                       3                    4                    5   \
date  2020-01-05 00:00:00  2020-01-06 00:00:00  2020-01-09 00:00:00
avg                 9,800                9,400                9,400
월동                 10,000                9,000                9,000
월동                 10,000               10,000               10,000

                       6                    7                    8   \
date  2020-01-10 00:00:00  2020-01-11 00:00:00  2020-01-12 00:00:00
avg                 9,400               10,000               10,000
월동                  9,000               10,000               10,000
월동                 10,000               10,000               10,000

                       9   ...                   52                   53  \
date  2020-01-13 00:00:00  ...  2020-03-20 00:00:00  2020-03-21 00:00:00
avg                10,000  ...                9,500                9,500
월동                 10,000  ...               10,000               10,000
월동                 10,000  ...                9,000                9,000

                       54                   55                   56  \
date  2020-03-22 00:00:00  2020-03-23 00:00:00  2020-03-24 00:00:00
avg                 9,300                8,900                9,300
월동                  9,000                9,000                9,000
월동                  9,000                9,000                9,000

                       57                   58                   59  \
date  2020-03-27 00:00:00  2020-03-28 00:00:00  2020-03-29 00:00:00
avg                 9,900                9,500                9,300
월동                  9,000                9,000                8,000
월동                 10,000                9,000                9,000

                       60                   61
date  2020-03-30 00:00:00  2020-03-31 00:00:00
avg                 9,300                9,300
월동                  8,000                8,000
월동                  9,000                9,000

[4 rows x 62 columns]
2015-04-01_Baechu
2017-04-01_Baechu_wholesale_func.xlsx
./data/input/2017-04-01_Baechu_wholesale_func.xlsx
2017
==================================================================================================== log_1
    구분 Unnamed: 1 2020-04-03 00:00:00 2020-04-04 00:00:00 2020-04-05 00:00:00  \
0   평균        NaN               9,300               9,300               9,100
2   서울          봄                   -                   -                   -
3  NaN         월동               8,000               8,000               8,000

  2020-04-06 00:00:00 2020-04-07 00:00:00 2020-04-10 00:00:00  \
0               8,700               8,500               8,000
2                   -                   -                   -
3               8,000               8,000               8,000

  2020-04-11 00:00:00 2020-04-12 00:00:00  ... 2020-06-19 00:00:00  \
0               8,400               7,500  ...               4,700
2                   -                   -  ...               5,000
3               8,000               7,000  ...                   -

  2020-06-20 00:00:00 2020-06-21 00:00:00 2020-06-22 00:00:00  \
0               4,700               4,700               5,300
2               5,000               5,000               5,000
3                   -                   -                   -

  2020-06-23 00:00:00 2020-06-26 00:00:00 2020-06-27 00:00:00  \
0               5,800               5,500               5,600
2               5,000               5,000               5,000
3                   -                   -                   -

  2020-06-28 00:00:00 2020-06-29 00:00:00 2020-06-30 00:00:00
0               5,600               5,600               5,400
2               5,000               5,000               5,000
3                   -                   -                   -

[3 rows x 62 columns]
==================================================================================================== log_2
                         0   2      3
구분                      평균  서울    NaN
Unnamed: 1             NaN   봄     월동
2020-04-03 00:00:00  9,300   -  8,000
2020-04-04 00:00:00  9,300   -  8,000
2020-04-05 00:00:00  9,100   -  8,000
==================================================================================================== log_3
                   date    avg      봄     월동
0   2020-04-03 00:00:00  9,300      -  8,000
1   2020-04-04 00:00:00  9,300      -  8,000
2   2020-04-05 00:00:00  9,100      -  8,000
3   2020-04-06 00:00:00  8,700      -  8,000
4   2020-04-07 00:00:00  8,500      -  8,000
5   2020-04-10 00:00:00  8,000      -  8,000
6   2020-04-11 00:00:00  8,400      -  8,000
7   2020-04-12 00:00:00  7,500      -  7,000
8   2020-04-13 00:00:00  7,400      -  7,000
9   2020-04-14 00:00:00  7,400      -  7,000
10  2020-04-17 00:00:00  7,200      -  7,000
11  2020-04-18 00:00:00  7,200      -  7,000
12  2020-04-19 00:00:00  7,400      -  8,000
13  2020-04-20 00:00:00  7,400      -  8,000
14  2020-04-21 00:00:00  7,400      -  8,000
15  2020-04-24 00:00:00  7,400      -  8,000
16  2020-04-25 00:00:00  7,100      -  9,000
17  2020-04-26 00:00:00  7,000      -  9,000
18  2020-04-27 00:00:00  7,000      -  9,000
19  2020-04-28 00:00:00  6,800      -  8,000
20  2020-05-02 00:00:00  5,350  4,000  8,000
21  2020-05-04 00:00:00  5,500  4,000  9,000
22  2020-05-08 00:00:00  5,650  4,000  9,000
23  2020-05-10 00:00:00  5,650  4,000  9,000
24  2020-05-11 00:00:00  4,000  4,000      -
25  2020-05-12 00:00:00  4,000  4,000      -
26  2020-05-15 00:00:00  3,700  4,000      -
27  2020-05-16 00:00:00  3,800  4,000      -
28  2020-05-17 00:00:00  3,800  4,000      -
29  2020-05-18 00:00:00  3,700  4,000      -
30  2020-05-19 00:00:00  3,900  4,000      -
31  2020-05-22 00:00:00  4,300  5,000      -
32  2020-05-23 00:00:00  4,300  5,000      -
33  2020-05-24 00:00:00  4,300  5,000      -
34  2020-05-25 00:00:00  4,300  5,000      -
35  2020-05-26 00:00:00  4,300  5,000      -
36  2020-05-29 00:00:00  3,500  4,000      -
37  2020-05-30 00:00:00  3,900  4,000      -
38  2020-05-31 00:00:00  3,700  4,000      -
39  2020-06-01 00:00:00  3,600  4,000      -
40  2020-06-02 00:00:00  3,900  4,000      -
41  2020-06-05 00:00:00  4,300  4,000      -
42  2020-06-07 00:00:00  5,200  5,000      -
43  2020-06-08 00:00:00  5,200  6,000      -
44  2020-06-09 00:00:00  5,300  5,000      -
45  2020-06-12 00:00:00  4,700  5,000      -
46  2020-06-13 00:00:00  4,500  4,000      -
47  2020-06-14 00:00:00  4,500  4,000      -
48  2020-06-15 00:00:00  4,400  4,000      -
49  2020-06-16 00:00:00  4,300  4,000      -
50  2020-06-19 00:00:00  4,700  5,000      -
51  2020-06-20 00:00:00  4,700  5,000      -
52  2020-06-21 00:00:00  4,700  5,000      -
53  2020-06-22 00:00:00  5,300  5,000      -
54  2020-06-23 00:00:00  5,800  5,000      -
55  2020-06-26 00:00:00  5,500  5,000      -
56  2020-06-27 00:00:00  5,600  5,000      -
57  2020-06-28 00:00:00  5,600  5,000      -
58  2020-06-29 00:00:00  5,600  5,000      -
59  2020-06-30 00:00:00  5,400  5,000      -
==================================================================================================== log_3
2020-04-03 00:00:00
04 2017-04
2020-04-04 00:00:00
04 2017-04
2020-04-05 00:00:00
04 2017-04
2020-04-06 00:00:00
04 2017-04
2020-04-07 00:00:00
04 2017-04
2020-04-10 00:00:00
04 2017-04
2020-04-11 00:00:00
04 2017-04
2020-04-12 00:00:00
04 2017-04
2020-04-13 00:00:00
04 2017-04
2020-04-14 00:00:00
04 2017-04
2020-04-17 00:00:00
04 2017-04
2020-04-18 00:00:00
04 2017-04
2020-04-19 00:00:00
04 2017-04
2020-04-20 00:00:00
04 2017-04
2020-04-21 00:00:00
04 2017-04
2020-04-24 00:00:00
04 2017-04
2020-04-25 00:00:00
04 2017-04
2020-04-26 00:00:00
04 2017-04
2020-04-27 00:00:00
04 2017-04
2020-04-28 00:00:00
04 2017-04
2020-05-02 00:00:00
05 2017-05
2020-05-04 00:00:00
05 2017-05
2020-05-08 00:00:00
05 2017-05
2020-05-10 00:00:00
05 2017-05
2020-05-11 00:00:00
05 2017-05
2020-05-12 00:00:00
05 2017-05
2020-05-15 00:00:00
05 2017-05
2020-05-16 00:00:00
05 2017-05
2020-05-17 00:00:00
05 2017-05
2020-05-18 00:00:00
05 2017-05
2020-05-19 00:00:00
05 2017-05
2020-05-22 00:00:00
05 2017-05
2020-05-23 00:00:00
05 2017-05
2020-05-24 00:00:00
05 2017-05
2020-05-25 00:00:00
05 2017-05
2020-05-26 00:00:00
05 2017-05
2020-05-29 00:00:00
05 2017-05
2020-05-30 00:00:00
05 2017-05
2020-05-31 00:00:00
05 2017-05
2020-06-01 00:00:00
06 2017-06
2020-06-02 00:00:00
06 2017-06
2020-06-05 00:00:00
06 2017-06
2020-06-07 00:00:00
06 2017-06
2020-06-08 00:00:00
06 2017-06
2020-06-09 00:00:00
06 2017-06
2020-06-12 00:00:00
06 2017-06
2020-06-13 00:00:00
06 2017-06
2020-06-14 00:00:00
06 2017-06
2020-06-15 00:00:00
06 2017-06
2020-06-16 00:00:00
06 2017-06
2020-06-19 00:00:00
06 2017-06
2020-06-20 00:00:00
06 2017-06
2020-06-21 00:00:00
06 2017-06
2020-06-22 00:00:00
06 2017-06
2020-06-23 00:00:00
06 2017-06
2020-06-26 00:00:00
06 2017-06
2020-06-27 00:00:00
06 2017-06
2020-06-28 00:00:00
06 2017-06
2020-06-29 00:00:00
06 2017-06
2020-06-30 00:00:00
06 2017-06
       date    avg      봄     월동
0   2017-04  9,300      -  8,000
1   2017-04  9,300      -  8,000
2   2017-04  9,100      -  8,000
3   2017-04  8,700      -  8,000
4   2017-04  8,500      -  8,000
5   2017-04  8,000      -  8,000
6   2017-04  8,400      -  8,000
7   2017-04  7,500      -  7,000
8   2017-04  7,400      -  7,000
9   2017-04  7,400      -  7,000
10  2017-04  7,200      -  7,000
11  2017-04  7,200      -  7,000
12  2017-04  7,400      -  8,000
13  2017-04  7,400      -  8,000
14  2017-04  7,400      -  8,000
15  2017-04  7,400      -  8,000
16  2017-04  7,100      -  9,000
17  2017-04  7,000      -  9,000
18  2017-04  7,000      -  9,000
19  2017-04  6,800      -  8,000
20  2017-05  5,350  4,000  8,000
21  2017-05  5,500  4,000  9,000
22  2017-05  5,650  4,000  9,000
23  2017-05  5,650  4,000  9,000
24  2017-05  4,000  4,000      -
25  2017-05  4,000  4,000      -
26  2017-05  3,700  4,000      -
27  2017-05  3,800  4,000      -
28  2017-05  3,800  4,000      -
29  2017-05  3,700  4,000      -
30  2017-05  3,900  4,000      -
31  2017-05  4,300  5,000      -
32  2017-05  4,300  5,000      -
33  2017-05  4,300  5,000      -
34  2017-05  4,300  5,000      -
35  2017-05  4,300  5,000      -
36  2017-05  3,500  4,000      -
37  2017-05  3,900  4,000      -
38  2017-05  3,700  4,000      -
39  2017-06  3,600  4,000      -
40  2017-06  3,900  4,000      -
41  2017-06  4,300  4,000      -
42  2017-06  5,200  5,000      -
43  2017-06  5,200  6,000      -
44  2017-06  5,300  5,000      -
45  2017-06  4,700  5,000      -
46  2017-06  4,500  4,000      -
47  2017-06  4,500  4,000      -
48  2017-06  4,400  4,000      -
49  2017-06  4,300  4,000      -
50  2017-06  4,700  5,000      -
51  2017-06  4,700  5,000      -
52  2017-06  4,700  5,000      -
53  2017-06  5,300  5,000      -
54  2017-06  5,800  5,000      -
55  2017-06  5,500  5,000      -
56  2017-06  5,600  5,000      -
57  2017-06  5,600  5,000      -
58  2017-06  5,600  5,000      -
59  2017-06  5,400  5,000      -
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2017-04  2017-04  2017-04  2017-04  2017-04  2017-04  2017-04  2017-04
avg     9,300    9,300    9,100    8,700    8,500    8,000    8,400    7,500
봄           -        -        -        -        -        -        -        -
월동      8,000    8,000    8,000    8,000    8,000    8,000    8,000    7,000

           8        9   ...       50       51       52       53       54  \
date  2017-04  2017-04  ...  2017-06  2017-06  2017-06  2017-06  2017-06
avg     7,400    7,400  ...    4,700    4,700    4,700    5,300    5,800
봄           -        -  ...    5,000    5,000    5,000    5,000    5,000
월동      7,000    7,000  ...        -        -        -        -        -

           55       56       57       58       59
date  2017-06  2017-06  2017-06  2017-06  2017-06
avg     5,500    5,600    5,600    5,600    5,400
봄       5,000    5,000    5,000    5,000    5,000
월동          -        -        -        -        -

[4 rows x 60 columns]
2015-04-01_Baechu
2017-07-01_Baechu_wholesale_func.xlsx
./data/input/2017-07-01_Baechu_wholesale_func.xlsx
2017
==================================================================================================== log_1
    구분 Unnamed: 1 2020-07-03 00:00:00 2020-07-04 00:00:00 2020-07-05 00:00:00  \
0   평균        NaN               6,000               6,100               6,300
2   서울          봄               6,000               5,000               5,000
3  NaN        고랭지                   -                   -                   -

  2020-07-06 00:00:00 2020-07-07 00:00:00 2020-07-10 00:00:00  \
0               5,800               5,600               6,240
2               5,000               5,000               6,000
3                   -                   -                   -

  2020-07-11 00:00:00 2020-07-12 00:00:00  ... 2020-09-18 00:00:00  \
0               6,700               7,800  ...              17,400
2               7,000               9,000  ...                   -
3                   -                   -  ...              18,000

  2020-09-19 00:00:00 2020-09-20 00:00:00 2020-09-21 00:00:00  \
0              16,800              17,000              16,200
2                   -                   -                   -
3              17,000              17,000              16,000

  2020-09-22 00:00:00 2020-09-25 00:00:00 2020-09-26 00:00:00  \
0              16,800              16,200              15,200
2                   -                   -                   -
3              16,000              16,000              15,000

  2020-09-27 00:00:00 2020-09-28 00:00:00 2020-09-29 00:00:00
0              14,800              13,600              14,200
2                   -                   -                   -
3              15,000              14,000              14,000

[3 rows x 66 columns]
==================================================================================================== log_2
                         0      2    3
구분                      평균     서울  NaN
Unnamed: 1             NaN      봄  고랭지
2020-07-03 00:00:00  6,000  6,000    -
2020-07-04 00:00:00  6,100  5,000    -
2020-07-05 00:00:00  6,300  5,000    -
==================================================================================================== log_3
                   date     avg      봄     고랭지
0   2020-07-03 00:00:00   6,000  6,000       -
1   2020-07-04 00:00:00   6,100  5,000       -
2   2020-07-05 00:00:00   6,300  5,000       -
3   2020-07-06 00:00:00   5,800  5,000       -
4   2020-07-07 00:00:00   5,600  5,000       -
..                  ...     ...    ...     ...
59  2020-09-25 00:00:00  16,200      -  16,000
60  2020-09-26 00:00:00  15,200      -  15,000
61  2020-09-27 00:00:00  14,800      -  15,000
62  2020-09-28 00:00:00  13,600      -  14,000
63  2020-09-29 00:00:00  14,200      -  14,000

[64 rows x 4 columns]
==================================================================================================== log_3
2020-07-03 00:00:00
07 2017-07
2020-07-04 00:00:00
07 2017-07
2020-07-05 00:00:00
07 2017-07
2020-07-06 00:00:00
07 2017-07
2020-07-07 00:00:00
07 2017-07
2020-07-10 00:00:00
07 2017-07
2020-07-11 00:00:00
07 2017-07
2020-07-12 00:00:00
07 2017-07
2020-07-13 00:00:00
07 2017-07
2020-07-14 00:00:00
07 2017-07
2020-07-17 00:00:00
07 2017-07
2020-07-18 00:00:00
07 2017-07
2020-07-19 00:00:00
07 2017-07
2020-07-20 00:00:00
07 2017-07
2020-07-21 00:00:00
07 2017-07
2020-07-24 00:00:00
07 2017-07
2020-07-25 00:00:00
07 2017-07
2020-07-26 00:00:00
07 2017-07
2020-07-27 00:00:00
07 2017-07
2020-07-28 00:00:00
07 2017-07
2020-07-31 00:00:00
07 2017-07
2020-08-01 00:00:00
08 2017-08
2020-08-02 00:00:00
08 2017-08
2020-08-03 00:00:00
08 2017-08
2020-08-04 00:00:00
08 2017-08
2020-08-07 00:00:00
08 2017-08
2020-08-08 00:00:00
08 2017-08
2020-08-09 00:00:00
08 2017-08
2020-08-10 00:00:00
08 2017-08
2020-08-11 00:00:00
08 2017-08
2020-08-14 00:00:00
08 2017-08
2020-08-16 00:00:00
08 2017-08
2020-08-17 00:00:00
08 2017-08
2020-08-18 00:00:00
08 2017-08
2020-08-21 00:00:00
08 2017-08
2020-08-22 00:00:00
08 2017-08
2020-08-23 00:00:00
08 2017-08
2020-08-24 00:00:00
08 2017-08
2020-08-25 00:00:00
08 2017-08
2020-08-28 00:00:00
08 2017-08
2020-08-29 00:00:00
08 2017-08
2020-08-30 00:00:00
08 2017-08
2020-08-31 00:00:00
08 2017-08
2020-09-01 00:00:00
09 2017-09
2020-09-04 00:00:00
09 2017-09
2020-09-05 00:00:00
09 2017-09
2020-09-06 00:00:00
09 2017-09
2020-09-07 00:00:00
09 2017-09
2020-09-08 00:00:00
09 2017-09
2020-09-11 00:00:00
09 2017-09
2020-09-12 00:00:00
09 2017-09
2020-09-13 00:00:00
09 2017-09
2020-09-14 00:00:00
09 2017-09
2020-09-15 00:00:00
09 2017-09
2020-09-18 00:00:00
09 2017-09
2020-09-19 00:00:00
09 2017-09
2020-09-20 00:00:00
09 2017-09
2020-09-21 00:00:00
09 2017-09
2020-09-22 00:00:00
09 2017-09
2020-09-25 00:00:00
09 2017-09
2020-09-26 00:00:00
09 2017-09
2020-09-27 00:00:00
09 2017-09
2020-09-28 00:00:00
09 2017-09
2020-09-29 00:00:00
09 2017-09
       date     avg      봄     고랭지
0   2017-07   6,000  6,000       -
1   2017-07   6,100  5,000       -
2   2017-07   6,300  5,000       -
3   2017-07   5,800  5,000       -
4   2017-07   5,600  5,000       -
..      ...     ...    ...     ...
59  2017-09  16,200      -  16,000
60  2017-09  15,200      -  15,000
61  2017-09  14,800      -  15,000
62  2017-09  13,600      -  14,000
63  2017-09  14,200      -  14,000

[64 rows x 4 columns]
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2017-07  2017-07  2017-07  2017-07  2017-07  2017-07  2017-07  2017-07
avg     6,000    6,100    6,300    5,800    5,600    6,240    6,700    7,800
봄       6,000    5,000    5,000    5,000    5,000    6,000    7,000    9,000
고랭지         -        -        -        -        -        -        -        -

           8        9   ...       54       55       56       57       58  \
date  2017-07  2017-07  ...  2017-09  2017-09  2017-09  2017-09  2017-09
avg     7,900    7,900  ...   17,400   16,800   17,000   16,200   16,800
봄       8,000    8,000  ...        -        -        -        -        -
고랭지         -        -  ...   18,000   17,000   17,000   16,000   16,000

           59       60       61       62       63
date  2017-09  2017-09  2017-09  2017-09  2017-09
avg    16,200   15,200   14,800   13,600   14,200
봄           -        -        -        -        -

56  2020-12-29 00:00:00   6,800       -  7,000
==================================================================================================== log_3
2020-10-10 00:00:00
10 2017-10
2020-10-11 00:00:00
10 2017-10
2020-10-12 00:00:00
10 2017-10
2020-10-13 00:00:00
10 2017-10
2020-10-16 00:00:00
10 2017-10
2020-10-17 00:00:00
10 2017-10
2020-10-18 00:00:00
10 2017-10
2020-10-19 00:00:00
10 2017-10
2020-10-20 00:00:00
10 2017-10
2020-10-23 00:00:00
10 2017-10
2020-10-24 00:00:00
10 2017-10
2020-10-25 00:00:00
10 2017-10
2020-10-26 00:00:00
10 2017-10
2020-10-27 00:00:00
10 2017-10
2020-10-30 00:00:00
10 2017-10
2020-10-31 00:00:00
10 2017-10
2020-11-01 00:00:00
11 2017-11
2020-11-02 00:00:00
11 2017-11
2020-11-03 00:00:00
11 2017-11
2020-11-06 00:00:00
11 2017-11
2020-11-07 00:00:00
11 2017-11
2020-11-08 00:00:00
11 2017-11
2020-11-09 00:00:00
11 2017-11
2020-11-10 00:00:00
11 2017-11
2020-11-13 00:00:00
11 2017-11
2020-11-14 00:00:00
11 2017-11
2020-11-15 00:00:00
11 2017-11
2020-11-16 00:00:00
11 2017-11
2020-11-17 00:00:00
11 2017-11
2020-11-20 00:00:00
11 2017-11
2020-11-21 00:00:00
11 2017-11
2020-11-22 00:00:00
11 2017-11
2020-11-23 00:00:00
11 2017-11
2020-11-24 00:00:00
11 2017-11
2020-11-27 00:00:00
11 2017-11
2020-11-28 00:00:00
11 2017-11
2020-11-29 00:00:00
11 2017-11
2020-11-30 00:00:00
11 2017-11
2020-12-04 00:00:00
12 2017-12
2020-12-05 00:00:00
12 2017-12
2020-12-06 00:00:00
12 2017-12
2020-12-07 00:00:00
12 2017-12
2020-12-08 00:00:00
12 2017-12
2020-12-11 00:00:00
12 2017-12
2020-12-12 00:00:00
12 2017-12
2020-12-13 00:00:00
12 2017-12
2020-12-14 00:00:00
12 2017-12
2020-12-15 00:00:00
12 2017-12
2020-12-18 00:00:00
12 2017-12
2020-12-19 00:00:00
12 2017-12
2020-12-20 00:00:00
12 2017-12
2020-12-21 00:00:00
12 2017-12
2020-12-22 00:00:00
12 2017-12
2020-12-26 00:00:00
12 2017-12
2020-12-27 00:00:00
12 2017-12
2020-12-28 00:00:00
12 2017-12
2020-12-29 00:00:00
12 2017-12
       date     avg     고랭지     가을
0   2017-10  13,000  12,000      -
1   2017-10  12,800  12,000      -
2   2017-10  10,200  10,000      -
3   2017-10   8,400   8,000      -
4   2017-10   7,400   7,000      -
5   2017-10   6,600   7,000      -
6   2017-10   6,400   7,000      -
7   2017-10   5,800   6,000      -
8   2017-10   5,400   6,000      -
9   2017-10   5,700   6,000  6,000
10  2017-10   5,700   6,000  6,000
11  2017-10   5,700   6,000  6,000
12  2017-10   5,700   6,000  6,000
13  2017-10   5,700   6,000  6,000
14  2017-10   5,760       -  6,000
15  2017-10   5,760       -  6,000
16  2017-11   5,400       -  6,000
17  2017-11   5,360       -  6,000
18  2017-11   5,460       -  6,000
19  2017-11   5,400       -  6,000
20  2017-11   5,460       -  6,000
21  2017-11   5,960       -  6,000
22  2017-11   6,000       -  6,000
23  2017-11   6,200       -  7,000
24  2017-11   6,200       -  6,000
25  2017-11   6,000       -  6,000
26  2017-11   6,000       -  6,000
27  2017-11   6,160       -  6,000
28  2017-11   6,440       -  6,000
29  2017-11   6,240       -  6,000
30  2017-11   6,500       -  7,000
31  2017-11   6,560       -  7,000
32  2017-11   7,000       -  7,000
33  2017-11   7,200       -  8,000
34  2017-11   6,200       -  7,000
35  2017-11   5,960       -  7,000
36  2017-11   5,960       -  6,000
37  2017-11   5,960       -  6,000
38  2017-12   5,840       -  6,000
39  2017-12   5,500       -  6,000
40  2017-12   5,460       -  6,000
41  2017-12   5,500       -  6,000
42  2017-12   6,220       -  6,000
43  2017-12   6,420       -  6,000
44  2017-12   6,420       -  6,000
45  2017-12   6,420       -  6,000
46  2017-12   6,600       -  7,000
47  2017-12   6,660       -  7,000
48  2017-12   6,860       -  7,000
49  2017-12   6,900       -  7,000
50  2017-12   7,000       -  7,000
51  2017-12   7,040       -  7,000
52  2017-12   7,040       -  7,000
53  2017-12   6,900       -  7,000
54  2017-12   6,960       -  7,000
55  2017-12   6,900       -  7,000
56  2017-12   6,800       -  7,000
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2017-10  2017-10  2017-10  2017-10  2017-10  2017-10  2017-10  2017-10
avg    13,000   12,800   10,200    8,400    7,400    6,600    6,400    5,800
고랭지    12,000   12,000   10,000    8,000    7,000    7,000    7,000    6,000
가을          -        -        -        -        -        -        -        -

           8        9   ...       47       48       49       50       51  \
date  2017-10  2017-10  ...  2017-12  2017-12  2017-12  2017-12  2017-12
avg     5,400    5,700  ...    6,660    6,860    6,900    7,000    7,040
고랭지     6,000    6,000  ...        -        -        -        -        -
가을          -    6,000  ...    7,000    7,000    7,000    7,000    7,000

           52       53       54       55       56
date  2017-12  2017-12  2017-12  2017-12  2017-12
avg     7,040    6,900    6,960    6,900    6,800
고랭지         -        -        -        -        -
가을      7,000    7,000    7,000    7,000    7,000

[4 rows x 57 columns]
2015-04-01_Baechu
2018-01-01_Baechu_wholesale_func.xlsx
./data/input/2018-01-01_Baechu_wholesale_func.xlsx
2018
==================================================================================================== log_1
    구분 Unnamed: 1 2020-01-02 00:00:00 2020-01-03 00:00:00 2020-01-04 00:00:00  \
0   평균        NaN               6,850               6,830               6,850
2   서울         가을               7,000               7,000               7,000
3  NaN         월동               7,000               7,000               7,000

  2020-01-05 00:00:00 2020-01-08 00:00:00 2020-01-09 00:00:00  \
0               6,850               7,000               7,000
2               7,000                   -                   -
3               7,000               7,000               7,000

  2020-01-10 00:00:00 2020-01-11 00:00:00  ... 2020-03-19 00:00:00  \
0               7,000               7,000  ...               8,300
2                   -                   -  ...                   -
3               7,000               7,000  ...               8,500

  2020-03-20 00:00:00 2020-03-21 00:00:00 2020-03-22 00:00:00  \
0               8,200               8,400               9,000
2                   -                   -                   -
3               8,500               9,000               9,000

  2020-03-23 00:00:00 2020-03-26 00:00:00 2020-03-27 00:00:00  \
0               9,200               9,200               9,100
2                   -                   -                   -
3               9,000               9,000               9,000

  2020-03-28 00:00:00 2020-03-29 00:00:00 2020-03-30 00:00:00
0               8,900               8,600               8,500
2                   -                   -                   -
3               9,000               8,500               8,500

[3 rows x 63 columns]
==================================================================================================== log_2
                         0      2      3
구분                      평균     서울    NaN
Unnamed: 1             NaN     가을     월동
2020-01-02 00:00:00  6,850  7,000  7,000
2020-01-03 00:00:00  6,830  7,000  7,000
2020-01-04 00:00:00  6,850  7,000  7,000
==================================================================================================== log_3
                   date    avg     가을     월동
0   2020-01-02 00:00:00  6,850  7,000  7,000
1   2020-01-03 00:00:00  6,830  7,000  7,000
2   2020-01-04 00:00:00  6,850  7,000  7,000
3   2020-01-05 00:00:00  6,850  7,000  7,000
4   2020-01-08 00:00:00  7,000      -  7,000
..                  ...    ...    ...    ...
56  2020-03-26 00:00:00  9,200      -  9,000
57  2020-03-27 00:00:00  9,100      -  9,000
58  2020-03-28 00:00:00  8,900      -  9,000
59  2020-03-29 00:00:00  8,600      -  8,500
60  2020-03-30 00:00:00  8,500      -  8,500

[61 rows x 4 columns]
==================================================================================================== log_3
2020-01-02 00:00:00
01 2018-01
2020-01-03 00:00:00
01 2018-01
2020-01-04 00:00:00
01 2018-01
2020-01-05 00:00:00
01 2018-01
2020-01-08 00:00:00
01 2018-01
2020-01-09 00:00:00
01 2018-01
2020-01-10 00:00:00
01 2018-01
2020-01-11 00:00:00
01 2018-01
2020-01-12 00:00:00
01 2018-01
2020-01-15 00:00:00
01 2018-01
2020-01-16 00:00:00
01 2018-01
2020-01-17 00:00:00
01 2018-01
2020-01-18 00:00:00
01 2018-01
2020-01-19 00:00:00
01 2018-01
2020-01-22 00:00:00
01 2018-01
2020-01-23 00:00:00
01 2018-01
2020-01-24 00:00:00
01 2018-01
2020-01-25 00:00:00
01 2018-01
2020-01-26 00:00:00
01 2018-01
2020-01-29 00:00:00
01 2018-01
2020-01-30 00:00:00
01 2018-01
2020-01-31 00:00:00
01 2018-01
2020-02-01 00:00:00
02 2018-02
2020-02-02 00:00:00
02 2018-02
2020-02-05 00:00:00
02 2018-02
2020-02-06 00:00:00
02 2018-02
2020-02-07 00:00:00
02 2018-02
2020-02-08 00:00:00
02 2018-02
2020-02-09 00:00:00
02 2018-02
2020-02-12 00:00:00
02 2018-02
2020-02-13 00:00:00
02 2018-02
2020-02-14 00:00:00
02 2018-02
2020-02-19 00:00:00
02 2018-02
2020-02-20 00:00:00
02 2018-02
2020-02-21 00:00:00
02 2018-02
2020-02-22 00:00:00
02 2018-02
2020-02-23 00:00:00
02 2018-02
2020-02-26 00:00:00
02 2018-02
2020-02-27 00:00:00
02 2018-02
2020-02-28 00:00:00
02 2018-02
2020-03-02 00:00:00
03 2018-03
2020-03-05 00:00:00
03 2018-03
2020-03-06 00:00:00
03 2018-03
2020-03-07 00:00:00
03 2018-03
2020-03-08 00:00:00
03 2018-03
2020-03-09 00:00:00
03 2018-03
2020-03-12 00:00:00
03 2018-03
2020-03-13 00:00:00
03 2018-03
2020-03-14 00:00:00
03 2018-03
2020-03-15 00:00:00
03 2018-03
2020-03-16 00:00:00
03 2018-03
2020-03-19 00:00:00
03 2018-03
2020-03-20 00:00:00
03 2018-03
2020-03-21 00:00:00
03 2018-03
2020-03-22 00:00:00
03 2018-03
2020-03-23 00:00:00
03 2018-03
2020-03-26 00:00:00
03 2018-03
2020-03-27 00:00:00
03 2018-03
2020-03-28 00:00:00
03 2018-03
2020-03-29 00:00:00
03 2018-03
2020-03-30 00:00:00
03 2018-03
       date    avg     가을     월동
0   2018-01  6,850  7,000  7,000
1   2018-01  6,830  7,000  7,000
2   2018-01  6,850  7,000  7,000
3   2018-01  6,850  7,000  7,000
4   2018-01  7,000      -  7,000
..      ...    ...    ...    ...
56  2018-03  9,200      -  9,000
57  2018-03  9,100      -  9,000
58  2018-03  8,900      -  9,000
59  2018-03  8,600      -  8,500
60  2018-03  8,500      -  8,500

[61 rows x 4 columns]
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2018-01  2018-01  2018-01  2018-01  2018-01  2018-01  2018-01  2018-01
avg     6,850    6,830    6,850    6,850    7,000    7,000    7,000    7,000
가을      7,000    7,000    7,000    7,000        -        -        -        -
월동      7,000    7,000    7,000    7,000    7,000    7,000    7,000    7,000

           8        9   ...       51       52       53       54       55  \
date  2018-01  2018-01  ...  2018-03  2018-03  2018-03  2018-03  2018-03
avg     6,960    6,800  ...    8,300    8,200    8,400    9,000    9,200
가을          -        -  ...        -        -        -        -        -
월동      7,000    7,000  ...    8,500    8,500    9,000    9,000    9,000

           56       57       58       59       60
date  2018-03  2018-03  2018-03  2018-03  2018-03
avg     9,200    9,100    8,900    8,600    8,500
가을          -        -        -        -        -
월동      9,000    9,000    9,000    8,500    8,500

[4 rows x 61 columns]
2015-04-01_Baechu
2018-04-01_Baechu_wholesale_func.xlsx
./data/input/2018-04-01_Baechu_wholesale_func.xlsx
2018
==================================================================================================== log_1
    구분 Unnamed: 1 2020-04-02 00:00:00 2020-04-03 00:00:00 2020-04-04 00:00:00  \
0   평균        NaN               8,500               8,500               8,200
2   서울          봄                   -                   -                   -
3  NaN         월동               8,500               8,500               8,500

  2020-04-05 00:00:00 2020-04-06 00:00:00 2020-04-09 00:00:00  \
0               8,300               7,900               8,000
2                   -                   -                   -
3               8,500               8,500               8,000

  2020-04-10 00:00:00 2020-04-11 00:00:00  ... 2020-06-18 00:00:00  \
0               8,300               8,300  ...               6,000
2                   -                   -  ...               5,000
3               8,000               8,000  ...                   -

  2020-06-19 00:00:00 2020-06-20 00:00:00 2020-06-21 00:00:00  \
0               6,000               5,900               5,800
2               5,000               5,000               5,000
3                   -                   -                   -

  2020-06-22 00:00:00 2020-06-25 00:00:00 2020-06-26 00:00:00  \
0               5,900               6,400               6,500
2               5,000               6,000               7,000
3                   -                   -                   -

  2020-06-27 00:00:00 2020-06-28 00:00:00 2020-06-29 00:00:00
0               6,900               7,066               6,666
2               7,000               7,000               7,000
3                   -                   -                   -

[3 rows x 62 columns]
==================================================================================================== log_2
                         0   2      3
구분                      평균  서울    NaN
Unnamed: 1             NaN   봄     월동
2020-04-02 00:00:00  8,500   -  8,500
2020-04-03 00:00:00  8,500   -  8,500
2020-04-04 00:00:00  8,200   -  8,500
==================================================================================================== log_3
                   date    avg      봄     월동
0   2020-04-02 00:00:00  8,500      -  8,500
1   2020-04-03 00:00:00  8,500      -  8,500
2   2020-04-04 00:00:00  8,200      -  8,500
3   2020-04-05 00:00:00  8,300      -  8,500
4   2020-04-06 00:00:00  7,900      -  8,500
5   2020-04-09 00:00:00  8,000      -  8,000
6   2020-04-10 00:00:00  8,300      -  8,000
7   2020-04-11 00:00:00  8,300      -  8,000
8   2020-04-12 00:00:00  8,400      -  8,000
9   2020-04-13 00:00:00  8,200      -  8,000
10  2020-04-16 00:00:00  8,300      -  8,000
11  2020-04-17 00:00:00  8,400      -  8,000
12  2020-04-18 00:00:00  8,100      -  7,500
13  2020-04-19 00:00:00  8,000      -  7,500
14  2020-04-20 00:00:00  8,000      -  7,500
15  2020-04-23 00:00:00  8,200      -  8,000
16  2020-04-24 00:00:00  8,200      -  8,000
17  2020-04-25 00:00:00  8,200      -  8,000
18  2020-04-26 00:00:00  7,900      -  8,000
19  2020-04-27 00:00:00  7,800      -  8,000
20  2020-04-30 00:00:00  8,000      -  8,000
21  2020-05-02 00:00:00  8,000      -  8,000
22  2020-05-03 00:00:00  7,800      -  8,000
23  2020-05-04 00:00:00  7,900      -  8,000
24  2020-05-08 00:00:00  7,200  5,000  8,000
25  2020-05-09 00:00:00  7,050  5,000  8,000
26  2020-05-10 00:00:00  7,050  5,000  8,000
27  2020-05-11 00:00:00  6,700  5,000  8,000
28  2020-05-14 00:00:00  6,630  5,000  7,000
29  2020-05-15 00:00:00  6,780  6,000  7,000
30  2020-05-16 00:00:00  6,780  6,000  7,000
31  2020-05-17 00:00:00  6,780  6,000  7,000
32  2020-05-18 00:00:00  6,750  6,000  7,000
33  2020-05-21 00:00:00  6,000  5,000      -
34  2020-05-23 00:00:00  5,400  4,500      -
35  2020-05-24 00:00:00  5,300  4,500      -
36  2020-05-25 00:00:00  5,300  4,500      -
37  2020-05-28 00:00:00  5,200  4,500      -
38  2020-05-29 00:00:00  5,200  4,500      -
39  2020-05-30 00:00:00  5,200  4,500      -
40  2020-05-31 00:00:00  5,100  5,000      -
41  2020-06-01 00:00:00  5,100  5,000      -
42  2020-06-04 00:00:00  4,900  4,000      -
43  2020-06-05 00:00:00  4,900  4,000      -
44  2020-06-07 00:00:00  4,900  4,000      -
45  2020-06-08 00:00:00  4,900  4,000      -
46  2020-06-11 00:00:00  5,000  4,000      -
47  2020-06-12 00:00:00  4,900  4,000      -
48  2020-06-14 00:00:00  5,500  5,000      -
49  2020-06-15 00:00:00  5,600  5,000      -
50  2020-06-18 00:00:00  6,000  5,000      -
51  2020-06-19 00:00:00  6,000  5,000      -
52  2020-06-20 00:00:00  5,900  5,000      -
53  2020-06-21 00:00:00  5,800  5,000      -
54  2020-06-22 00:00:00  5,900  5,000      -
55  2020-06-25 00:00:00  6,400  6,000      -
56  2020-06-26 00:00:00  6,500  7,000      -
57  2020-06-27 00:00:00  6,900  7,000      -
58  2020-06-28 00:00:00  7,066  7,000      -
59  2020-06-29 00:00:00  6,666  7,000      -
==================================================================================================== log_3
2020-04-02 00:00:00
04 2018-04
2020-04-03 00:00:00
04 2018-04
2020-04-04 00:00:00
04 2018-04
2020-04-05 00:00:00
04 2018-04
2020-04-06 00:00:00
04 2018-04
2020-04-09 00:00:00
04 2018-04
2020-04-10 00:00:00
04 2018-04
2020-04-11 00:00:00
04 2018-04
2020-04-12 00:00:00
04 2018-04
2020-04-13 00:00:00
04 2018-04
2020-04-16 00:00:00
04 2018-04
2020-04-17 00:00:00
04 2018-04
2020-04-18 00:00:00
04 2018-04
2020-04-19 00:00:00
04 2018-04
2020-04-20 00:00:00
04 2018-04
2020-04-23 00:00:00
04 2018-04
2020-04-24 00:00:00
04 2018-04
2020-04-25 00:00:00
04 2018-04
2020-04-26 00:00:00
04 2018-04
2020-04-27 00:00:00
04 2018-04
2020-04-30 00:00:00
04 2018-04
2020-05-02 00:00:00
05 2018-05
2020-05-03 00:00:00
05 2018-05
2020-05-04 00:00:00
05 2018-05
2020-05-08 00:00:00
05 2018-05
2020-05-09 00:00:00
05 2018-05
2020-05-10 00:00:00
05 2018-05
2020-05-11 00:00:00
05 2018-05
2020-05-14 00:00:00
05 2018-05
2020-05-15 00:00:00
05 2018-05
2020-05-16 00:00:00
05 2018-05
2020-05-17 00:00:00
05 2018-05
2020-05-18 00:00:00
05 2018-05
2020-05-21 00:00:00
05 2018-05
2020-05-23 00:00:00
05 2018-05
2020-05-24 00:00:00
05 2018-05
2020-05-25 00:00:00
05 2018-05
2020-05-28 00:00:00
05 2018-05
2020-05-29 00:00:00
05 2018-05
2020-05-30 00:00:00
05 2018-05
2020-05-31 00:00:00
05 2018-05
2020-06-01 00:00:00
06 2018-06
2020-06-04 00:00:00
06 2018-06
2020-06-05 00:00:00
06 2018-06
2020-06-07 00:00:00
06 2018-06
2020-06-08 00:00:00
06 2018-06
2020-06-11 00:00:00
06 2018-06
2020-06-12 00:00:00
06 2018-06
2020-06-14 00:00:00
06 2018-06
2020-06-15 00:00:00
06 2018-06
2020-06-18 00:00:00
06 2018-06
2020-06-19 00:00:00
06 2018-06
2020-06-20 00:00:00
06 2018-06
2020-06-21 00:00:00
06 2018-06
2020-06-22 00:00:00
06 2018-06
2020-06-25 00:00:00
06 2018-06
2020-06-26 00:00:00
06 2018-06
2020-06-27 00:00:00
06 2018-06
2020-06-28 00:00:00
06 2018-06
2020-06-29 00:00:00
06 2018-06
       date    avg      봄     월동
0   2018-04  8,500      -  8,500
1   2018-04  8,500      -  8,500
2   2018-04  8,200      -  8,500
3   2018-04  8,300      -  8,500
4   2018-04  7,900      -  8,500
5   2018-04  8,000      -  8,000
6   2018-04  8,300      -  8,000
7   2018-04  8,300      -  8,000
8   2018-04  8,400      -  8,000
9   2018-04  8,200      -  8,000
10  2018-04  8,300      -  8,000
11  2018-04  8,400      -  8,000
12  2018-04  8,100      -  7,500
13  2018-04  8,000      -  7,500
14  2018-04  8,000      -  7,500
15  2018-04  8,200      -  8,000
16  2018-04  8,200      -  8,000
17  2018-04  8,200      -  8,000
18  2018-04  7,900      -  8,000
19  2018-04  7,800      -  8,000
20  2018-04  8,000      -  8,000
21  2018-05  8,000      -  8,000
22  2018-05  7,800      -  8,000
23  2018-05  7,900      -  8,000
24  2018-05  7,200  5,000  8,000
25  2018-05  7,050  5,000  8,000
26  2018-05  7,050  5,000  8,000
27  2018-05  6,700  5,000  8,000
28  2018-05  6,630  5,000  7,000
29  2018-05  6,780  6,000  7,000
30  2018-05  6,780  6,000  7,000
31  2018-05  6,780  6,000  7,000
32  2018-05  6,750  6,000  7,000
33  2018-05  6,000  5,000      -
34  2018-05  5,400  4,500      -
35  2018-05  5,300  4,500      -
36  2018-05  5,300  4,500      -
37  2018-05  5,200  4,500      -
38  2018-05  5,200  4,500      -
39  2018-05  5,200  4,500      -
40  2018-05  5,100  5,000      -
41  2018-06  5,100  5,000      -
42  2018-06  4,900  4,000      -
43  2018-06  4,900  4,000      -

[61 rows x 4 columns]
==================================================================================================== log_3
2020-07-02 00:00:00
07 2018-07
2020-07-03 00:00:00
07 2018-07
2020-07-04 00:00:00
07 2018-07
2020-07-05 00:00:00
07 2018-07
2020-07-06 00:00:00
07 2018-07
2020-07-09 00:00:00
07 2018-07
2020-07-10 00:00:00
07 2018-07
2020-07-11 00:00:00
07 2018-07
2020-07-12 00:00:00
07 2018-07
2020-07-13 00:00:00
07 2018-07
2020-07-16 00:00:00
07 2018-07
2020-07-17 00:00:00
07 2018-07
2020-07-18 00:00:00
07 2018-07
2020-07-19 00:00:00
07 2018-07
2020-07-20 00:00:00
07 2018-07
2020-07-23 00:00:00
07 2018-07
2020-07-24 00:00:00
07 2018-07
2020-07-25 00:00:00
07 2018-07
2020-07-26 00:00:00
07 2018-07
2020-07-27 00:00:00
07 2018-07
2020-07-30 00:00:00
07 2018-07
2020-07-31 00:00:00
07 2018-07
2020-08-01 00:00:00
08 2018-08
2020-08-02 00:00:00
08 2018-08
2020-08-03 00:00:00
08 2018-08
2020-08-06 00:00:00
08 2018-08
2020-08-07 00:00:00
08 2018-08
2020-08-08 00:00:00
08 2018-08
2020-08-09 00:00:00
08 2018-08
2020-08-10 00:00:00
08 2018-08
2020-08-13 00:00:00
08 2018-08
2020-08-14 00:00:00
08 2018-08
2020-08-16 00:00:00
08 2018-08
2020-08-17 00:00:00
08 2018-08
2020-08-20 00:00:00
08 2018-08
2020-08-21 00:00:00
08 2018-08
2020-08-22 00:00:00
08 2018-08
2020-08-23 00:00:00
08 2018-08
2020-08-24 00:00:00
08 2018-08
2020-08-27 00:00:00
08 2018-08
2020-08-28 00:00:00
08 2018-08
2020-08-29 00:00:00
08 2018-08
2020-08-30 00:00:00
08 2018-08
2020-08-31 00:00:00
08 2018-08
2020-09-03 00:00:00
09 2018-09
2020-09-04 00:00:00
09 2018-09
2020-09-05 00:00:00
09 2018-09
2020-09-06 00:00:00
09 2018-09
2020-09-07 00:00:00
09 2018-09
2020-09-10 00:00:00
09 2018-09
2020-09-11 00:00:00
09 2018-09
2020-09-12 00:00:00
09 2018-09
2020-09-13 00:00:00
09 2018-09
2020-09-14 00:00:00
09 2018-09
2020-09-17 00:00:00
09 2018-09
2020-09-18 00:00:00
09 2018-09
2020-09-19 00:00:00
09 2018-09
2020-09-20 00:00:00
09 2018-09
2020-09-21 00:00:00
09 2018-09
2020-09-27 00:00:00
09 2018-09
2020-09-28 00:00:00
09 2018-09
       date     avg      봄     고랭지
0   2018-07   6,866  7,000       -
1   2018-07   6,932  7,000       -
2   2018-07   6,800  7,000       -
3   2018-07   6,700  6,000       -
4   2018-07   6,600  6,000       -
..      ...     ...    ...     ...
56  2018-09  14,400      -  12,000
57  2018-09  13,800      -  11,000
58  2018-09  14,000      -  11,000
59  2018-09  12,600      -  10,000
60  2018-09  11,800      -  10,000

[61 rows x 4 columns]
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2018-07  2018-07  2018-07  2018-07  2018-07  2018-07  2018-07  2018-07
avg     6,866    6,932    6,800    6,700    6,600    7,200    7,300    8,600
봄       7,000    7,000    7,000    6,000    6,000    7,000    7,000    9,000
고랭지         -        -        -        -        -        -        -        -

           8        9   ...       51       52       53       54       55  \
date  2018-07  2018-07  ...  2018-09  2018-09  2018-09  2018-09  2018-09
avg     8,800    9,200  ...   16,000   15,600   15,000   14,800   14,400
봄       9,000    9,000  ...        -        -        -        -        -
고랭지         -        -  ...   15,000   15,000   14,000   12,000   12,000

           56       57       58       59       60
date  2018-09  2018-09  2018-09  2018-09  2018-09
avg    14,400   13,800   14,000   12,600   11,800
봄           -        -        -        -        -
고랭지    12,000   11,000   11,000   10,000   10,000

[4 rows x 61 columns]
2015-04-01_Baechu
2018-10-01_Baechu_wholesale_func.xlsx
./data/input/2018-10-01_Baechu_wholesale_func.xlsx
2018
==================================================================================================== log_1
    구분 Unnamed: 1 2020-10-01 00:00:00 2020-10-02 00:00:00 2020-10-04 00:00:00  \
0   평균        NaN              11,000              10,200               8,700
2   서울        고랭지               9,000               9,000               8,000
3  NaN         가을                   -                   -                   -

  2020-10-05 00:00:00 2020-10-08 00:00:00 2020-10-10 00:00:00  \
0               9,100              10,000               9,000
2               9,000               9,000               8,000
3                   -                   -                   -

  2020-10-11 00:00:00 2020-10-12 00:00:00  ... 2020-12-17 00:00:00  \
0               8,400               8,100  ...               6,100
2               8,000               7,000  ...                   -
3                   -                   -  ...               6,000

  2020-12-18 00:00:00 2020-12-19 00:00:00 2020-12-20 00:00:00  \
0               5,700               5,600               5,600
2                   -                   -                   -
3               5,000               4,500               4,500

  2020-12-21 00:00:00 2020-12-24 00:00:00 2020-12-26 00:00:00  \
0               5,600               5,600               5,800
2                   -                   -                   -
3               4,500               4,500               4,500

  2020-12-27 00:00:00 2020-12-28 00:00:00 2020-12-31 00:00:00
0               5,466               5,466               5,532
2                   -                   -                   -
3               4,500               4,500               4,500

[3 rows x 64 columns]
==================================================================================================== log_2
                          0      2    3
구분                       평균     서울  NaN
Unnamed: 1              NaN    고랭지   가을
2020-10-01 00:00:00  11,000  9,000    -
2020-10-02 00:00:00  10,200  9,000    -
2020-10-04 00:00:00   8,700  8,000    -
==================================================================================================== log_3
                   date     avg    고랭지     가을
0   2020-10-01 00:00:00  11,000  9,000      -
1   2020-10-02 00:00:00  10,200  9,000      -
2   2020-10-04 00:00:00   8,700  8,000      -
3   2020-10-05 00:00:00   9,100  9,000      -
4   2020-10-08 00:00:00  10,000  9,000      -
..                  ...     ...    ...    ...
57  2020-12-24 00:00:00   5,600      -  4,500
58  2020-12-26 00:00:00   5,800      -  4,500
59  2020-12-27 00:00:00   5,466      -  4,500
60  2020-12-28 00:00:00   5,466      -  4,500
61  2020-12-31 00:00:00   5,532      -  4,500

[62 rows x 4 columns]
==================================================================================================== log_3
2020-10-01 00:00:00
10 2018-10
2020-10-02 00:00:00
10 2018-10
2020-10-04 00:00:00
10 2018-10
2020-10-05 00:00:00
10 2018-10
2020-10-08 00:00:00
10 2018-10
2020-10-10 00:00:00
10 2018-10
2020-10-11 00:00:00
10 2018-10
2020-10-12 00:00:00
10 2018-10
2020-10-15 00:00:00
10 2018-10
2020-10-16 00:00:00
10 2018-10
2020-10-17 00:00:00
10 2018-10
2020-10-18 00:00:00
10 2018-10
2020-10-19 00:00:00
10 2018-10
2020-10-22 00:00:00
10 2018-10
2020-10-23 00:00:00
10 2018-10
2020-10-24 00:00:00
10 2018-10
2020-10-25 00:00:00
10 2018-10
2020-10-26 00:00:00
10 2018-10
2020-10-29 00:00:00
10 2018-10
2020-10-30 00:00:00
10 2018-10
2020-10-31 00:00:00
10 2018-10
2020-11-01 00:00:00
11 2018-11
2020-11-02 00:00:00
11 2018-11
2020-11-05 00:00:00
11 2018-11
2020-11-06 00:00:00
11 2018-11
2020-11-07 00:00:00
11 2018-11
2020-11-08 00:00:00
11 2018-11
2020-11-09 00:00:00
11 2018-11
2020-11-12 00:00:00
11 2018-11
2020-11-13 00:00:00
11 2018-11
2020-11-14 00:00:00
11 2018-11
2020-11-15 00:00:00
11 2018-11
2020-11-16 00:00:00
11 2018-11
2020-11-19 00:00:00
11 2018-11
2020-11-20 00:00:00
11 2018-11
2020-11-21 00:00:00
11 2018-11
2020-11-22 00:00:00
11 2018-11
2020-11-23 00:00:00
11 2018-11
2020-11-26 00:00:00
11 2018-11
2020-11-27 00:00:00
11 2018-11
2020-11-28 00:00:00
11 2018-11
2020-11-29 00:00:00
11 2018-11
2020-11-30 00:00:00
11 2018-11
2020-12-03 00:00:00
12 2018-12
2020-12-04 00:00:00
12 2018-12
2020-12-05 00:00:00
12 2018-12
2020-12-06 00:00:00
12 2018-12
2020-12-10 00:00:00
12 2018-12
2020-12-11 00:00:00
12 2018-12
2020-12-12 00:00:00
12 2018-12
2020-12-13 00:00:00
12 2018-12
2020-12-14 00:00:00
12 2018-12
2020-12-17 00:00:00
12 2018-12
2020-12-18 00:00:00
12 2018-12
2020-12-19 00:00:00
12 2018-12
2020-12-20 00:00:00
12 2018-12
2020-12-21 00:00:00
12 2018-12
2020-12-24 00:00:00
12 2018-12
2020-12-26 00:00:00
12 2018-12
2020-12-27 00:00:00
12 2018-12
2020-12-28 00:00:00
12 2018-12
2020-12-31 00:00:00
12 2018-12
       date     avg    고랭지     가을
0   2018-10  11,000  9,000      -
1   2018-10  10,200  9,000      -
2   2018-10   8,700  8,000      -
3   2018-10   9,100  9,000      -
4   2018-10  10,000  9,000      -
..      ...     ...    ...    ...
57  2018-12   5,600      -  4,500
58  2018-12   5,800      -  4,500
59  2018-12   5,466      -  4,500
60  2018-12   5,466      -  4,500
61  2018-12   5,532      -  4,500

[62 rows x 4 columns]
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2018-10  2018-10  2018-10  2018-10  2018-10  2018-10  2018-10  2018-10
avg    11,000   10,200    8,700    9,100   10,000    9,000    8,400    8,100
고랭지     9,000    9,000    8,000    9,000    9,000    8,000    8,000    7,000
가을          -        -        -        -        -        -        -        -

           8        9   ...       52       53       54       55       56  \
date  2018-10  2018-10  ...  2018-12  2018-12  2018-12  2018-12  2018-12
avg     8,066    8,266  ...    6,100    5,700    5,600    5,600    5,600
고랭지     8,000    8,000  ...        -        -        -        -        -
가을          -        -  ...    6,000    5,000    4,500    4,500    4,500

           57       58       59       60       61
date  2018-12  2018-12  2018-12  2018-12  2018-12
avg     5,600    5,800    5,466    5,466    5,532
고랭지         -        -        -        -        -
가을      4,500    4,500    4,500    4,500    4,500

[4 rows x 62 columns]
2015-04-01_Baechu
2019-01-01_Baechu_wholesale_func.xlsx
./data/input/2019-01-01_Baechu_wholesale_func.xlsx
2019
==================================================================================================== log_1
    구분 Unnamed: 1 2020-01-02 00:00:00 2020-01-03 00:00:00 2020-01-04 00:00:00  \
0   평균        NaN               5,766               5,800               5,700
2   서울         가을               4,500               4,500               4,500
3  NaN         월동               5,000               5,000               5,000

  2020-01-07 00:00:00 2020-01-08 00:00:00 2020-01-09 00:00:00  \
0               5,800               5,300               5,100
2                   -                   -                   -
3               5,000               5,000               4,500

  2020-01-10 00:00:00 2020-01-11 00:00:00  ... 2020-03-18 00:00:00  \
0               5,100               5,000  ...               3,800
2                   -                   -  ...                   -
3               4,500               4,000  ...               3,500

  2020-03-19 00:00:00 2020-03-20 00:00:00 2020-03-21 00:00:00  \
0               3,760               3,760               3,600
2                   -                   -                   -
3               3,500               3,500               3,500

  2020-03-22 00:00:00 2020-03-25 00:00:00 2020-03-26 00:00:00  \
0               3,600               3,700               3,700
2                   -                   -                   -
3               3,500               3,500               3,500

  2020-03-27 00:00:00 2020-03-28 00:00:00 2020-03-29 00:00:00
0               3,660               3,660               3,660
2                   -                   -                   -
3               3,500               3,500               3,500

[3 rows x 61 columns]
==================================================================================================== log_2
                         0      2      3
구분                      평균     서울    NaN
Unnamed: 1             NaN     가을     월동
2020-01-02 00:00:00  5,766  4,500  5,000
2020-01-03 00:00:00  5,800  4,500  5,000
2020-01-04 00:00:00  5,700  4,500  5,000
==================================================================================================== log_3
                   date    avg     가을     월동
0   2020-01-02 00:00:00  5,766  4,500  5,000
1   2020-01-03 00:00:00  5,800  4,500  5,000
2   2020-01-04 00:00:00  5,700  4,500  5,000
3   2020-01-07 00:00:00  5,800      -  5,000
4   2020-01-08 00:00:00  5,300      -  5,000
5   2020-01-09 00:00:00  5,100      -  4,500
6   2020-01-10 00:00:00  5,100      -  4,500
7   2020-01-11 00:00:00  5,000      -  4,000
8   2020-01-14 00:00:00  4,600      -  4,000
9   2020-01-15 00:00:00  4,800      -  4,500
10  2020-01-16 00:00:00  4,780      -  4,500
11  2020-01-17 00:00:00  4,600      -  4,000
12  2020-01-18 00:00:00  4,500      -  4,000
13  2020-01-21 00:00:00  4,500      -  4,000
14  2020-01-22 00:00:00  4,400      -  4,000
15  2020-01-23 00:00:00  4,600      -  4,000
16  2020-01-24 00:00:00  4,300      -  4,000
17  2020-01-25 00:00:00  4,300      -  4,000
18  2020-01-28 00:00:00  4,400      -  4,000
19  2020-01-29 00:00:00  4,400      -  4,000
20  2020-01-30 00:00:00  4,400      -  4,000
21  2020-01-31 00:00:00  4,500      -  4,000
22  2020-02-01 00:00:00  4,300      -  4,000
23  2020-02-07 00:00:00  4,300      -  4,000
24  2020-02-08 00:00:00  4,200      -  4,000
25  2020-02-11 00:00:00  4,120      -  4,000
26  2020-02-12 00:00:00  4,120      -  4,000
27  2020-02-13 00:00:00  4,200      -  4,000
28  2020-02-14 00:00:00  4,120      -  4,000
29  2020-02-15 00:00:00  4,220      -  4,000
30  2020-02-18 00:00:00  4,000      -  4,000
31  2020-02-19 00:00:00  4,000      -  4,000
32  2020-02-20 00:00:00  4,000      -  4,000
33  2020-02-21 00:00:00  4,000      -  4,000
34  2020-02-22 00:00:00  4,080      -  4,000
35  2020-02-25 00:00:00  3,680      -  3,500
36  2020-02-26 00:00:00  3,700      -  3,500
37  2020-02-27 00:00:00  3,700      -  3,500
38  2020-02-28 00:00:00  3,600      -  3,500
39  2020-03-04 00:00:00  3,700      -  3,500
40  2020-03-05 00:00:00  3,700      -  3,500
41  2020-03-06 00:00:00  3,800      -  3,500
42  2020-03-07 00:00:00  3,800      -  3,500
43  2020-03-08 00:00:00  3,800      -  3,500
44  2020-03-11 00:00:00  3,800      -  3,500
45  2020-03-12 00:00:00  3,800      -  3,500
46  2020-03-13 00:00:00  3,800      -  3,500
47  2020-03-14 00:00:00  3,800      -  3,500
48  2020-03-15 00:00:00  3,800      -  3,500
49  2020-03-18 00:00:00  3,800      -  3,500
50  2020-03-19 00:00:00  3,760      -  3,500
51  2020-03-20 00:00:00  3,760      -  3,500
52  2020-03-21 00:00:00  3,600      -  3,500
53  2020-03-22 00:00:00  3,600      -  3,500
54  2020-03-25 00:00:00  3,700      -  3,500
55  2020-03-26 00:00:00  3,700      -  3,500
56  2020-03-27 00:00:00  3,660      -  3,500
57  2020-03-28 00:00:00  3,660      -  3,500
58  2020-03-29 00:00:00  3,660      -  3,500
==================================================================================================== log_3
2020-01-02 00:00:00
01 2019-01
2020-01-03 00:00:00
01 2019-01
2020-01-04 00:00:00
01 2019-01
2020-01-07 00:00:00
01 2019-01
2020-01-08 00:00:00
01 2019-01
2020-01-09 00:00:00
01 2019-01
2020-01-10 00:00:00
01 2019-01
2020-01-11 00:00:00
01 2019-01
2020-01-14 00:00:00
01 2019-01
2020-01-15 00:00:00
01 2019-01
2020-01-16 00:00:00
01 2019-01
2020-01-17 00:00:00
01 2019-01
2020-01-18 00:00:00
01 2019-01
2020-01-21 00:00:00
01 2019-01
2020-01-22 00:00:00
01 2019-01
2020-01-23 00:00:00
01 2019-01
2020-01-24 00:00:00
01 2019-01
2020-01-25 00:00:00
01 2019-01
2020-01-28 00:00:00
01 2019-01
2020-01-29 00:00:00
01 2019-01
2020-01-30 00:00:00
01 2019-01
2020-01-31 00:00:00
01 2019-01
2020-02-01 00:00:00
02 2019-02
2020-02-07 00:00:00
02 2019-02
2020-02-08 00:00:00
02 2019-02
2020-02-11 00:00:00
02 2019-02
2020-02-12 00:00:00
02 2019-02
2020-02-13 00:00:00
02 2019-02
2020-02-14 00:00:00
02 2019-02
2020-02-15 00:00:00
02 2019-02
2020-02-18 00:00:00
02 2019-02
2020-02-19 00:00:00
02 2019-02
2020-02-20 00:00:00
02 2019-02
2020-02-21 00:00:00
02 2019-02
2020-02-22 00:00:00
02 2019-02
2020-02-25 00:00:00
02 2019-02
2020-02-26 00:00:00
02 2019-02
2020-02-27 00:00:00
02 2019-02
2020-02-28 00:00:00
02 2019-02
2020-03-04 00:00:00
03 2019-03
2020-03-05 00:00:00
03 2019-03
2020-03-06 00:00:00
03 2019-03
2020-03-07 00:00:00
03 2019-03
2020-03-08 00:00:00
03 2019-03
2020-03-11 00:00:00
03 2019-03
2020-03-12 00:00:00
03 2019-03
2020-03-13 00:00:00
03 2019-03
2020-03-14 00:00:00
03 2019-03
2020-03-15 00:00:00
03 2019-03
2020-03-18 00:00:00
03 2019-03
2020-03-19 00:00:00
03 2019-03
2020-03-20 00:00:00
03 2019-03
2020-03-21 00:00:00
03 2019-03
2020-03-22 00:00:00
03 2019-03
2020-03-25 00:00:00
03 2019-03
2020-03-26 00:00:00
03 2019-03
2020-03-27 00:00:00
03 2019-03
2020-03-28 00:00:00
03 2019-03
2020-03-29 00:00:00
03 2019-03
       date    avg     가을     월동
0   2019-01  5,766  4,500  5,000
1   2019-01  5,800  4,500  5,000
2   2019-01  5,700  4,500  5,000
3   2019-01  5,800      -  5,000
4   2019-01  5,300      -  5,000
5   2019-01  5,100      -  4,500
6   2019-01  5,100      -  4,500
7   2019-01  5,000      -  4,000
8   2019-01  4,600      -  4,000
9   2019-01  4,800      -  4,500
10  2019-01  4,780      -  4,500
11  2019-01  4,600      -  4,000
12  2019-01  4,500      -  4,000
13  2019-01  4,500      -  4,000
14  2019-01  4,400      -  4,000
15  2019-01  4,600      -  4,000
16  2019-01  4,300      -  4,000
17  2019-01  4,300      -  4,000
18  2019-01  4,400      -  4,000
19  2019-01  4,400      -  4,000
20  2019-01  4,400      -  4,000
21  2019-01  4,500      -  4,000
22  2019-02  4,300      -  4,000
23  2019-02  4,300      -  4,000
24  2019-02  4,200      -  4,000
25  2019-02  4,120      -  4,000
26  2019-02  4,120      -  4,000
27  2019-02  4,200      -  4,000
28  2019-02  4,120      -  4,000
29  2019-02  4,220      -  4,000
30  2019-02  4,000      -  4,000
31  2019-02  4,000      -  4,000
32  2019-02  4,000      -  4,000
33  2019-02  4,000      -  4,000
34  2019-02  4,080      -  4,000
35  2019-02  3,680      -  3,500
36  2019-02  3,700      -  3,500
37  2019-02  3,700      -  3,500
38  2019-02  3,600      -  3,500
39  2019-03  3,700      -  3,500
40  2019-03  3,700      -  3,500
41  2019-03  3,800      -  3,500
42  2019-03  3,800      -  3,500
43  2019-03  3,800      -  3,500
44  2019-03  3,800      -  3,500
45  2019-03  3,800      -  3,500
46  2019-03  3,800      -  3,500
47  2019-03  3,800      -  3,500
48  2019-03  3,800      -  3,500
49  2019-03  3,800      -  3,500
50  2019-03  3,760      -  3,500
51  2019-03  3,760      -  3,500
52  2019-03  3,600      -  3,500
53  2019-03  3,600      -  3,500
54  2019-03  3,700      -  3,500
55  2019-03  3,700      -  3,500
56  2019-03  3,660      -  3,500
57  2019-03  3,660      -  3,500
58  2019-03  3,660      -  3,500
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2019-01  2019-01  2019-01  2019-01  2019-01  2019-01  2019-01  2019-01
avg     5,766    5,800    5,700    5,800    5,300    5,100    5,100    5,000
가을      4,500    4,500    4,500        -        -        -        -        -
월동      5,000    5,000    5,000    5,000    5,000    4,500    4,500    4,000

           8        9   ...       49       50       51       52       53  \
date  2019-01  2019-01  ...  2019-03  2019-03  2019-03  2019-03  2019-03
avg     4,600    4,800  ...    3,800    3,760    3,760    3,600    3,600
가을          -        -  ...        -        -        -        -        -
월동      4,000    4,500  ...    3,500    3,500    3,500    3,500    3,500

           54       55       56       57       58
date  2019-03  2019-03  2019-03  2019-03  2019-03
avg     3,700    3,700    3,660    3,660    3,660

2020-04-03 00:00:00  3,400   -  3,000
==================================================================================================== log_3
                   date    avg      봄     월동
0   2020-04-01 00:00:00  3,660      -  3,500
1   2020-04-02 00:00:00  3,620      -  3,500
2   2020-04-03 00:00:00  3,400      -  3,000
3   2020-04-04 00:00:00  3,340      -  3,000
4   2020-04-05 00:00:00  3,340      -  3,000
..                  ...    ...    ...    ...
57  2020-06-24 00:00:00  6,000  6,000      -
58  2020-06-25 00:00:00  5,900  6,000      -
59  2020-06-26 00:00:00  5,900  6,000      -
60  2020-06-27 00:00:00  6,700  7,000      -
61  2020-06-28 00:00:00  7,600  8,000      -

[62 rows x 4 columns]
==================================================================================================== log_3
2020-04-01 00:00:00
04 2019-04
2020-04-02 00:00:00
04 2019-04
2020-04-03 00:00:00
04 2019-04
2020-04-04 00:00:00
04 2019-04
2020-04-05 00:00:00
04 2019-04
2020-04-08 00:00:00
04 2019-04
2020-04-09 00:00:00
04 2019-04
2020-04-10 00:00:00
04 2019-04
2020-04-11 00:00:00
04 2019-04
2020-04-12 00:00:00
04 2019-04
2020-04-15 00:00:00
04 2019-04
2020-04-16 00:00:00
04 2019-04
2020-04-17 00:00:00
04 2019-04
2020-04-18 00:00:00
04 2019-04
2020-04-19 00:00:00
04 2019-04
2020-04-22 00:00:00
04 2019-04
2020-04-23 00:00:00
04 2019-04
2020-04-24 00:00:00
04 2019-04
2020-04-25 00:00:00
04 2019-04
2020-04-26 00:00:00
04 2019-04
2020-04-29 00:00:00
04 2019-04
2020-04-30 00:00:00
04 2019-04
2020-05-02 00:00:00
05 2019-05
2020-05-03 00:00:00
05 2019-05
2020-05-07 00:00:00
05 2019-05
2020-05-08 00:00:00
05 2019-05
2020-05-09 00:00:00
05 2019-05
2020-05-10 00:00:00
05 2019-05
2020-05-13 00:00:00
05 2019-05
2020-05-14 00:00:00
05 2019-05
2020-05-15 00:00:00
05 2019-05
2020-05-16 00:00:00
05 2019-05
2020-05-17 00:00:00
05 2019-05
2020-05-20 00:00:00
05 2019-05
2020-05-21 00:00:00
05 2019-05
2020-05-22 00:00:00
05 2019-05
2020-05-23 00:00:00
05 2019-05
2020-05-24 00:00:00
05 2019-05
2020-05-27 00:00:00
05 2019-05
2020-05-28 00:00:00
05 2019-05
2020-05-29 00:00:00
05 2019-05
2020-05-30 00:00:00
05 2019-05
2020-05-31 00:00:00
05 2019-05
2020-06-03 00:00:00
06 2019-06
2020-06-04 00:00:00
06 2019-06
2020-06-05 00:00:00
06 2019-06
2020-06-07 00:00:00
06 2019-06
2020-06-10 00:00:00
06 2019-06
2020-06-11 00:00:00
06 2019-06
2020-06-12 00:00:00
06 2019-06
2020-06-13 00:00:00
06 2019-06
2020-06-14 00:00:00
06 2019-06
2020-06-17 00:00:00
06 2019-06
2020-06-18 00:00:00
06 2019-06
2020-06-19 00:00:00
06 2019-06
2020-06-20 00:00:00
06 2019-06
2020-06-21 00:00:00
06 2019-06
2020-06-24 00:00:00
06 2019-06
2020-06-25 00:00:00
06 2019-06
2020-06-26 00:00:00
06 2019-06
2020-06-27 00:00:00
06 2019-06
2020-06-28 00:00:00
06 2019-06
       date    avg      봄     월동
0   2019-04  3,660      -  3,500
1   2019-04  3,620      -  3,500
2   2019-04  3,400      -  3,000
3   2019-04  3,340      -  3,000
4   2019-04  3,340      -  3,000
..      ...    ...    ...    ...
57  2019-06  6,000  6,000      -
58  2019-06  5,900  6,000      -
59  2019-06  5,900  6,000      -
60  2019-06  6,700  7,000      -
61  2019-06  7,600  8,000      -

[62 rows x 4 columns]
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2019-04  2019-04  2019-04  2019-04  2019-04  2019-04  2019-04  2019-04
avg     3,660    3,620    3,400    3,340    3,340    3,340    3,340    3,340
봄           -        -        -        -        -        -        -        -
월동      3,500    3,500    3,000    3,000    3,000    3,000    3,000    3,000

           8        9   ...       52       53       54       55       56  \
date  2019-04  2019-04  ...  2019-06  2019-06  2019-06  2019-06  2019-06
avg     3,240    3,240  ...    6,100    6,300    6,200    6,000    6,000
봄           -        -  ...    7,000    7,000    7,000    6,000    6,000
월동      3,000    3,000  ...        -        -        -        -        -

           57       58       59       60       61
date  2019-06  2019-06  2019-06  2019-06  2019-06
avg     6,000    5,900    5,900    6,700    7,600
봄       6,000    6,000    6,000    7,000    8,000
월동          -        -        -        -        -

[4 rows x 62 columns]
2015-04-01_Baechu
2019-07-01_Baechu_wholesale_func.xlsx
./data/input/2019-07-01_Baechu_wholesale_func.xlsx
2019
==================================================================================================== log_1
    구분 Unnamed: 1 2020-07-01 00:00:00 2020-07-02 00:00:00 2020-07-03 00:00:00  \
0   평균        NaN               7,600               7,400               7,100
2   서울          봄               7,000               7,000               6,000
3  NaN        고랭지                   -                   -                   -

  2020-07-04 00:00:00 2020-07-05 00:00:00 2020-07-08 00:00:00  \
0               6,700               6,900               6,800
2               6,000               7,000               7,000
3                   -                   -                   -

  2020-07-09 00:00:00 2020-07-10 00:00:00  ... 2020-09-17 00:00:00  \
0               7,400               7,500  ...              14,000
2               7,000               7,000  ...                   -
3                   -                   -  ...              13,000

  2020-09-18 00:00:00 2020-09-19 00:00:00 2020-09-20 00:00:00  \
0              14,400              14,400              15,200
2                   -                   -                   -
3              15,000              15,000              15,000

  2020-09-23 00:00:00 2020-09-24 00:00:00 2020-09-25 00:00:00  \
0              18,400              17,600              17,400
2                   -                   -                   -
3              18,000              16,000              16,000

  2020-09-26 00:00:00 2020-09-27 00:00:00 2020-09-30 00:00:00
0              18,400              17,800              19,600
2                   -                   -                   -
3              18,000              18,000              20,000

[3 rows x 65 columns]
==================================================================================================== log_2
                         0      2    3
구분                      평균     서울  NaN
Unnamed: 1             NaN      봄  고랭지
2020-07-01 00:00:00  7,600  7,000    -
2020-07-02 00:00:00  7,400  7,000    -
2020-07-03 00:00:00  7,100  6,000    -
==================================================================================================== log_3
                   date     avg      봄     고랭지
0   2020-07-01 00:00:00   7,600  7,000       -
1   2020-07-02 00:00:00   7,400  7,000       -
2   2020-07-03 00:00:00   7,100  6,000       -
3   2020-07-04 00:00:00   6,700  6,000       -
4   2020-07-05 00:00:00   6,900  7,000       -
..                  ...     ...    ...     ...
58  2020-09-24 00:00:00  17,600      -  16,000
59  2020-09-25 00:00:00  17,400      -  16,000
60  2020-09-26 00:00:00  18,400      -  18,000
61  2020-09-27 00:00:00  17,800      -  18,000
62  2020-09-30 00:00:00  19,600      -  20,000

[63 rows x 4 columns]
==================================================================================================== log_3
2020-07-01 00:00:00
07 2019-07
2020-07-02 00:00:00
07 2019-07
2020-07-03 00:00:00
07 2019-07
2020-07-04 00:00:00
07 2019-07
2020-07-05 00:00:00
07 2019-07
2020-07-08 00:00:00
07 2019-07
2020-07-09 00:00:00
07 2019-07
2020-07-10 00:00:00
07 2019-07
2020-07-11 00:00:00
07 2019-07
2020-07-12 00:00:00
07 2019-07
2020-07-15 00:00:00
07 2019-07
2020-07-16 00:00:00
07 2019-07
2020-07-17 00:00:00
07 2019-07
2020-07-18 00:00:00
07 2019-07
2020-07-19 00:00:00
07 2019-07
2020-07-22 00:00:00
07 2019-07
2020-07-23 00:00:00
07 2019-07
2020-07-24 00:00:00
07 2019-07
2020-07-25 00:00:00
07 2019-07
2020-07-26 00:00:00
07 2019-07
2020-07-29 00:00:00
07 2019-07
2020-07-30 00:00:00
07 2019-07
2020-07-31 00:00:00
07 2019-07
2020-08-01 00:00:00
08 2019-08
2020-08-02 00:00:00
08 2019-08
2020-08-05 00:00:00
08 2019-08
2020-08-06 00:00:00
08 2019-08
2020-08-07 00:00:00
08 2019-08
2020-08-08 00:00:00
08 2019-08
2020-08-09 00:00:00
08 2019-08
2020-08-12 00:00:00
08 2019-08
2020-08-13 00:00:00
08 2019-08
2020-08-14 00:00:00
08 2019-08
2020-08-16 00:00:00
08 2019-08
2020-08-19 00:00:00
08 2019-08
2020-08-20 00:00:00
08 2019-08
2020-08-21 00:00:00
08 2019-08
2020-08-22 00:00:00
08 2019-08
2020-08-23 00:00:00
08 2019-08
2020-08-26 00:00:00
08 2019-08
2020-08-27 00:00:00
08 2019-08
2020-08-28 00:00:00
08 2019-08
2020-08-29 00:00:00
08 2019-08
2020-08-30 00:00:00
08 2019-08
2020-09-02 00:00:00
09 2019-09
2020-09-03 00:00:00
09 2019-09
2020-09-04 00:00:00
09 2019-09
2020-09-05 00:00:00
09 2019-09
2020-09-06 00:00:00
09 2019-09
2020-09-09 00:00:00
09 2019-09
2020-09-10 00:00:00
09 2019-09
2020-09-11 00:00:00
09 2019-09
2020-09-16 00:00:00
09 2019-09
2020-09-17 00:00:00
09 2019-09
2020-09-18 00:00:00
09 2019-09
2020-09-19 00:00:00
09 2019-09
2020-09-20 00:00:00
09 2019-09
2020-09-23 00:00:00
09 2019-09
2020-09-24 00:00:00
09 2019-09
2020-09-25 00:00:00
09 2019-09
2020-09-26 00:00:00
09 2019-09
2020-09-27 00:00:00
09 2019-09
2020-09-30 00:00:00
09 2019-09
       date     avg      봄     고랭지
0   2019-07   7,600  7,000       -
1   2019-07   7,400  7,000       -
2   2019-07   7,100  6,000       -
3   2019-07   6,700  6,000       -
4   2019-07   6,900  7,000       -
..      ...     ...    ...     ...
58  2019-09  17,600      -  16,000
59  2019-09  17,400      -  16,000
60  2019-09  18,400      -  18,000
61  2019-09  17,800      -  18,000
62  2019-09  19,600      -  20,000

[63 rows x 4 columns]
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2019-07  2019-07  2019-07  2019-07  2019-07  2019-07  2019-07  2019-07
avg     7,600    7,400    7,100    6,700    6,900    6,800    7,400    7,500
봄       7,000    7,000    6,000    6,000    7,000    7,000    7,000    7,000
고랭지         -        -        -        -        -        -        -        -

           8        9   ...       53       54       55       56       57  \
date  2019-07  2019-07  ...  2019-09  2019-09  2019-09  2019-09  2019-09
avg     8,200    8,700  ...   14,000   14,400   14,400   15,200   18,400
봄       9,000    9,000  ...        -        -        -        -        -
고랭지         -        -  ...   13,000   15,000   15,000   15,000   18,000

           58       59       60       61       62
date  2019-09  2019-09  2019-09  2019-09  2019-09
avg    17,600   17,400   18,400   17,800   19,600
봄           -        -        -        -        -
고랭지    16,000   16,000   18,000   18,000   20,000

[4 rows x 63 columns]
2015-04-01_Baechu
2019-10-01_Baechu_wholesale_func.xlsx
./data/input/2019-10-01_Baechu_wholesale_func.xlsx
2019
==================================================================================================== log_1
    구분 Unnamed: 1 2020-10-01 00:00:00 2020-10-02 00:00:00 2020-10-04 00:00:00  \
0   평균        NaN              20,600              20,600              22,000
2   서울        고랭지              20,000              20,000              22,000
3  NaN         가을                   -                   -                   -

  2020-10-07 00:00:00 2020-10-08 00:00:00 2020-10-10 00:00:00  \
0              18,200              17,200              15,600
2              17,000              17,000              15,000
3                   -                   -                   -

  2020-10-11 00:00:00 2020-10-14 00:00:00  ... 2020-12-17 00:00:00  \
0              15,200              14,800  ...               9,900
2              15,000              15,000  ...                   -
3                   -                   -  ...              10,000

  2020-12-18 00:00:00 2020-12-19 00:00:00 2020-12-20 00:00:00  \
0              10,200              10,000              10,000
2                   -                   -                   -
3              10,000              10,000              10,000

  2020-12-23 00:00:00 2020-12-24 00:00:00 2020-12-26 00:00:00  \
0              10,000               9,000               9,200
2                   -                   -                   -
3              10,000               9,000               9,000

  2020-12-27 00:00:00 2020-12-30 00:00:00 2020-12-31 00:00:00
0               9,800              10,400              11,600
2                   -                   -                   -
3              10,000              11,000              12,000

[3 rows x 64 columns]
==================================================================================================== log_2
                          0       2    3
구분                       평균      서울  NaN
Unnamed: 1              NaN     고랭지   가을
2020-10-01 00:00:00  20,600  20,000    -
2020-10-02 00:00:00  20,600  20,000    -
2020-10-04 00:00:00  22,000  22,000    -
==================================================================================================== log_3
                   date     avg     고랭지      가을
0   2020-10-01 00:00:00  20,600  20,000       -
1   2020-10-02 00:00:00  20,600  20,000       -
2   2020-10-04 00:00:00  22,000  22,000       -
3   2020-10-07 00:00:00  18,200  17,000       -
4   2020-10-08 00:00:00  17,200  17,000       -
..                  ...     ...     ...     ...
57  2020-12-24 00:00:00   9,000       -   9,000
58  2020-12-26 00:00:00   9,200       -   9,000
59  2020-12-27 00:00:00   9,800       -  10,000
60  2020-12-30 00:00:00  10,400       -  11,000
61  2020-12-31 00:00:00  11,600       -  12,000

[62 rows x 4 columns]
==================================================================================================== log_3
2020-10-01 00:00:00
10 2019-10
2020-10-02 00:00:00
10 2019-10
2020-10-04 00:00:00
10 2019-10
2020-10-07 00:00:00
10 2019-10
2020-10-08 00:00:00
10 2019-10
2020-10-10 00:00:00
10 2019-10
2020-10-11 00:00:00
10 2019-10
2020-10-14 00:00:00
10 2019-10
2020-10-15 00:00:00
10 2019-10
2020-10-16 00:00:00
10 2019-10
2020-10-17 00:00:00
10 2019-10
2020-10-18 00:00:00
10 2019-10
2020-10-21 00:00:00
10 2019-10
2020-10-22 00:00:00
10 2019-10
2020-10-23 00:00:00
10 2019-10
2020-10-24 00:00:00
10 2019-10
2020-10-25 00:00:00
10 2019-10
2020-10-28 00:00:00
10 2019-10
2020-10-29 00:00:00
10 2019-10
2020-10-30 00:00:00
10 2019-10
2020-10-31 00:00:00
10 2019-10
2020-11-01 00:00:00
11 2019-11
2020-11-04 00:00:00
11 2019-11
2020-11-05 00:00:00
11 2019-11
2020-11-06 00:00:00
11 2019-11
2020-11-07 00:00:00
11 2019-11
2020-11-08 00:00:00
11 2019-11
2020-11-11 00:00:00
11 2019-11
2020-11-12 00:00:00
11 2019-11
2020-11-13 00:00:00
11 2019-11
2020-11-14 00:00:00
11 2019-11
2020-11-15 00:00:00
11 2019-11
2020-11-18 00:00:00
11 2019-11
2020-11-19 00:00:00
11 2019-11
2020-11-20 00:00:00
11 2019-11
2020-11-21 00:00:00
11 2019-11
2020-11-22 00:00:00
11 2019-11
2020-11-25 00:00:00
11 2019-11
2020-11-26 00:00:00
11 2019-11
2020-11-27 00:00:00
11 2019-11
2020-11-28 00:00:00
11 2019-11
2020-11-29 00:00:00
11 2019-11
2020-12-02 00:00:00
12 2019-12
2020-12-03 00:00:00
12 2019-12
2020-12-04 00:00:00
12 2019-12
2020-12-05 00:00:00
12 2019-12
2020-12-09 00:00:00
12 2019-12
2020-12-10 00:00:00
12 2019-12
2020-12-11 00:00:00
12 2019-12
2020-12-12 00:00:00
12 2019-12
2020-12-13 00:00:00
12 2019-12
2020-12-16 00:00:00
12 2019-12
2020-12-17 00:00:00
12 2019-12
2020-12-18 00:00:00
12 2019-12
2020-12-19 00:00:00
12 2019-12
2020-12-20 00:00:00
12 2019-12
2020-12-23 00:00:00
12 2019-12
2020-12-24 00:00:00
12 2019-12
2020-12-26 00:00:00
12 2019-12
2020-12-27 00:00:00
12 2019-12
2020-12-30 00:00:00
12 2019-12
2020-12-31 00:00:00
12 2019-12
       date     avg     고랭지      가을
0   2019-10  20,600  20,000       -
1   2019-10  20,600  20,000       -
2   2019-10  22,000  22,000       -
3   2019-10  18,200  17,000       -
4   2019-10  17,200  17,000       -
..      ...     ...     ...     ...
57  2019-12   9,000       -   9,000
58  2019-12   9,200       -   9,000
59  2019-12   9,800       -  10,000
60  2019-12  10,400       -  11,000
61  2019-12  11,600       -  12,000

[62 rows x 4 columns]
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2019-10  2019-10  2019-10  2019-10  2019-10  2019-10  2019-10  2019-10
avg    20,600   20,600   22,000   18,200   17,200   15,600   15,200   14,800
고랭지    20,000   20,000   22,000   17,000   17,000   15,000   15,000   15,000
가을          -        -        -        -        -        -        -        -

           8        9   ...       52       53       54       55       56  \
date  2019-10  2019-10  ...  2019-12  2019-12  2019-12  2019-12  2019-12
avg    14,400   15,200  ...    9,900   10,200   10,000   10,000   10,000
고랭지    16,000   16,000  ...        -        -        -        -        -
가을          -        -  ...   10,000   10,000   10,000   10,000   10,000

           57       58       59       60       61
date  2019-12  2019-12  2019-12  2019-12  2019-12
avg     9,000    9,200    9,800   10,400   11,600
고랭지         -        -        -        -        -
가을      9,000    9,000   10,000   11,000   12,000

[4 rows x 62 columns]
2015-04-01_Baechu
2020-01-01_Baechu_wholesale_func.xlsx
./data/input/2020-01-01_Baechu_wholesale_func.xlsx
2020
==================================================================================================== log_1
    구분 Unnamed: 1 2020-01-02 00:00:00 2020-01-03 00:00:00 2020-01-06 00:00:00  \
0   평균        NaN              11,889              10,900              10,500
2   서울         가을              12,000              10,000              10,000
3  NaN         월동              13,000              11,000              11,000

  2020-01-07 00:00:00 2020-01-08 00:00:00 2020-01-09 00:00:00  \
0              11,100              10,800              10,080
2              11,000              11,000              11,000
3              12,000              12,000              12,000

  2020-01-10 00:00:00 2020-01-13 00:00:00  ... 2020-03-18 00:00:00  \
0              10,080               9,960  ...               9,600
2              11,000                   -  ...                   -
3              12,000              11,000  ...              10,000

  2020-03-19 00:00:00 2020-03-20 00:00:00 2020-03-23 00:00:00  \
0               9,400               9,200               9,400
2                   -                   -                   -
3              10,000               9,000               9,000

  2020-03-24 00:00:00 2020-03-25 00:00:00 2020-03-26 00:00:00  \
0               9,400               9,400               9,400
2                   -                   -                   -
3               9,000               9,000               9,000

  2020-03-27 00:00:00 2020-03-30 00:00:00 2020-03-31 00:00:00
0               9,300              10,200              10,000
2                   -                   -                   -
3               9,000              10,000              10,000

[3 rows x 64 columns]
==================================================================================================== log_2
                          0       2       3
구분                       평균      서울     NaN
Unnamed: 1              NaN      가을      월동
2020-01-02 00:00:00  11,889  12,000  13,000
2020-01-03 00:00:00  10,900  10,000  11,000
2020-01-06 00:00:00  10,500  10,000  11,000
==================================================================================================== log_3
                   date     avg      가을      월동
0   2020-01-02 00:00:00  11,889  12,000  13,000
1   2020-01-03 00:00:00  10,900  10,000  11,000
2   2020-01-06 00:00:00  10,500  10,000  11,000
3   2020-01-07 00:00:00  11,100  11,000  12,000
4   2020-01-08 00:00:00  10,800  11,000  12,000
..                  ...     ...     ...     ...

[62 rows x 4 columns]
==================================================================================================== log_3
2020-01-02 00:00:00
01 2020-01
2020-01-03 00:00:00
01 2020-01
2020-01-06 00:00:00
01 2020-01
2020-01-07 00:00:00
01 2020-01
2020-01-08 00:00:00
01 2020-01
2020-01-09 00:00:00
01 2020-01
2020-01-10 00:00:00
01 2020-01
2020-01-13 00:00:00
01 2020-01
2020-01-14 00:00:00
01 2020-01
2020-01-15 00:00:00
01 2020-01
2020-01-16 00:00:00
01 2020-01
2020-01-17 00:00:00
01 2020-01
2020-01-20 00:00:00
01 2020-01
2020-01-21 00:00:00
01 2020-01
2020-01-22 00:00:00
01 2020-01
2020-01-23 00:00:00
01 2020-01
2020-01-28 00:00:00
01 2020-01
2020-01-29 00:00:00
01 2020-01
2020-01-30 00:00:00
01 2020-01
2020-01-31 00:00:00
01 2020-01
2020-02-03 00:00:00
02 2020-02
2020-02-04 00:00:00
02 2020-02
2020-02-05 00:00:00
02 2020-02
2020-02-06 00:00:00
02 2020-02
2020-02-07 00:00:00
02 2020-02
2020-02-10 00:00:00
02 2020-02
2020-02-11 00:00:00
02 2020-02
2020-02-12 00:00:00
02 2020-02
2020-02-13 00:00:00
02 2020-02
2020-02-14 00:00:00
02 2020-02
2020-02-17 00:00:00
02 2020-02
2020-02-18 00:00:00
02 2020-02
2020-02-19 00:00:00
02 2020-02
2020-02-20 00:00:00
02 2020-02
2020-02-21 00:00:00
02 2020-02
2020-02-24 00:00:00
02 2020-02
2020-02-25 00:00:00
02 2020-02
2020-02-26 00:00:00
02 2020-02
2020-02-27 00:00:00
02 2020-02
2020-02-28 00:00:00
02 2020-02
2020-03-02 00:00:00
03 2020-03
2020-03-03 00:00:00
03 2020-03
2020-03-04 00:00:00
03 2020-03
2020-03-05 00:00:00
03 2020-03
2020-03-06 00:00:00
03 2020-03
2020-03-09 00:00:00
03 2020-03
2020-03-10 00:00:00
03 2020-03
2020-03-11 00:00:00
03 2020-03
2020-03-12 00:00:00
03 2020-03
2020-03-13 00:00:00
03 2020-03
2020-03-16 00:00:00
03 2020-03
2020-03-17 00:00:00
03 2020-03
2020-03-18 00:00:00
03 2020-03
2020-03-19 00:00:00
03 2020-03
2020-03-20 00:00:00
03 2020-03
2020-03-23 00:00:00
03 2020-03
2020-03-24 00:00:00
03 2020-03
2020-03-25 00:00:00
03 2020-03
2020-03-26 00:00:00
03 2020-03
2020-03-27 00:00:00
03 2020-03
2020-03-30 00:00:00
03 2020-03
2020-03-31 00:00:00
03 2020-03
       date     avg      가을      월동
0   2020-01  11,889  12,000  13,000
1   2020-01  10,900  10,000  11,000
2   2020-01  10,500  10,000  11,000
3   2020-01  11,100  11,000  12,000
4   2020-01  10,800  11,000  12,000
..      ...     ...     ...     ...
57  2020-03   9,400       -   9,000
58  2020-03   9,400       -   9,000
59  2020-03   9,300       -   9,000
60  2020-03  10,200       -  10,000
61  2020-03  10,000       -  10,000

[62 rows x 4 columns]
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2020-01  2020-01  2020-01  2020-01  2020-01  2020-01  2020-01  2020-01
avg    11,889   10,900   10,500   11,100   10,800   10,080   10,080    9,960
가을     12,000   10,000   10,000   11,000   11,000   11,000   11,000        -
월동     13,000   11,000   11,000   12,000   12,000   12,000   12,000   11,000

           8        9   ...       52       53       54       55       56  \
date  2020-01  2020-01  ...  2020-03  2020-03  2020-03  2020-03  2020-03
avg    10,160    9,960  ...    9,600    9,400    9,200    9,400    9,400
가을          -        -  ...        -        -        -        -        -
월동     11,000   11,000  ...   10,000   10,000    9,000    9,000    9,000

           57       58       59       60       61
date  2020-03  2020-03  2020-03  2020-03  2020-03
avg     9,400    9,400    9,300   10,200   10,000
가을          -        -        -        -        -
월동      9,000    9,000    9,000   10,000   10,000

[4 rows x 62 columns]
2015-04-01_Baechu

In [22]:
import os 
import pandas as pd 

from datetime import datetime
from datetime import timedelta
import time

# 현재 경로 확인 
print(os.getcwd())

files = os.listdir('./data/input')[:-3] # -3을 한 이유 -> 잘못받아와서 
for num, file in enumerate(files):
    print(file)
    # print(len(file))
    path = f'./data/input/{file}'
    print(path)
    df   = pd.read_excel(path, encoding='utf-8')
    # 년도 추출 
    year = file[:4]
    print('log_1')   
    drop_col = df.loc[:4-1,:]
    df = drop_col.iloc[[0,2,3],:]
    print('log_2')   
    # 사본
    df_t = df.iloc[:]
    # 돌리기 
    df_t = df.T
    print('log_3')  
    df_t= df_t.reset_index()
    cols_dic = {df_t.columns[0]:'date',
       df_t.columns[1]:'avg',
       df_t.columns[2]: df_t[2][1],
       df_t.columns[3]: df_t[3][1]}
    df_t.rename(columns=cols_dic, inplace=True)
    del_cols = df_t.index[:2]
    df_t.drop(index=del_cols, inplace=True)
    df_t= df_t.reset_index()
    df_t.drop('index',axis=1,inplace=True )
    print('log_3')
    
    for idx, i in enumerate(df_t.date):
#         print(i)
        if i.month >= 10:
            month = str(i.month)
            df_t.date[idx]= year+'-'+month
        else:
            month = "0"+str(i.month)
            df_t.date[idx]= year+'-'+month
            
    print('='*100,'log_4')
    df = df_t.T
    name = files[num][:17]

    df.to_csv(f'./data/output/{name}.csv', encoding='euc-kr', index=True)

C:\Forecast-of-market-price
2015-01-01_Baechu_wholesale_func.xlsx
./data/input/2015-01-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2015-04-01_Baechu_wholesale_func.xlsx
./data/input/2015-04-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2015-07-01_Baechu_wholesale_func.xlsx
./data/input/2015-07-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2015-10-01_Baechu_wholesale_func.xlsx
./data/input/2015-10-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2016-01-01_Baechu_wholesale_func.xlsx
./data/input/2016-01-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2016-04-01_Baechu_wholesale_func.xlsx
./data/input/2016-04-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2016-07-01_Baechu_wholesale_func.xlsx
./data/input/2016-07-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2016-10-01_Baechu_wholesale_func.xlsx
./data/input/2016-10-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2017-01-01_Baechu_wholesale_func.xlsx
./data/input/2017-01-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2017-04-01_Baechu_wholesale_func.xlsx
./data/input/2017-04-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2017-07-01_Baechu_wholesale_func.xlsx
./data/input/2017-07-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2017-10-01_Baechu_wholesale_func.xlsx
./data/input/2017-10-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2018-01-01_Baechu_wholesale_func.xlsx
./data/input/2018-01-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2018-04-01_Baechu_wholesale_func.xlsx
./data/input/2018-04-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2018-07-01_Baechu_wholesale_func.xlsx
./data/input/2018-07-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2018-10-01_Baechu_wholesale_func.xlsx
./data/input/2018-10-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2019-01-01_Baechu_wholesale_func.xlsx
./data/input/2019-01-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2019-04-01_Baechu_wholesale_func.xlsx
./data/input/2019-04-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2019-07-01_Baechu_wholesale_func.xlsx
./data/input/2019-07-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2019-10-01_Baechu_wholesale_func.xlsx
./data/input/2019-10-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4
2020-01-01_Baechu_wholesale_func.xlsx
./data/input/2020-01-01_Baechu_wholesale_func.xlsx
log_1
log_2
log_3
log_3
==================================================================================================== log_4

In [19]:
import os 
import pandas as pd 

from datetime import datetime
from datetime import timedelta
import time

# 현재 경로 확인 
print(os.getcwd())

files = os.listdir('./data/input')[:-3] # -3을 한 이유 -> 잘못받아와서 
for num, file in enumerate(files):
    print(file)
    # print(len(file))
    path = f'./data/input/{file}'
    print(path)
    # for idx in range(len(files)):
    #     print(idx)
    #     path = f'./data/input/{files[idx]}'
    #     print(path, len(path))
    df   = pd.read_excel(path, encoding='utf-8')
    # print(df.head(2))
    # 년도 추출 
    year = file[:4]
#     print(year) 
    print('='*100,'log_1')   
    drop_col = df.loc[:4-1,:]
    df = drop_col.iloc[[0,2,3],:]
#     print(df)
    print('='*100,'log_2')   
    # 사본
    df_t = df.iloc[:]
    # 돌리기 
    df_t = df.T
#     print(df_t.head(5))
    print('='*100,'log_3')  
    df_t= df_t.reset_index()
    # df_t.info()
    # df_t[3][1]
    cols_dic = {df_t.columns[0]:'date',
       df_t.columns[1]:'avg',
       df_t.columns[2]: df_t[2][1],
       df_t.columns[3]: df_t[3][1]}
    # print(cols_dic)
    df_t.rename(columns=cols_dic, inplace=True)
    del_cols = df_t.index[:2]
    df_t.drop(index=del_cols, inplace=True)
    df_t= df_t.reset_index()
    # print(df_t)
    df_t.drop('index',axis=1,inplace=True )
#     print(df_t)
    print('='*100,'log_3')
    for idx, i in enumerate(df_t.date):
        print(i)
    #     print(df_t.date[idx])
        if i.month >= 10:
            month = str(i.month)
            df_t.date[idx]= year+'-'+month
#             print(month, df_t.date[idx])
        else:
            month = "0"+str(i.month)
            df_t.date[idx]= year+'-'+month
#             print(month, df_t.date[idx])
#     print(df_t)
    print('='*100,'log_4')
    df = df_t.T
    print(df)
    # print(files[1][:17])
    name = files[num][:17]
#     print(name)

    df.to_csv(f'./data/output/{name}.csv', encoding='euc-kr', index=True)

C:\Forecast-of-market-price
2015-01-01_Baechu_wholesale_func.xlsx
./data/input/2015-01-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date    avg     가을     월동
0   2020-01-02 00:00:00  3,800  4,000      -
1   2020-01-05 00:00:00  3,800  4,000      -
2   2020-01-06 00:00:00  3,800  4,000      -
3   2020-01-07 00:00:00  3,800      -  4,000
4   2020-01-08 00:00:00  3,800      -  4,000
5   2020-01-09 00:00:00  3,800      -  4,000
6   2020-01-12 00:00:00  3,800      -  4,000
7   2020-01-13 00:00:00  3,800      -  4,000
8   2020-01-14 00:00:00  3,800      -  4,000
9   2020-01-15 00:00:00  3,800      -  4,000
10  2020-01-16 00:00:00  3,800      -  4,000
11  2020-01-19 00:00:00  3,800      -  4,000
12  2020-01-20 00:00:00  3,800      -  4,000
13  2020-01-21 00:00:00  3,800      -  4,000
14  2020-01-22 00:00:00  3,800      -  4,000
15  2020-01-23 00:00:00  3,800      -  4,000
16  2020-01-26 00:00:00  3,800      -  4,000
17  2020-01-27 00:00:00  3,800      -  4,000
18  2020-01-28 00:00:00  3,800      -  4,000
19  2020-01-29 00:00:00  3,800      -  4,000
20  2020-01-30 00:00:00  3,800      -  4,000
21  2020-02-02 00:00:00  3,900      -  4,000
22  2020-02-03 00:00:00  3,900      -  4,000
23  2020-02-04 00:00:00  3,900      -  4,000
24  2020-02-05 00:00:00  3,900      -  4,000
25  2020-02-06 00:00:00  3,900      -  4,000
26  2020-02-09 00:00:00  4,000      -  4,000
27  2020-02-10 00:00:00  4,000      -  4,000
28  2020-02-11 00:00:00  4,100      -  4,500
29  2020-02-12 00:00:00  4,400      -  5,000
30  2020-02-13 00:00:00  4,400      -  5,000
31  2020-02-16 00:00:00  4,400      -  5,000
32  2020-02-17 00:00:00  4,400      -  5,000
33  2020-02-23 00:00:00  4,100      -  4,000
34  2020-02-24 00:00:00  4,100      -  4,000
35  2020-02-25 00:00:00  4,400      -  5,000
36  2020-02-26 00:00:00  4,400      -  5,000
37  2020-02-27 00:00:00  4,400      -  5,000
38  2020-03-02 00:00:00  4,500      -  5,500
39  2020-03-03 00:00:00  4,500      -  5,500
40  2020-03-04 00:00:00  4,700      -  6,000
41  2020-03-05 00:00:00  4,700      -  6,000
42  2020-03-06 00:00:00  4,700      -  6,000
43  2020-03-09 00:00:00  4,700      -  6,000
44  2020-03-10 00:00:00  4,700      -  6,000
45  2020-03-11 00:00:00  4,700      -  6,000
46  2020-03-12 00:00:00  4,800      -  6,000
47  2020-03-13 00:00:00  4,800      -  6,000
48  2020-03-16 00:00:00  4,800      -  6,000
49  2020-03-17 00:00:00  4,800      -  6,000
50  2020-03-18 00:00:00  4,900      -  6,000
51  2020-03-19 00:00:00  5,000      -  6,000
52  2020-03-20 00:00:00  4,900      -  5,500
53  2020-03-23 00:00:00  5,100      -  5,500
54  2020-03-24 00:00:00  5,100      -  5,500
55  2020-03-25 00:00:00  5,100      -  5,500
56  2020-03-26 00:00:00  5,100      -  5,500
57  2020-03-27 00:00:00  5,100      -  5,500
58  2020-03-30 00:00:00  5,000      -  5,000
59  2020-03-31 00:00:00  5,000      -  5,000
==================================================================================================== log_3
2020-01-02 00:00:00
2020-01-05 00:00:00
2020-01-06 00:00:00
2020-01-07 00:00:00
2020-01-08 00:00:00
2020-01-09 00:00:00
2020-01-12 00:00:00
2020-01-13 00:00:00
2020-01-14 00:00:00
2020-01-15 00:00:00
2020-01-16 00:00:00
2020-01-19 00:00:00
2020-01-20 00:00:00
2020-01-21 00:00:00
2020-01-22 00:00:00
2020-01-23 00:00:00
2020-01-26 00:00:00
2020-01-27 00:00:00
2020-01-28 00:00:00
2020-01-29 00:00:00
2020-01-30 00:00:00
2020-02-02 00:00:00
2020-02-03 00:00:00
2020-02-04 00:00:00
2020-02-05 00:00:00
2020-02-06 00:00:00
2020-02-09 00:00:00
2020-02-10 00:00:00
2020-02-11 00:00:00
2020-02-12 00:00:00
2020-02-13 00:00:00
2020-02-16 00:00:00
2020-02-17 00:00:00
2020-02-23 00:00:00
2020-02-24 00:00:00
2020-02-25 00:00:00
2020-02-26 00:00:00
2020-02-27 00:00:00
2020-03-02 00:00:00
2020-03-03 00:00:00
2020-03-04 00:00:00
2020-03-05 00:00:00
2020-03-06 00:00:00
2020-03-09 00:00:00
2020-03-10 00:00:00
2020-03-11 00:00:00
2020-03-12 00:00:00
2020-03-13 00:00:00
2020-03-16 00:00:00
2020-03-17 00:00:00
2020-03-18 00:00:00
2020-03-19 00:00:00
2020-03-20 00:00:00
2020-03-23 00:00:00
2020-03-24 00:00:00
2020-03-25 00:00:00
2020-03-26 00:00:00
2020-03-27 00:00:00
2020-03-30 00:00:00
2020-03-31 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2015-01  2015-01  2015-01  2015-01  2015-01  2015-01  2015-01  2015-01
avg     3,800    3,800    3,800    3,800    3,800    3,800    3,800    3,800
가을      4,000    4,000    4,000        -        -        -        -        -
월동          -        -        -    4,000    4,000    4,000    4,000    4,000

           8        9   ...       50       51       52       53       54  \
date  2015-01  2015-01  ...  2015-03  2015-03  2015-03  2015-03  2015-03
avg     3,800    3,800  ...    4,900    5,000    4,900    5,100    5,100
가을          -        -  ...        -        -        -        -        -
월동      4,000    4,000  ...    6,000    6,000    5,500    5,500    5,500

           55       56       57       58       59
date  2015-03  2015-03  2015-03  2015-03  2015-03
avg     5,100    5,100    5,100    5,000    5,000
가을          -        -        -        -        -
월동      5,500    5,500    5,500    5,000    5,000

[4 rows x 60 columns]
2015-04-01_Baechu_wholesale_func.xlsx
./data/input/2015-04-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date    avg      봄     월동
0   2020-04-01 00:00:00  4,900      -  4,500
1   2020-04-02 00:00:00  5,000      -  4,500
2   2020-04-03 00:00:00  5,000      -  4,500
3   2020-04-06 00:00:00  5,000      -  4,500
4   2020-04-07 00:00:00  5,000      -  4,500
..                  ...    ...    ...    ...
57  2020-06-24 00:00:00  7,000  7,000      -
58  2020-06-25 00:00:00  7,000  7,000      -
59  2020-06-26 00:00:00  7,000  7,000      -
60  2020-06-29 00:00:00  7,000  7,000      -
61  2020-06-30 00:00:00  7,000  7,000      -

[62 rows x 4 columns]
==================================================================================================== log_3
2020-04-01 00:00:00
2020-04-02 00:00:00
2020-04-03 00:00:00
2020-04-06 00:00:00
2020-04-07 00:00:00
2020-04-08 00:00:00
2020-04-09 00:00:00
2020-04-10 00:00:00
2020-04-13 00:00:00
2020-04-14 00:00:00
2020-04-15 00:00:00
2020-04-16 00:00:00
2020-04-17 00:00:00
2020-04-20 00:00:00
2020-04-21 00:00:00
2020-04-22 00:00:00
2020-04-23 00:00:00
2020-04-24 00:00:00
2020-04-27 00:00:00
2020-04-28 00:00:00
2020-04-29 00:00:00
2020-04-30 00:00:00
2020-05-04 00:00:00
2020-05-06 00:00:00
2020-05-07 00:00:00
2020-05-08 00:00:00
2020-05-11 00:00:00
2020-05-12 00:00:00
2020-05-13 00:00:00
2020-05-14 00:00:00
2020-05-15 00:00:00
2020-05-18 00:00:00
2020-05-19 00:00:00
2020-05-20 00:00:00
2020-05-21 00:00:00
2020-05-22 00:00:00
2020-05-26 00:00:00
2020-05-27 00:00:00
2020-05-28 00:00:00
2020-05-29 00:00:00
2020-06-01 00:00:00
2020-06-02 00:00:00
2020-06-03 00:00:00
2020-06-04 00:00:00
2020-06-05 00:00:00
2020-06-08 00:00:00
2020-06-09 00:00:00
2020-06-10 00:00:00
2020-06-11 00:00:00
2020-06-12 00:00:00
2020-06-15 00:00:00
2020-06-16 00:00:00
2020-06-17 00:00:00
2020-06-18 00:00:00
2020-06-19 00:00:00
2020-06-22 00:00:00
2020-06-23 00:00:00
2020-06-24 00:00:00
2020-06-25 00:00:00
2020-06-26 00:00:00
2020-06-29 00:00:00
2020-06-30 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2015-04  2015-04  2015-04  2015-04  2015-04  2015-04  2015-04  2015-04
avg     4,900    5,000    5,000    5,000    5,000    5,000    4,800    4,800
봄           -        -        -        -        -        -        -        -
월동      4,500    4,500    4,500    4,500    4,500    4,500    4,000    4,000

           8        9   ...       52       53       54       55       56  \
date  2015-04  2015-04  ...  2015-06  2015-06  2015-06  2015-06  2015-06
avg     4,800    4,800  ...    7,100    6,700    6,700    6,800    6,900
봄           -        -  ...    6,500    6,500    6,500    7,000    6,500
월동      4,000    4,000  ...        -        -        -        -        -

           57       58       59       60       61
date  2015-06  2015-06  2015-06  2015-06  2015-06
avg     7,000    7,000    7,000    7,000    7,000
봄       7,000    7,000    7,000    7,000    7,000
월동          -        -        -        -        -

[4 rows x 62 columns]
2015-07-01_Baechu_wholesale_func.xlsx
./data/input/2015-07-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date    avg      봄    고랭지
0   2020-07-01 00:00:00  7,000  7,000      -
1   2020-07-02 00:00:00  7,000  7,000      -
2   2020-07-03 00:00:00  7,000  7,000      -
3   2020-07-06 00:00:00  7,000  7,000      -
4   2020-07-07 00:00:00  7,000  7,000      -
..                  ...    ...    ...    ...
58  2020-09-22 00:00:00  6,100      -  6,500
59  2020-09-23 00:00:00  6,400      -  7,000
60  2020-09-24 00:00:00  7,000      -  7,000
61  2020-09-25 00:00:00  6,600      -  7,000
62  2020-09-30 00:00:00  6,600      -  7,000

[63 rows x 4 columns]
==================================================================================================== log_3
2020-07-01 00:00:00
2020-07-02 00:00:00
2020-07-03 00:00:00
2020-07-06 00:00:00
2020-07-07 00:00:00
2020-07-08 00:00:00
2020-07-09 00:00:00
2020-07-10 00:00:00
2020-07-13 00:00:00
2020-07-14 00:00:00
2020-07-15 00:00:00
2020-07-16 00:00:00
2020-07-17 00:00:00
2020-07-20 00:00:00
2020-07-21 00:00:00
2020-07-22 00:00:00
2020-07-23 00:00:00
2020-07-24 00:00:00
2020-07-27 00:00:00
2020-07-28 00:00:00
2020-07-29 00:00:00
2020-07-30 00:00:00
2020-07-31 00:00:00
2020-08-03 00:00:00
2020-08-04 00:00:00
2020-08-05 00:00:00
2020-08-06 00:00:00
2020-08-07 00:00:00
2020-08-10 00:00:00
2020-08-11 00:00:00
2020-08-12 00:00:00
2020-08-13 00:00:00
2020-08-17 00:00:00
2020-08-18 00:00:00
2020-08-19 00:00:00
2020-08-20 00:00:00
2020-08-21 00:00:00
2020-08-24 00:00:00
2020-08-25 00:00:00
2020-08-26 00:00:00
2020-08-27 00:00:00
2020-08-28 00:00:00
2020-08-31 00:00:00
2020-09-01 00:00:00
2020-09-02 00:00:00
2020-09-03 00:00:00
2020-09-04 00:00:00
2020-09-07 00:00:00
2020-09-08 00:00:00
2020-09-09 00:00:00
2020-09-10 00:00:00
2020-09-11 00:00:00
2020-09-14 00:00:00
2020-09-15 00:00:00
2020-09-16 00:00:00
2020-09-17 00:00:00
2020-09-18 00:00:00
2020-09-21 00:00:00
2020-09-22 00:00:00
2020-09-23 00:00:00
2020-09-24 00:00:00
2020-09-25 00:00:00
2020-09-30 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2015-07  2015-07  2015-07  2015-07  2015-07  2015-07  2015-07  2015-07
avg     7,000    7,000    7,000    7,000    7,000    7,000    7,000    7,000
봄       7,000    7,000    7,000    7,000    7,000    7,000    7,000    7,000
고랭지         -        -        -        -        -        -        -        -

           8        9   ...       53       54       55       56       57  \
date  2015-07  2015-07  ...  2015-09  2015-09  2015-09  2015-09  2015-09
avg     7,000    7,000  ...    5,800    5,800    5,900    6,000    5,800
봄       7,000    7,000  ...        -        -        -        -        -
고랭지         -        -  ...    6,000    6,000    6,500    7,000    6,000

           58       59       60       61       62
date  2015-09  2015-09  2015-09  2015-09  2015-09
avg     6,100    6,400    7,000    6,600    6,600
봄           -        -        -        -        -
고랭지     6,500    7,000    7,000    7,000    7,000

[4 rows x 63 columns]
2015-10-01_Baechu_wholesale_func.xlsx
./data/input/2015-10-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date    avg    고랭지     가을
0   2020-10-01 00:00:00  6,300  5,500      -
1   2020-10-02 00:00:00  6,100  6,500      -
2   2020-10-05 00:00:00  5,200  5,000      -
3   2020-10-06 00:00:00  5,200  5,000      -
4   2020-10-07 00:00:00  4,900  4,500      -
..                  ...    ...    ...    ...
58  2020-12-24 00:00:00  4,100      -  4,500
59  2020-12-28 00:00:00  4,300      -  5,000
60  2020-12-29 00:00:00  4,300      -  5,000
61  2020-12-30 00:00:00  4,300      -  5,000
62  2020-12-31 00:00:00  4,300      -  5,000

[63 rows x 4 columns]
==================================================================================================== log_3
2020-10-01 00:00:00
2020-10-02 00:00:00
2020-10-05 00:00:00
2020-10-06 00:00:00
2020-10-07 00:00:00
2020-10-08 00:00:00
2020-10-12 00:00:00
2020-10-13 00:00:00
2020-10-14 00:00:00
2020-10-15 00:00:00
2020-10-16 00:00:00
2020-10-19 00:00:00
2020-10-20 00:00:00
2020-10-21 00:00:00
2020-10-22 00:00:00
2020-10-23 00:00:00
2020-10-26 00:00:00
2020-10-27 00:00:00
2020-10-28 00:00:00
2020-10-29 00:00:00
2020-10-30 00:00:00
2020-11-02 00:00:00
2020-11-03 00:00:00
2020-11-04 00:00:00
2020-11-05 00:00:00
2020-11-06 00:00:00
2020-11-09 00:00:00
2020-11-10 00:00:00
2020-11-11 00:00:00
2020-11-12 00:00:00
2020-11-13 00:00:00
2020-11-16 00:00:00
2020-11-17 00:00:00
2020-11-18 00:00:00
2020-11-19 00:00:00
2020-11-20 00:00:00
2020-11-23 00:00:00
2020-11-24 00:00:00
2020-11-25 00:00:00
2020-11-26 00:00:00
2020-11-27 00:00:00
2020-11-30 00:00:00
2020-12-01 00:00:00
2020-12-02 00:00:00
2020-12-03 00:00:00
2020-12-07 00:00:00
2020-12-08 00:00:00
2020-12-09 00:00:00
2020-12-10 00:00:00
2020-12-11 00:00:00
2020-12-14 00:00:00
2020-12-15 00:00:00
2020-12-16 00:00:00
2020-12-17 00:00:00
2020-12-18 00:00:00
2020-12-21 00:00:00
2020-12-22 00:00:00
2020-12-23 00:00:00
2020-12-24 00:00:00
2020-12-28 00:00:00
2020-12-29 00:00:00
2020-12-30 00:00:00
2020-12-31 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2015-10  2015-10  2015-10  2015-10  2015-10  2015-10  2015-10  2015-10
avg     6,300    6,100    5,200    5,200    4,900    4,900    4,600    4,500
고랭지     5,500    6,500    5,000    5,000    4,500    4,500    4,500    4,500
가을          -        -        -        -        -        -        -        -

           8        9   ...       53       54       55       56       57  \
date  2015-10  2015-10  ...  2015-12  2015-12  2015-12  2015-12  2015-12
avg     4,200    4,000  ...    4,200    4,200    4,100    4,200    4,100
고랭지     4,500    4,000  ...        -        -        -        -        -
가을          -        -  ...    5,000    5,000    5,000    5,000    4,500

           58       59       60       61       62
date  2015-12  2015-12  2015-12  2015-12  2015-12
avg     4,100    4,300    4,300    4,300    4,300
고랭지         -        -        -        -        -
가을      4,500    5,000    5,000    5,000    5,000

[4 rows x 63 columns]
2016-01-01_Baechu_wholesale_func.xlsx
./data/input/2016-01-01_Baechu_wholesale_func.xlsx

==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date     avg     가을      월동
0   2020-01-04 00:00:00   4,400  4,500   5,000
1   2020-01-05 00:00:00   4,500  4,500   5,000
2   2020-01-06 00:00:00   4,500  4,500   5,000
3   2020-01-07 00:00:00   4,550  4,500   5,000
4   2020-01-08 00:00:00   4,550  4,500   5,000
5   2020-01-11 00:00:00   4,700      -   5,000
6   2020-01-12 00:00:00   4,700      -   5,000
7   2020-01-13 00:00:00   4,700      -   5,000
8   2020-01-14 00:00:00   4,800      -   5,000
9   2020-01-15 00:00:00   4,800      -   5,000
10  2020-01-18 00:00:00   5,100      -   5,000
11  2020-01-19 00:00:00   5,300      -   6,000
12  2020-01-20 00:00:00   5,700      -   6,000
13  2020-01-21 00:00:00   5,800      -   6,500
14  2020-01-22 00:00:00   6,300      -   7,000
15  2020-01-25 00:00:00   6,900      -   7,000
16  2020-01-26 00:00:00   6,700      -   7,000
17  2020-01-27 00:00:00   7,400      -   7,000
18  2020-01-28 00:00:00   7,400      -   7,000
19  2020-01-29 00:00:00   7,600      -   7,000
20  2020-02-01 00:00:00   7,100      -   7,000
21  2020-02-02 00:00:00   7,000      -   6,500
22  2020-02-03 00:00:00   7,100      -   7,000
23  2020-02-04 00:00:00   7,100      -   7,000
24  2020-02-05 00:00:00   7,200      -   7,500
25  2020-02-11 00:00:00   7,000      -   7,500
26  2020-02-12 00:00:00   7,000      -   7,500
27  2020-02-15 00:00:00   7,600      -   8,000
28  2020-02-16 00:00:00   8,000      -   8,000
29  2020-02-17 00:00:00   8,400      -   8,000
30  2020-02-18 00:00:00   8,800      -   8,000
31  2020-02-19 00:00:00   9,000      -   9,000
32  2020-02-22 00:00:00   8,800      -   9,000
33  2020-02-23 00:00:00   9,400      -   9,000
34  2020-02-24 00:00:00   9,600      -  10,000
35  2020-02-25 00:00:00   9,200      -  10,000
36  2020-02-26 00:00:00   9,800      -  10,000
37  2020-02-29 00:00:00  10,000      -  10,000
38  2020-03-02 00:00:00  11,100      -  11,000
39  2020-03-03 00:00:00  11,000      -  11,000
40  2020-03-04 00:00:00  11,000      -  11,000
41  2020-03-07 00:00:00  11,600      -  11,000
42  2020-03-08 00:00:00  11,800      -  11,000
43  2020-03-09 00:00:00  11,800      -  11,000
44  2020-03-10 00:00:00  11,800      -  11,000
45  2020-03-11 00:00:00  11,800      -  11,000
46  2020-03-14 00:00:00  11,600      -  11,000
47  2020-03-15 00:00:00  11,600      -  11,000
48  2020-03-16 00:00:00  11,800      -  11,000
49  2020-03-17 00:00:00  11,800      -  11,000
50  2020-03-18 00:00:00  12,000      -  11,000
51  2020-03-21 00:00:00  12,000      -  11,000
52  2020-03-22 00:00:00  12,200      -  11,000
53  2020-03-23 00:00:00  12,200      -  11,000
54  2020-03-24 00:00:00  12,000      -  11,000
55  2020-03-25 00:00:00  12,200      -  11,000
56  2020-03-28 00:00:00  13,200      -  13,000
57  2020-03-29 00:00:00  13,200      -  13,000
58  2020-03-30 00:00:00  13,200      -  13,000
59  2020-03-31 00:00:00  13,200      -  13,000
==================================================================================================== log_3
2020-01-04 00:00:00
2020-01-05 00:00:00
2020-01-06 00:00:00
2020-01-07 00:00:00
2020-01-08 00:00:00
2020-01-11 00:00:00
2020-01-12 00:00:00
2020-01-13 00:00:00
2020-01-14 00:00:00
2020-01-15 00:00:00
2020-01-18 00:00:00
2020-01-19 00:00:00
2020-01-20 00:00:00
2020-01-21 00:00:00
2020-01-22 00:00:00
2020-01-25 00:00:00
2020-01-26 00:00:00
2020-01-27 00:00:00
2020-01-28 00:00:00
2020-01-29 00:00:00
2020-02-01 00:00:00
2020-02-02 00:00:00
2020-02-03 00:00:00
2020-02-04 00:00:00
2020-02-05 00:00:00
2020-02-11 00:00:00
2020-02-12 00:00:00
2020-02-15 00:00:00
2020-02-16 00:00:00
2020-02-17 00:00:00
2020-02-18 00:00:00
2020-02-19 00:00:00
2020-02-22 00:00:00
2020-02-23 00:00:00
2020-02-24 00:00:00
2020-02-25 00:00:00
2020-02-26 00:00:00
2020-02-29 00:00:00
2020-03-02 00:00:00
2020-03-03 00:00:00
2020-03-04 00:00:00
2020-03-07 00:00:00
2020-03-08 00:00:00
2020-03-09 00:00:00
2020-03-10 00:00:00
2020-03-11 00:00:00
2020-03-14 00:00:00
2020-03-15 00:00:00
2020-03-16 00:00:00
2020-03-17 00:00:00
2020-03-18 00:00:00
2020-03-21 00:00:00
2020-03-22 00:00:00
2020-03-23 00:00:00
2020-03-24 00:00:00
2020-03-25 00:00:00
2020-03-28 00:00:00
2020-03-29 00:00:00
2020-03-30 00:00:00
2020-03-31 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2016-01  2016-01  2016-01  2016-01  2016-01  2016-01  2016-01  2016-01
avg     4,400    4,500    4,500    4,550    4,550    4,700    4,700    4,700
가을      4,500    4,500    4,500    4,500    4,500        -        -        -
월동      5,000    5,000    5,000    5,000    5,000    5,000    5,000    5,000

           8        9   ...       50       51       52       53       54  \
date  2016-01  2016-01  ...  2016-03  2016-03  2016-03  2016-03  2016-03
avg     4,800    4,800  ...   12,000   12,000   12,200   12,200   12,000
가을          -        -  ...        -        -        -        -        -
월동      5,000    5,000  ...   11,000   11,000   11,000   11,000   11,000

           55       56       57       58       59
date  2016-03  2016-03  2016-03  2016-03  2016-03
avg    12,200   13,200   13,200   13,200   13,200
가을          -        -        -        -        -
월동     11,000   13,000   13,000   13,000   13,000

[4 rows x 60 columns]
2016-04-01_Baechu_wholesale_func.xlsx
./data/input/2016-04-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date     avg      봄      월동
0   2020-04-01 00:00:00  14,400      -  13,000
1   2020-04-04 00:00:00  14,600      -  13,000
2   2020-04-05 00:00:00  15,000      -  13,000
3   2020-04-06 00:00:00  15,200      -  13,000
4   2020-04-07 00:00:00  15,600      -  14,000
..                  ...     ...    ...     ...
56  2020-06-24 00:00:00   6,600  6,000       -
57  2020-06-27 00:00:00   6,400  6,000       -
58  2020-06-28 00:00:00   6,200  5,000       -
59  2020-06-29 00:00:00   5,700  5,000       -
60  2020-06-30 00:00:00   5,700  5,000       -

[61 rows x 4 columns]
==================================================================================================== log_3
2020-04-01 00:00:00
2020-04-04 00:00:00
2020-04-05 00:00:00
2020-04-06 00:00:00
2020-04-07 00:00:00
2020-04-08 00:00:00
2020-04-11 00:00:00
2020-04-12 00:00:00
2020-04-14 00:00:00
2020-04-15 00:00:00
2020-04-18 00:00:00
2020-04-19 00:00:00
2020-04-20 00:00:00
2020-04-21 00:00:00
2020-04-22 00:00:00
2020-04-25 00:00:00
2020-04-26 00:00:00
2020-04-27 00:00:00
2020-04-28 00:00:00
2020-04-29 00:00:00
2020-05-02 00:00:00
2020-05-03 00:00:00
2020-05-04 00:00:00
2020-05-09 00:00:00
2020-05-10 00:00:00
2020-05-11 00:00:00
2020-05-12 00:00:00
2020-05-13 00:00:00
2020-05-16 00:00:00
2020-05-17 00:00:00
2020-05-18 00:00:00
2020-05-19 00:00:00
2020-05-20 00:00:00
2020-05-23 00:00:00
2020-05-24 00:00:00
2020-05-25 00:00:00
2020-05-26 00:00:00
2020-05-27 00:00:00
2020-05-30 00:00:00
2020-05-31 00:00:00
2020-06-01 00:00:00
2020-06-02 00:00:00
2020-06-03 00:00:00
2020-06-07 00:00:00
2020-06-08 00:00:00
2020-06-09 00:00:00
2020-06-10 00:00:00
2020-06-13 00:00:00
2020-06-14 00:00:00
2020-06-15 00:00:00
2020-06-16 00:00:00
2020-06-17 00:00:00
2020-06-20 00:00:00
2020-06-21 00:00:00
2020-06-22 00:00:00
2020-06-23 00:00:00
2020-06-24 00:00:00
2020-06-27 00:00:00
2020-06-28 00:00:00
2020-06-29 00:00:00
2020-06-30 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2016-04  2016-04  2016-04  2016-04  2016-04  2016-04  2016-04  2016-04
avg    14,400   14,600   15,000   15,200   15,600   15,600   15,600   15,400
봄           -        -        -        -        -        -        -        -
월동     13,000   13,000   13,000   13,000   14,000   14,000   14,000   14,000

           8        9   ...       51       52       53       54       55  \
date  2016-04  2016-04  ...  2016-06  2016-06  2016-06  2016-06  2016-06
avg    15,200   15,000  ...    5,400    6,000    6,500    6,100    6,500
봄           -        -  ...    6,000    6,000    6,500    6,500    6,500
월동     16,000   16,000  ...        -        -        -        -        -

           56       57       58       59       60
date  2016-06  2016-06  2016-06  2016-06  2016-06
avg     6,600    6,400    6,200    5,700    5,700
봄       6,000    6,000    5,000    5,000    5,000
월동          -        -        -        -        -

[4 rows x 61 columns]
2016-07-01_Baechu_wholesale_func.xlsx
./data/input/2016-07-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date     avg      봄     고랭지
0   2020-07-01 00:00:00   5,700  5,000       -
1   2020-07-04 00:00:00   5,700  5,000       -
2   2020-07-05 00:00:00   6,200  6,000       -
3   2020-07-06 00:00:00   6,500  5,500       -
4   2020-07-07 00:00:00   7,200  7,000       -
..                  ...     ...    ...     ...
57  2020-09-26 00:00:00  19,800      -  21,000
58  2020-09-27 00:00:00  19,800      -  21,000
59  2020-09-28 00:00:00  19,600      -  23,000
60  2020-09-29 00:00:00  18,600      -  22,000
61  2020-09-30 00:00:00  18,600      -  20,000

[62 rows x 4 columns]
==================================================================================================== log_3
2020-07-01 00:00:00
2020-07-04 00:00:00
2020-07-05 00:00:00
2020-07-06 00:00:00
2020-07-07 00:00:00
2020-07-08 00:00:00
2020-07-11 00:00:00
2020-07-12 00:00:00
2020-07-13 00:00:00
2020-07-14 00:00:00
2020-07-15 00:00:00
2020-07-18 00:00:00
2020-07-19 00:00:00
2020-07-20 00:00:00
2020-07-21 00:00:00
2020-07-22 00:00:00
2020-07-25 00:00:00
2020-07-26 00:00:00
2020-07-27 00:00:00
2020-07-28 00:00:00
2020-07-29 00:00:00
2020-08-01 00:00:00
2020-08-02 00:00:00
2020-08-03 00:00:00
2020-08-04 00:00:00
2020-08-05 00:00:00
2020-08-08 00:00:00
2020-08-09 00:00:00
2020-08-10 00:00:00
2020-08-11 00:00:00
2020-08-12 00:00:00
2020-08-16 00:00:00
2020-08-17 00:00:00
2020-08-18 00:00:00
2020-08-19 00:00:00
2020-08-22 00:00:00
2020-08-23 00:00:00
2020-08-24 00:00:00
2020-08-25 00:00:00
2020-08-26 00:00:00
2020-08-29 00:00:00
2020-08-30 00:00:00
2020-08-31 00:00:00
2020-09-01 00:00:00
2020-09-02 00:00:00
2020-09-05 00:00:00
2020-09-06 00:00:00
2020-09-07 00:00:00
2020-09-08 00:00:00
2020-09-09 00:00:00
2020-09-12 00:00:00
2020-09-13 00:00:00
2020-09-19 00:00:00
2020-09-20 00:00:00
2020-09-21 00:00:00
2020-09-22 00:00:00
2020-09-23 00:00:00
2020-09-26 00:00:00
2020-09-27 00:00:00
2020-09-28 00:00:00
2020-09-29 00:00:00
2020-09-30 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2016-07  2016-07  2016-07  2016-07  2016-07  2016-07  2016-07  2016-07
avg     5,700    5,700    6,200    6,500    7,200    7,200    7,000    7,400
봄       5,000    5,000    6,000    5,500    7,000    7,000    6,000    7,000
고랭지         -        -        -        -        -        -        -        -

           8        9   ...       52       53       54       55       56  \
date  2016-07  2016-07  ...  2016-09  2016-09  2016-09  2016-09  2016-09
avg     8,400    8,400  ...   19,800   20,200   20,400   20,000   19,600
봄       8,000    9,000  ...        -        -        -        -        -
고랭지         -        -  ...   20,000   19,000   19,000   20,000   20,000

           57       58       59       60       61
date  2016-09  2016-09  2016-09  2016-09  2016-09
avg    19,800   19,800   19,600   18,600   18,600
봄           -        -        -        -        -
고랭지    21,000   21,000   23,000   22,000   20,000

[4 rows x 62 columns]
2016-10-01_Baechu_wholesale_func.xlsx
./data/input/2016-10-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date     avg     고랭지     가을
0   2020-10-04 00:00:00  17,800  18,000      -
1   2020-10-05 00:00:00  16,600  16,000      -
2   2020-10-06 00:00:00  16,000  16,000      -
3   2020-10-07 00:00:00  14,800  13,000      -
4   2020-10-10 00:00:00  12,600  10,000      -
..                  ...     ...     ...    ...
58  2020-12-26 00:00:00   9,200       -  9,000
59  2020-12-27 00:00:00   9,200       -  9,000
60  2020-12-28 00:00:00   9,200       -  9,000
61  2020-12-29 00:00:00   9,200       -  9,000
62  2020-12-30 00:00:00   9,000       -  9,000

[63 rows x 4 columns]
==================================================================================================== log_3
2020-10-04 00:00:00
2020-10-05 00:00:00
2020-10-06 00:00:00
2020-10-07 00:00:00
2020-10-10 00:00:00
2020-10-11 00:00:00
2020-10-12 00:00:00
2020-10-13 00:00:00
2020-10-14 00:00:00
2020-10-17 00:00:00
2020-10-18 00:00:00
2020-10-19 00:00:00
2020-10-20 00:00:00
2020-10-21 00:00:00
2020-10-24 00:00:00
2020-10-25 00:00:00
2020-10-26 00:00:00
2020-10-27 00:00:00
2020-10-28 00:00:00
2020-10-31 00:00:00
2020-11-01 00:00:00
2020-11-02 00:00:00
2020-11-03 00:00:00
2020-11-04 00:00:00
2020-11-07 00:00:00
2020-11-08 00:00:00
2020-11-09 00:00:00
2020-11-10 00:00:00
2020-11-11 00:00:00
2020-11-14 00:00:00
2020-11-15 00:00:00
2020-11-16 00:00:00
2020-11-17 00:00:00
2020-11-18 00:00:00
2020-11-21 00:00:00
2020-11-22 00:00:00
2020-11-23 00:00:00
2020-11-24 00:00:00
2020-11-25 00:00:00
2020-11-28 00:00:00
2020-11-29 00:00:00
2020-11-30 00:00:00
2020-12-01 00:00:00
2020-12-05 00:00:00
2020-12-06 00:00:00
2020-12-07 00:00:00
2020-12-08 00:00:00
2020-12-09 00:00:00
2020-12-12 00:00:00
2020-12-13 00:00:00
2020-12-14 00:00:00
2020-12-15 00:00:00
2020-12-16 00:00:00
2020-12-19 00:00:00
2020-12-20 00:00:00
2020-12-21 00:00:00
2020-12-22 00:00:00
2020-12-23 00:00:00
2020-12-26 00:00:00
2020-12-27 00:00:00
2020-12-28 00:00:00
2020-12-29 00:00:00
2020-12-30 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2016-10  2016-10  2016-10  2016-10  2016-10  2016-10  2016-10  2016-10
avg    17,800   16,600   16,000   14,800   12,600   11,600   10,400    9,600
고랭지    18,000   16,000   16,000   13,000   10,000   10,000   10,000   10,000
가을          -        -        -        -        -        -        -        -

           8        9   ...       53       54       55       56       57  \
date  2016-10  2016-10  ...  2016-12  2016-12  2016-12  2016-12  2016-12
avg    10,000   10,000  ...    9,200    9,000    9,500    9,300    9,000
고랭지    11,000   10,000  ...        -        -        -        -        -
가을          -        -  ...    9,000    9,000    9,000    9,000    9,000

           58       59       60       61       62
date  2016-12  2016-12  2016-12  2016-12  2016-12
avg     9,200    9,200    9,200    9,200    9,000
고랭지         -        -        -        -        -
가을      9,000    9,000    9,000    9,000    9,000

[4 rows x 63 columns]
2017-01-01_Baechu_wholesale_func.xlsx
./data/input/2017-01-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1

==================================================================================================== log_2
==================================================================================================== log_3
                   date     avg      월동      월동
0   2020-01-02 00:00:00   9,600  10,000   9,000
1   2020-01-03 00:00:00  10,000  10,000  10,000
2   2020-01-04 00:00:00  10,400  10,000  10,000
3   2020-01-05 00:00:00   9,800  10,000  10,000
4   2020-01-06 00:00:00   9,400   9,000  10,000
..                  ...     ...     ...     ...
57  2020-03-27 00:00:00   9,900   9,000  10,000
58  2020-03-28 00:00:00   9,500   9,000   9,000
59  2020-03-29 00:00:00   9,300   8,000   9,000
60  2020-03-30 00:00:00   9,300   8,000   9,000
61  2020-03-31 00:00:00   9,300   8,000   9,000

[62 rows x 4 columns]
==================================================================================================== log_3
2020-01-02 00:00:00
2020-01-03 00:00:00
2020-01-04 00:00:00
2020-01-05 00:00:00
2020-01-06 00:00:00
2020-01-09 00:00:00
2020-01-10 00:00:00
2020-01-11 00:00:00
2020-01-12 00:00:00
2020-01-13 00:00:00
2020-01-16 00:00:00
2020-01-17 00:00:00
2020-01-18 00:00:00
2020-01-19 00:00:00
2020-01-20 00:00:00
2020-01-23 00:00:00
2020-01-24 00:00:00
2020-01-25 00:00:00
2020-01-26 00:00:00
2020-01-31 00:00:00
2020-02-01 00:00:00
2020-02-02 00:00:00
2020-02-03 00:00:00
2020-02-06 00:00:00
2020-02-07 00:00:00
2020-02-08 00:00:00
2020-02-09 00:00:00
2020-02-10 00:00:00
2020-02-13 00:00:00
2020-02-14 00:00:00
2020-02-15 00:00:00
2020-02-16 00:00:00
2020-02-17 00:00:00
2020-02-20 00:00:00
2020-02-21 00:00:00
2020-02-22 00:00:00
2020-02-23 00:00:00
2020-02-24 00:00:00
2020-02-27 00:00:00
2020-02-28 00:00:00
2020-03-02 00:00:00
2020-03-03 00:00:00
2020-03-06 00:00:00
2020-03-07 00:00:00
2020-03-08 00:00:00
2020-03-09 00:00:00
2020-03-10 00:00:00
2020-03-13 00:00:00
2020-03-14 00:00:00
2020-03-15 00:00:00
2020-03-16 00:00:00
2020-03-17 00:00:00
2020-03-20 00:00:00
2020-03-21 00:00:00
2020-03-22 00:00:00
2020-03-23 00:00:00
2020-03-24 00:00:00
2020-03-27 00:00:00
2020-03-28 00:00:00
2020-03-29 00:00:00
2020-03-30 00:00:00
2020-03-31 00:00:00
==================================================================================================== log_4
                       0                    1                    2   \
date  2020-01-02 00:00:00  2020-01-03 00:00:00  2020-01-04 00:00:00
avg                 9,600               10,000               10,400
월동                 10,000               10,000               10,000
월동                  9,000               10,000               10,000

                       3                    4                    5   \
date  2020-01-05 00:00:00  2020-01-06 00:00:00  2020-01-09 00:00:00
avg                 9,800                9,400                9,400
월동                 10,000                9,000                9,000
월동                 10,000               10,000               10,000

                       6                    7                    8   \
date  2020-01-10 00:00:00  2020-01-11 00:00:00  2020-01-12 00:00:00
avg                 9,400               10,000               10,000
월동                  9,000               10,000               10,000
월동                 10,000               10,000               10,000

                       9   ...                   52                   53  \
date  2020-01-13 00:00:00  ...  2020-03-20 00:00:00  2020-03-21 00:00:00
avg                10,000  ...                9,500                9,500
월동                 10,000  ...               10,000               10,000
월동                 10,000  ...                9,000                9,000

                       54                   55                   56  \
date  2020-03-22 00:00:00  2020-03-23 00:00:00  2020-03-24 00:00:00
avg                 9,300                8,900                9,300
월동                  9,000                9,000                9,000
월동                  9,000                9,000                9,000

                       57                   58                   59  \
date  2020-03-27 00:00:00  2020-03-28 00:00:00  2020-03-29 00:00:00
avg                 9,900                9,500                9,300
월동                  9,000                9,000                8,000
월동                 10,000                9,000                9,000

                       60                   61
date  2020-03-30 00:00:00  2020-03-31 00:00:00
avg                 9,300                9,300
월동                  8,000                8,000
월동                  9,000                9,000

[4 rows x 62 columns]
2017-04-01_Baechu_wholesale_func.xlsx
./data/input/2017-04-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date    avg      봄     월동
0   2020-04-03 00:00:00  9,300      -  8,000
1   2020-04-04 00:00:00  9,300      -  8,000
2   2020-04-05 00:00:00  9,100      -  8,000
3   2020-04-06 00:00:00  8,700      -  8,000
4   2020-04-07 00:00:00  8,500      -  8,000
5   2020-04-10 00:00:00  8,000      -  8,000
6   2020-04-11 00:00:00  8,400      -  8,000
7   2020-04-12 00:00:00  7,500      -  7,000
8   2020-04-13 00:00:00  7,400      -  7,000
9   2020-04-14 00:00:00  7,400      -  7,000
10  2020-04-17 00:00:00  7,200      -  7,000
11  2020-04-18 00:00:00  7,200      -  7,000
12  2020-04-19 00:00:00  7,400      -  8,000
13  2020-04-20 00:00:00  7,400      -  8,000
14  2020-04-21 00:00:00  7,400      -  8,000
15  2020-04-24 00:00:00  7,400      -  8,000
16  2020-04-25 00:00:00  7,100      -  9,000
17  2020-04-26 00:00:00  7,000      -  9,000
18  2020-04-27 00:00:00  7,000      -  9,000
19  2020-04-28 00:00:00  6,800      -  8,000
20  2020-05-02 00:00:00  5,350  4,000  8,000
21  2020-05-04 00:00:00  5,500  4,000  9,000
22  2020-05-08 00:00:00  5,650  4,000  9,000
23  2020-05-10 00:00:00  5,650  4,000  9,000
24  2020-05-11 00:00:00  4,000  4,000      -
25  2020-05-12 00:00:00  4,000  4,000      -
26  2020-05-15 00:00:00  3,700  4,000      -
27  2020-05-16 00:00:00  3,800  4,000      -
28  2020-05-17 00:00:00  3,800  4,000      -
29  2020-05-18 00:00:00  3,700  4,000      -
30  2020-05-19 00:00:00  3,900  4,000      -
31  2020-05-22 00:00:00  4,300  5,000      -
32  2020-05-23 00:00:00  4,300  5,000      -
33  2020-05-24 00:00:00  4,300  5,000      -
34  2020-05-25 00:00:00  4,300  5,000      -
35  2020-05-26 00:00:00  4,300  5,000      -
36  2020-05-29 00:00:00  3,500  4,000      -
37  2020-05-30 00:00:00  3,900  4,000      -
38  2020-05-31 00:00:00  3,700  4,000      -
39  2020-06-01 00:00:00  3,600  4,000      -
40  2020-06-02 00:00:00  3,900  4,000      -
41  2020-06-05 00:00:00  4,300  4,000      -
42  2020-06-07 00:00:00  5,200  5,000      -
43  2020-06-08 00:00:00  5,200  6,000      -
44  2020-06-09 00:00:00  5,300  5,000      -
45  2020-06-12 00:00:00  4,700  5,000      -
46  2020-06-13 00:00:00  4,500  4,000      -
47  2020-06-14 00:00:00  4,500  4,000      -
48  2020-06-15 00:00:00  4,400  4,000      -
49  2020-06-16 00:00:00  4,300  4,000      -
50  2020-06-19 00:00:00  4,700  5,000      -
51  2020-06-20 00:00:00  4,700  5,000      -
52  2020-06-21 00:00:00  4,700  5,000      -
53  2020-06-22 00:00:00  5,300  5,000      -
54  2020-06-23 00:00:00  5,800  5,000      -
55  2020-06-26 00:00:00  5,500  5,000      -
56  2020-06-27 00:00:00  5,600  5,000      -
57  2020-06-28 00:00:00  5,600  5,000      -
58  2020-06-29 00:00:00  5,600  5,000      -
59  2020-06-30 00:00:00  5,400  5,000      -
==================================================================================================== log_3
2020-04-03 00:00:00
2020-04-04 00:00:00
2020-04-05 00:00:00
2020-04-06 00:00:00
2020-04-07 00:00:00
2020-04-10 00:00:00
2020-04-11 00:00:00
2020-04-12 00:00:00
2020-04-13 00:00:00
2020-04-14 00:00:00
2020-04-17 00:00:00
2020-04-18 00:00:00
2020-04-19 00:00:00
2020-04-20 00:00:00
2020-04-21 00:00:00
2020-04-24 00:00:00
2020-04-25 00:00:00
2020-04-26 00:00:00
2020-04-27 00:00:00
2020-04-28 00:00:00
2020-05-02 00:00:00
2020-05-04 00:00:00
2020-05-08 00:00:00
2020-05-10 00:00:00
2020-05-11 00:00:00
2020-05-12 00:00:00
2020-05-15 00:00:00
2020-05-16 00:00:00
2020-05-17 00:00:00
2020-05-18 00:00:00
2020-05-19 00:00:00
2020-05-22 00:00:00
2020-05-23 00:00:00
2020-05-24 00:00:00
2020-05-25 00:00:00
2020-05-26 00:00:00
2020-05-29 00:00:00
2020-05-30 00:00:00
2020-05-31 00:00:00
2020-06-01 00:00:00
2020-06-02 00:00:00
2020-06-05 00:00:00
2020-06-07 00:00:00
2020-06-08 00:00:00
2020-06-09 00:00:00
2020-06-12 00:00:00
2020-06-13 00:00:00
2020-06-14 00:00:00
2020-06-15 00:00:00
2020-06-16 00:00:00
2020-06-19 00:00:00
2020-06-20 00:00:00
2020-06-21 00:00:00
2020-06-22 00:00:00
2020-06-23 00:00:00
2020-06-26 00:00:00
2020-06-27 00:00:00
2020-06-28 00:00:00
2020-06-29 00:00:00
2020-06-30 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2017-04  2017-04  2017-04  2017-04  2017-04  2017-04  2017-04  2017-04
avg     9,300    9,300    9,100    8,700    8,500    8,000    8,400    7,500
봄           -        -        -        -        -        -        -        -
월동      8,000    8,000    8,000    8,000    8,000    8,000    8,000    7,000

           8        9   ...       50       51       52       53       54  \
date  2017-04  2017-04  ...  2017-06  2017-06  2017-06  2017-06  2017-06
avg     7,400    7,400  ...    4,700    4,700    4,700    5,300    5,800
봄           -        -  ...    5,000    5,000    5,000    5,000    5,000
월동      7,000    7,000  ...        -        -        -        -        -

           55       56       57       58       59
date  2017-06  2017-06  2017-06  2017-06  2017-06
avg     5,500    5,600    5,600    5,600    5,400
봄       5,000    5,000    5,000    5,000    5,000
월동          -        -        -        -        -

[4 rows x 60 columns]
2017-07-01_Baechu_wholesale_func.xlsx
./data/input/2017-07-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date     avg      봄     고랭지
0   2020-07-03 00:00:00   6,000  6,000       -
1   2020-07-04 00:00:00   6,100  5,000       -
2   2020-07-05 00:00:00   6,300  5,000       -
3   2020-07-06 00:00:00   5,800  5,000       -
4   2020-07-07 00:00:00   5,600  5,000       -
..                  ...     ...    ...     ...
59  2020-09-25 00:00:00  16,200      -  16,000
60  2020-09-26 00:00:00  15,200      -  15,000
61  2020-09-27 00:00:00  14,800      -  15,000
62  2020-09-28 00:00:00  13,600      -  14,000
63  2020-09-29 00:00:00  14,200      -  14,000

[64 rows x 4 columns]
==================================================================================================== log_3
2020-07-03 00:00:00
2020-07-04 00:00:00
2020-07-05 00:00:00
2020-07-06 00:00:00
2020-07-07 00:00:00
2020-07-10 00:00:00
2020-07-11 00:00:00
2020-07-12 00:00:00
2020-07-13 00:00:00
2020-07-14 00:00:00
2020-07-17 00:00:00
2020-07-18 00:00:00
2020-07-19 00:00:00
2020-07-20 00:00:00
2020-07-21 00:00:00
2020-07-24 00:00:00
2020-07-25 00:00:00
2020-07-26 00:00:00
2020-07-27 00:00:00
2020-07-28 00:00:00
2020-07-31 00:00:00
2020-08-01 00:00:00
2020-08-02 00:00:00
2020-08-03 00:00:00
2020-08-04 00:00:00
2020-08-07 00:00:00
2020-08-08 00:00:00
2020-08-09 00:00:00
2020-08-10 00:00:00
2020-08-11 00:00:00
2020-08-14 00:00:00
2020-08-16 00:00:00
2020-08-17 00:00:00
2020-08-18 00:00:00
2020-08-21 00:00:00
2020-08-22 00:00:00
2020-08-23 00:00:00
2020-08-24 00:00:00
2020-08-25 00:00:00
2020-08-28 00:00:00
2020-08-29 00:00:00
2020-08-30 00:00:00
2020-08-31 00:00:00
2020-09-01 00:00:00
2020-09-04 00:00:00
2020-09-05 00:00:00
2020-09-06 00:00:00
2020-09-07 00:00:00
2020-09-08 00:00:00
2020-09-11 00:00:00
2020-09-12 00:00:00
2020-09-13 00:00:00
2020-09-14 00:00:00
2020-09-15 00:00:00
2020-09-18 00:00:00
2020-09-19 00:00:00
2020-09-20 00:00:00
2020-09-21 00:00:00
2020-09-22 00:00:00
2020-09-25 00:00:00
2020-09-26 00:00:00
2020-09-27 00:00:00
2020-09-28 00:00:00
2020-09-29 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2017-07  2017-07  2017-07  2017-07  2017-07  2017-07  2017-07  2017-07
avg     6,000    6,100    6,300    5,800    5,600    6,240    6,700    7,800
봄       6,000    5,000    5,000    5,000    5,000    6,000    7,000    9,000
고랭지         -        -        -        -        -        -        -        -

           8        9   ...       54       55       56       57       58  \
date  2017-07  2017-07  ...  2017-09  2017-09  2017-09  2017-09  2017-09
avg     7,900    7,900  ...   17,400   16,800   17,000   16,200   16,800
봄       8,000    8,000  ...        -        -        -        -        -
고랭지         -        -  ...   18,000   17,000   17,000   16,000   16,000

           59       60       61       62       63
date  2017-09  2017-09  2017-09  2017-09  2017-09
avg    16,200   15,200   14,800   13,600   14,200
봄           -        -        -        -        -
고랭지    16,000   15,000   15,000   14,000   14,000

[4 rows x 64 columns]
2017-10-01_Baechu_wholesale_func.xlsx
./data/input/2017-10-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date     avg     고랭지     가을
0   2020-10-10 00:00:00  13,000  12,000      -
1   2020-10-11 00:00:00  12,800  12,000      -
2   2020-10-12 00:00:00  10,200  10,000      -
3   2020-10-13 00:00:00   8,400   8,000      -
4   2020-10-16 00:00:00   7,400   7,000      -
5   2020-10-17 00:00:00   6,600   7,000      -
6   2020-10-18 00:00:00   6,400   7,000      -
7   2020-10-19 00:00:00   5,800   6,000      -
8   2020-10-20 00:00:00   5,400   6,000      -
9   2020-10-23 00:00:00   5,700   6,000  6,000
10  2020-10-24 00:00:00   5,700   6,000  6,000
11  2020-10-25 00:00:00   5,700   6,000  6,000
12  2020-10-26 00:00:00   5,700   6,000  6,000
13  2020-10-27 00:00:00   5,700   6,000  6,000
14  2020-10-30 00:00:00   5,760       -  6,000
15  2020-10-31 00:00:00   5,760       -  6,000
16  2020-11-01 00:00:00   5,400       -  6,000
17  2020-11-02 00:00:00   5,360       -  6,000
18  2020-11-03 00:00:00   5,460       -  6,000
19  2020-11-06 00:00:00   5,400       -  6,000
20  2020-11-07 00:00:00   5,460       -  6,000
21  2020-11-08 00:00:00   5,960       -  6,000
22  2020-11-09 00:00:00   6,000       -  6,000
23  2020-11-10 00:00:00   6,200       -  7,000
24  2020-11-13 00:00:00   6,200       -  6,000
25  2020-11-14 00:00:00   6,000       -  6,000
26  2020-11-15 00:00:00   6,000       -  6,000
27  2020-11-16 00:00:00   6,160       -  6,000
28  2020-11-17 00:00:00   6,440       -  6,000
29  2020-11-20 00:00:00   6,240       -  6,000
30  2020-11-21 00:00:00   6,500       -  7,000
31  2020-11-22 00:00:00   6,560       -  7,000
32  2020-11-23 00:00:00   7,000       -  7,000
33  2020-11-24 00:00:00   7,200       -  8,000
34  2020-11-27 00:00:00   6,200       -  7,000
35  2020-11-28 00:00:00   5,960       -  7,000
36  2020-11-29 00:00:00   5,960       -  6,000
37  2020-11-30 00:00:00   5,960       -  6,000
38  2020-12-04 00:00:00   5,840       -  6,000
39  2020-12-05 00:00:00   5,500       -  6,000
40  2020-12-06 00:00:00   5,460       -  6,000
41  2020-12-07 00:00:00   5,500       -  6,000
42  2020-12-08 00:00:00   6,220       -  6,000
43  2020-12-11 00:00:00   6,420       -  6,000
44  2020-12-12 00:00:00   6,420       -  6,000
45  2020-12-13 00:00:00   6,420       -  6,000
46  2020-12-14 00:00:00   6,600       -  7,000
47  2020-12-15 00:00:00   6,660       -  7,000
48  2020-12-18 00:00:00   6,860       -  7,000
49  2020-12-19 00:00:00   6,900       -  7,000
50  2020-12-20 00:00:00   7,000       -  7,000
51  2020-12-21 00:00:00   7,040       -  7,000
52  2020-12-22 00:00:00   7,040       -  7,000
53  2020-12-26 00:00:00   6,900       -  7,000
54  2020-12-27 00:00:00   6,960       -  7,000
55  2020-12-28 00:00:00   6,900       -  7,000
56  2020-12-29 00:00:00   6,800       -  7,000
==================================================================================================== log_3
2020-10-10 00:00:00
2020-10-11 00:00:00
2020-10-12 00:00:00
2020-10-13 00:00:00
2020-10-16 00:00:00
2020-10-17 00:00:00
2020-10-18 00:00:00
2020-10-19 00:00:00
2020-10-20 00:00:00
2020-10-23 00:00:00
2020-10-24 00:00:00
2020-10-25 00:00:00
2020-10-26 00:00:00
2020-10-27 00:00:00
2020-10-30 00:00:00
2020-10-31 00:00:00
2020-11-01 00:00:00
2020-11-02 00:00:00
2020-11-03 00:00:00
2020-11-06 00:00:00
2020-11-07 00:00:00
2020-11-08 00:00:00
2020-11-09 00:00:00
2020-11-10 00:00:00
2020-11-13 00:00:00
2020-11-14 00:00:00
2020-11-15 00:00:00
2020-11-16 00:00:00
2020-11-17 00:00:00
2020-11-20 00:00:00
2020-11-21 00:00:00
2020-11-22 00:00:00
2020-11-23 00:00:00
2020-11-24 00:00:00
2020-11-27 00:00:00
2020-11-28 00:00:00
2020-11-29 00:00:00
2020-11-30 00:00:00
2020-12-04 00:00:00
2020-12-05 00:00:00
2020-12-06 00:00:00
2020-12-07 00:00:00
2020-12-08 00:00:00
2020-12-11 00:00:00
2020-12-12 00:00:00
2020-12-13 00:00:00
2020-12-14 00:00:00
2020-12-15 00:00:00
2020-12-18 00:00:00
2020-12-19 00:00:00
2020-12-20 00:00:00
2020-12-21 00:00:00
2020-12-22 00:00:00
2020-12-26 00:00:00
2020-12-27 00:00:00
2020-12-28 00:00:00
2020-12-29 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2017-10  2017-10  2017-10  2017-10  2017-10  2017-10  2017-10  2017-10
avg    13,000   12,800   10,200    8,400    7,400    6,600    6,400    5,800
고랭지    12,000   12,000   10,000    8,000    7,000    7,000    7,000    6,000
가을          -        -        -        -        -        -        -        -

           8        9   ...       47       48       49       50       51  \
date  2017-10  2017-10  ...  2017-12  2017-12  2017-12  2017-12  2017-12
avg     5,400    5,700  ...    6,660    6,860    6,900    7,000    7,040
고랭지     6,000    6,000  ...        -        -        -        -        -
가을          -    6,000  ...    7,000    7,000    7,000    7,000    7,000

           52       53       54       55       56
date  2017-12  2017-12  2017-12  2017-12  2017-12
avg     7,040    6,900    6,960    6,900    6,800
고랭지         -        -        -        -        -
가을      7,000    7,000    7,000    7,000    7,000

[4 rows x 57 columns]
2018-01-01_Baechu_wholesale_func.xlsx
./data/input/2018-01-01_Baechu_wholesale_func.xlsx

C:\Users\admin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date    avg     가을     월동
0   2020-01-02 00:00:00  6,850  7,000  7,000
1   2020-01-03 00:00:00  6,830  7,000  7,000
2   2020-01-04 00:00:00  6,850  7,000  7,000
3   2020-01-05 00:00:00  6,850  7,000  7,000
4   2020-01-08 00:00:00  7,000      -  7,000
..                  ...    ...    ...    ...
56  2020-03-26 00:00:00  9,200      -  9,000
57  2020-03-27 00:00:00  9,100      -  9,000
58  2020-03-28 00:00:00  8,900      -  9,000
59  2020-03-29 00:00:00  8,600      -  8,500
60  2020-03-30 00:00:00  8,500      -  8,500

[61 rows x 4 columns]
==================================================================================================== log_3
2020-01-02 00:00:00
2020-01-03 00:00:00
2020-01-04 00:00:00
2020-01-05 00:00:00
2020-01-08 00:00:00
2020-01-09 00:00:00
2020-01-10 00:00:00
2020-01-11 00:00:00
2020-01-12 00:00:00
2020-01-15 00:00:00
2020-01-16 00:00:00
2020-01-17 00:00:00
2020-01-18 00:00:00
2020-01-19 00:00:00
2020-01-22 00:00:00
2020-01-23 00:00:00
2020-01-24 00:00:00
2020-01-25 00:00:00
2020-01-26 00:00:00
2020-01-29 00:00:00
2020-01-30 00:00:00
2020-01-31 00:00:00
2020-02-01 00:00:00
2020-02-02 00:00:00
2020-02-05 00:00:00
2020-02-06 00:00:00
2020-02-07 00:00:00
2020-02-08 00:00:00
2020-02-09 00:00:00
2020-02-12 00:00:00
2020-02-13 00:00:00
2020-02-14 00:00:00
2020-02-19 00:00:00
2020-02-20 00:00:00
2020-02-21 00:00:00
2020-02-22 00:00:00
2020-02-23 00:00:00
2020-02-26 00:00:00
2020-02-27 00:00:00
2020-02-28 00:00:00
2020-03-02 00:00:00
2020-03-05 00:00:00
2020-03-06 00:00:00
2020-03-07 00:00:00
2020-03-08 00:00:00
2020-03-09 00:00:00
2020-03-12 00:00:00
2020-03-13 00:00:00
2020-03-14 00:00:00
2020-03-15 00:00:00
2020-03-16 00:00:00
2020-03-19 00:00:00
2020-03-20 00:00:00
2020-03-21 00:00:00
2020-03-22 00:00:00
2020-03-23 00:00:00
2020-03-26 00:00:00
2020-03-27 00:00:00
2020-03-28 00:00:00
2020-03-29 00:00:00
2020-03-30 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2018-01  2018-01  2018-01  2018-01  2018-01  2018-01  2018-01  2018-01
avg     6,850    6,830    6,850    6,850    7,000    7,000    7,000    7,000
가을      7,000    7,000    7,000    7,000        -        -        -        -
월동      7,000    7,000    7,000    7,000    7,000    7,000    7,000    7,000

           8        9   ...       51       52       53       54       55  \
date  2018-01  2018-01  ...  2018-03  2018-03  2018-03  2018-03  2018-03
avg     6,960    6,800  ...    8,300    8,200    8,400    9,000    9,200
가을          -        -  ...        -        -        -        -        -
월동      7,000    7,000  ...    8,500    8,500    9,000    9,000    9,000

           56       57       58       59       60
date  2018-03  2018-03  2018-03  2018-03  2018-03
avg     9,200    9,100    8,900    8,600    8,500
가을          -        -        -        -        -
월동      9,000    9,000    9,000    8,500    8,500

[4 rows x 61 columns]
2018-04-01_Baechu_wholesale_func.xlsx
./data/input/2018-04-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date    avg      봄     월동
0   2020-04-02 00:00:00  8,500      -  8,500
1   2020-04-03 00:00:00  8,500      -  8,500
2   2020-04-04 00:00:00  8,200      -  8,500
3   2020-04-05 00:00:00  8,300      -  8,500
4   2020-04-06 00:00:00  7,900      -  8,500
5   2020-04-09 00:00:00  8,000      -  8,000
6   2020-04-10 00:00:00  8,300      -  8,000
7   2020-04-11 00:00:00  8,300      -  8,000
8   2020-04-12 00:00:00  8,400      -  8,000
9   2020-04-13 00:00:00  8,200      -  8,000
10  2020-04-16 00:00:00  8,300      -  8,000
11  2020-04-17 00:00:00  8,400      -  8,000
12  2020-04-18 00:00:00  8,100      -  7,500
13  2020-04-19 00:00:00  8,000      -  7,500
14  2020-04-20 00:00:00  8,000      -  7,500
15  2020-04-23 00:00:00  8,200      -  8,000
16  2020-04-24 00:00:00  8,200      -  8,000
17  2020-04-25 00:00:00  8,200      -  8,000
18  2020-04-26 00:00:00  7,900      -  8,000
19  2020-04-27 00:00:00  7,800      -  8,000
20  2020-04-30 00:00:00  8,000      -  8,000
21  2020-05-02 00:00:00  8,000      -  8,000
22  2020-05-03 00:00:00  7,800      -  8,000
23  2020-05-04 00:00:00  7,900      -  8,000
24  2020-05-08 00:00:00  7,200  5,000  8,000
25  2020-05-09 00:00:00  7,050  5,000  8,000
26  2020-05-10 00:00:00  7,050  5,000  8,000
27  2020-05-11 00:00:00  6,700  5,000  8,000
28  2020-05-14 00:00:00  6,630  5,000  7,000
29  2020-05-15 00:00:00  6,780  6,000  7,000
30  2020-05-16 00:00:00  6,780  6,000  7,000
31  2020-05-17 00:00:00  6,780  6,000  7,000
32  2020-05-18 00:00:00  6,750  6,000  7,000
33  2020-05-21 00:00:00  6,000  5,000      -
34  2020-05-23 00:00:00  5,400  4,500      -
35  2020-05-24 00:00:00  5,300  4,500      -
36  2020-05-25 00:00:00  5,300  4,500      -
37  2020-05-28 00:00:00  5,200  4,500      -
38  2020-05-29 00:00:00  5,200  4,500      -
39  2020-05-30 00:00:00  5,200  4,500      -
40  2020-05-31 00:00:00  5,100  5,000      -
41  2020-06-01 00:00:00  5,100  5,000      -
42  2020-06-04 00:00:00  4,900  4,000      -
43  2020-06-05 00:00:00  4,900  4,000      -
44  2020-06-07 00:00:00  4,900  4,000      -
45  2020-06-08 00:00:00  4,900  4,000      -
46  2020-06-11 00:00:00  5,000  4,000      -
47  2020-06-12 00:00:00  4,900  4,000      -
48  2020-06-14 00:00:00  5,500  5,000      -
49  2020-06-15 00:00:00  5,600  5,000      -
50  2020-06-18 00:00:00  6,000  5,000      -
51  2020-06-19 00:00:00  6,000  5,000      -
52  2020-06-20 00:00:00  5,900  5,000      -
53  2020-06-21 00:00:00  5,800  5,000      -
54  2020-06-22 00:00:00  5,900  5,000      -
55  2020-06-25 00:00:00  6,400  6,000      -
56  2020-06-26 00:00:00  6,500  7,000      -
57  2020-06-27 00:00:00  6,900  7,000      -
58  2020-06-28 00:00:00  7,066  7,000      -
59  2020-06-29 00:00:00  6,666  7,000      -
==================================================================================================== log_3
2020-04-02 00:00:00
2020-04-03 00:00:00
2020-04-04 00:00:00
2020-04-05 00:00:00
2020-04-06 00:00:00
2020-04-09 00:00:00
2020-04-10 00:00:00
2020-04-11 00:00:00
2020-04-12 00:00:00
2020-04-13 00:00:00
2020-04-16 00:00:00
2020-04-17 00:00:00
2020-04-18 00:00:00
2020-04-19 00:00:00
2020-04-20 00:00:00
2020-04-23 00:00:00
2020-04-24 00:00:00
2020-04-25 00:00:00
2020-04-26 00:00:00
2020-04-27 00:00:00
2020-04-30 00:00:00
2020-05-02 00:00:00
2020-05-03 00:00:00
2020-05-04 00:00:00
2020-05-08 00:00:00
2020-05-09 00:00:00
2020-05-10 00:00:00
2020-05-11 00:00:00
2020-05-14 00:00:00
2020-05-15 00:00:00
2020-05-16 00:00:00
2020-05-17 00:00:00
2020-05-18 00:00:00
2020-05-21 00:00:00
2020-05-23 00:00:00
2020-05-24 00:00:00
2020-05-25 00:00:00
2020-05-28 00:00:00
2020-05-29 00:00:00
2020-05-30 00:00:00
2020-05-31 00:00:00
2020-06-01 00:00:00
2020-06-04 00:00:00
2020-06-05 00:00:00
2020-06-07 00:00:00
2020-06-08 00:00:00
2020-06-11 00:00:00
2020-06-12 00:00:00
2020-06-14 00:00:00
2020-06-15 00:00:00
2020-06-18 00:00:00
2020-06-19 00:00:00
2020-06-20 00:00:00
2020-06-21 00:00:00
2020-06-22 00:00:00
2020-06-25 00:00:00
2020-06-26 00:00:00
2020-06-27 00:00:00
2020-06-28 00:00:00
2020-06-29 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2018-04  2018-04  2018-04  2018-04  2018-04  2018-04  2018-04  2018-04
avg     8,500    8,500    8,200    8,300    7,900    8,000    8,300    8,300
봄           -        -        -        -        -        -        -        -
월동      8,500    8,500    8,500    8,500    8,500    8,000    8,000    8,000

           8        9   ...       50       51       52       53       54  \
date  2018-04  2018-04  ...  2018-06  2018-06  2018-06  2018-06  2018-06
avg     8,400    8,200  ...    6,000    6,000    5,900    5,800    5,900
봄           -        -  ...    5,000    5,000    5,000    5,000    5,000
월동      8,000    8,000  ...        -        -        -        -        -

           55       56       57       58       59
date  2018-06  2018-06  2018-06  2018-06  2018-06
avg     6,400    6,500    6,900    7,066    6,666
봄       6,000    7,000    7,000    7,000    7,000
월동          -        -        -        -        -

[4 rows x 60 columns]
2018-07-01_Baechu_wholesale_func.xlsx
./data/input/2018-07-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date     avg      봄     고랭지
0   2020-07-02 00:00:00   6,866  7,000       -
1   2020-07-03 00:00:00   6,932  7,000       -
2   2020-07-04 00:00:00   6,800  7,000       -
3   2020-07-05 00:00:00   6,700  6,000       -
4   2020-07-06 00:00:00   6,600  6,000       -
..                  ...     ...    ...     ...
56  2020-09-19 00:00:00  14,400      -  12,000
57  2020-09-20 00:00:00  13,800      -  11,000
58  2020-09-21 00:00:00  14,000      -  11,000
59  2020-09-27 00:00:00  12,600      -  10,000
60  2020-09-28 00:00:00  11,800      -  10,000

[61 rows x 4 columns]
==================================================================================================== log_3
2020-07-02 00:00:00
2020-07-03 00:00:00
2020-07-04 00:00:00
2020-07-05 00:00:00
2020-07-06 00:00:00
2020-07-09 00:00:00
2020-07-10 00:00:00
2020-07-11 00:00:00
2020-07-12 00:00:00
2020-07-13 00:00:00
2020-07-16 00:00:00
2020-07-17 00:00:00
2020-07-18 00:00:00
2020-07-19 00:00:00
2020-07-20 00:00:00
2020-07-23 00:00:00
2020-07-24 00:00:00
2020-07-25 00:00:00
2020-07-26 00:00:00
2020-07-27 00:00:00
2020-07-30 00:00:00
2020-07-31 00:00:00
2020-08-01 00:00:00
2020-08-02 00:00:00
2020-08-03 00:00:00
2020-08-06 00:00:00
2020-08-07 00:00:00
2020-08-08 00:00:00
2020-08-09 00:00:00
2020-08-10 00:00:00
2020-08-13 00:00:00
2020-08-14 00:00:00
2020-08-16 00:00:00
2020-08-17 00:00:00
2020-08-20 00:00:00
2020-08-21 00:00:00
2020-08-22 00:00:00
2020-08-23 00:00:00
2020-08-24 00:00:00
2020-08-27 00:00:00
2020-08-28 00:00:00
2020-08-29 00:00:00
2020-08-30 00:00:00
2020-08-31 00:00:00
2020-09-03 00:00:00
2020-09-04 00:00:00
2020-09-05 00:00:00
2020-09-06 00:00:00
2020-09-07 00:00:00
2020-09-10 00:00:00
2020-09-11 00:00:00
2020-09-12 00:00:00
2020-09-13 00:00:00
2020-09-14 00:00:00
2020-09-17 00:00:00
2020-09-18 00:00:00
2020-09-19 00:00:00
2020-09-20 00:00:00
2020-09-21 00:00:00
2020-09-27 00:00:00
2020-09-28 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2018-07  2018-07  2018-07  2018-07  2018-07  2018-07  2018-07  2018-07
avg     6,866    6,932    6,800    6,700    6,600    7,200    7,300    8,600
봄       7,000    7,000    7,000    6,000    6,000    7,000    7,000    9,000
고랭지         -        -        -        -        -        -        -        -

           8        9   ...       51       52       53       54       55  \
date  2018-07  2018-07  ...  2018-09  2018-09  2018-09  2018-09  2018-09
avg     8,800    9,200  ...   16,000   15,600   15,000   14,800   14,400
봄       9,000    9,000  ...        -        -        -        -        -
고랭지         -        -  ...   15,000   15,000   14,000   12,000   12,000

           56       57       58       59       60
date  2018-09  2018-09  2018-09  2018-09  2018-09
avg    14,400   13,800   14,000   12,600   11,800
봄           -        -        -        -        -
고랭지    12,000   11,000   11,000   10,000   10,000

[4 rows x 61 columns]
2018-10-01_Baechu_wholesale_func.xlsx
./data/input/2018-10-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date     avg    고랭지     가을
0   2020-10-01 00:00:00  11,000  9,000      -
1   2020-10-02 00:00:00  10,200  9,000      -
2   2020-10-04 00:00:00   8,700  8,000      -
3   2020-10-05 00:00:00   9,100  9,000      -
4   2020-10-08 00:00:00  10,000  9,000      -
..                  ...     ...    ...    ...
57  2020-12-24 00:00:00   5,600      -  4,500
58  2020-12-26 00:00:00   5,800      -  4,500
59  2020-12-27 00:00:00   5,466      -  4,500
60  2020-12-28 00:00:00   5,466      -  4,500
61  2020-12-31 00:00:00   5,532      -  4,500

[62 rows x 4 columns]
==================================================================================================== log_3
2020-10-01 00:00:00
2020-10-02 00:00:00
2020-10-04 00:00:00
2020-10-05 00:00:00
2020-10-08 00:00:00
2020-10-10 00:00:00
2020-10-11 00:00:00
2020-10-12 00:00:00
2020-10-15 00:00:00
2020-10-16 00:00:00
2020-10-17 00:00:00
2020-10-18 00:00:00
2020-10-19 00:00:00
2020-10-22 00:00:00
2020-10-23 00:00:00
2020-10-24 00:00:00
2020-10-25 00:00:00
2020-10-26 00:00:00
2020-10-29 00:00:00
2020-10-30 00:00:00
2020-10-31 00:00:00
2020-11-01 00:00:00
2020-11-02 00:00:00
2020-11-05 00:00:00
2020-11-06 00:00:00
2020-11-07 00:00:00
2020-11-08 00:00:00
2020-11-09 00:00:00
2020-11-12 00:00:00
2020-11-13 00:00:00
2020-11-14 00:00:00
2020-11-15 00:00:00
2020-11-16 00:00:00
2020-11-19 00:00:00
2020-11-20 00:00:00
2020-11-21 00:00:00
2020-11-22 00:00:00
2020-11-23 00:00:00
2020-11-26 00:00:00
2020-11-27 00:00:00
2020-11-28 00:00:00
2020-11-29 00:00:00
2020-11-30 00:00:00
2020-12-03 00:00:00
2020-12-04 00:00:00
2020-12-05 00:00:00
2020-12-06 00:00:00
2020-12-10 00:00:00
2020-12-11 00:00:00
2020-12-12 00:00:00
2020-12-13 00:00:00
2020-12-14 00:00:00
2020-12-17 00:00:00
2020-12-18 00:00:00
2020-12-19 00:00:00
2020-12-20 00:00:00
2020-12-21 00:00:00
2020-12-24 00:00:00
2020-12-26 00:00:00
2020-12-27 00:00:00
2020-12-28 00:00:00
2020-12-31 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2018-10  2018-10  2018-10  2018-10  2018-10  2018-10  2018-10  2018-10
avg    11,000   10,200    8,700    9,100   10,000    9,000    8,400    8,100
고랭지     9,000    9,000    8,000    9,000    9,000    8,000    8,000    7,000
가을          -        -        -        -        -        -        -        -

           8        9   ...       52       53       54       55       56  \
date  2018-10  2018-10  ...  2018-12  2018-12  2018-12  2018-12  2018-12
avg     8,066    8,266  ...    6,100    5,700    5,600    5,600    5,600
고랭지     8,000    8,000  ...        -        -        -        -        -
가을          -        -  ...    6,000    5,000    4,500    4,500    4,500

           57       58       59       60       61
date  2018-12  2018-12  2018-12  2018-12  2018-12
avg     5,600    5,800    5,466    5,466    5,532
고랭지         -        -        -        -        -
가을      4,500    4,500    4,500    4,500    4,500

[4 rows x 62 columns]
2019-01-01_Baechu_wholesale_func.xlsx
./data/input/2019-01-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3

                   date    avg     가을     월동
0   2020-01-02 00:00:00  5,766  4,500  5,000
1   2020-01-03 00:00:00  5,800  4,500  5,000
2   2020-01-04 00:00:00  5,700  4,500  5,000
3   2020-01-07 00:00:00  5,800      -  5,000
4   2020-01-08 00:00:00  5,300      -  5,000
5   2020-01-09 00:00:00  5,100      -  4,500
6   2020-01-10 00:00:00  5,100      -  4,500
7   2020-01-11 00:00:00  5,000      -  4,000
8   2020-01-14 00:00:00  4,600      -  4,000
9   2020-01-15 00:00:00  4,800      -  4,500
10  2020-01-16 00:00:00  4,780      -  4,500
11  2020-01-17 00:00:00  4,600      -  4,000
12  2020-01-18 00:00:00  4,500      -  4,000
13  2020-01-21 00:00:00  4,500      -  4,000
14  2020-01-22 00:00:00  4,400      -  4,000
15  2020-01-23 00:00:00  4,600      -  4,000
16  2020-01-24 00:00:00  4,300      -  4,000
17  2020-01-25 00:00:00  4,300      -  4,000
18  2020-01-28 00:00:00  4,400      -  4,000
19  2020-01-29 00:00:00  4,400      -  4,000
20  2020-01-30 00:00:00  4,400      -  4,000
21  2020-01-31 00:00:00  4,500      -  4,000
22  2020-02-01 00:00:00  4,300      -  4,000
23  2020-02-07 00:00:00  4,300      -  4,000
24  2020-02-08 00:00:00  4,200      -  4,000
25  2020-02-11 00:00:00  4,120      -  4,000
26  2020-02-12 00:00:00  4,120      -  4,000
27  2020-02-13 00:00:00  4,200      -  4,000
28  2020-02-14 00:00:00  4,120      -  4,000
29  2020-02-15 00:00:00  4,220      -  4,000
30  2020-02-18 00:00:00  4,000      -  4,000
31  2020-02-19 00:00:00  4,000      -  4,000
32  2020-02-20 00:00:00  4,000      -  4,000
33  2020-02-21 00:00:00  4,000      -  4,000
34  2020-02-22 00:00:00  4,080      -  4,000
35  2020-02-25 00:00:00  3,680      -  3,500
36  2020-02-26 00:00:00  3,700      -  3,500
37  2020-02-27 00:00:00  3,700      -  3,500
38  2020-02-28 00:00:00  3,600      -  3,500
39  2020-03-04 00:00:00  3,700      -  3,500
40  2020-03-05 00:00:00  3,700      -  3,500
41  2020-03-06 00:00:00  3,800      -  3,500
42  2020-03-07 00:00:00  3,800      -  3,500
43  2020-03-08 00:00:00  3,800      -  3,500
44  2020-03-11 00:00:00  3,800      -  3,500
45  2020-03-12 00:00:00  3,800      -  3,500
46  2020-03-13 00:00:00  3,800      -  3,500
47  2020-03-14 00:00:00  3,800      -  3,500
48  2020-03-15 00:00:00  3,800      -  3,500
49  2020-03-18 00:00:00  3,800      -  3,500
50  2020-03-19 00:00:00  3,760      -  3,500
51  2020-03-20 00:00:00  3,760      -  3,500
52  2020-03-21 00:00:00  3,600      -  3,500
53  2020-03-22 00:00:00  3,600      -  3,500
54  2020-03-25 00:00:00  3,700      -  3,500
55  2020-03-26 00:00:00  3,700      -  3,500
56  2020-03-27 00:00:00  3,660      -  3,500
57  2020-03-28 00:00:00  3,660      -  3,500
58  2020-03-29 00:00:00  3,660      -  3,500
==================================================================================================== log_3
2020-01-02 00:00:00
2020-01-03 00:00:00
2020-01-04 00:00:00
2020-01-07 00:00:00
2020-01-08 00:00:00
2020-01-09 00:00:00
2020-01-10 00:00:00
2020-01-11 00:00:00
2020-01-14 00:00:00
2020-01-15 00:00:00
2020-01-16 00:00:00
2020-01-17 00:00:00
2020-01-18 00:00:00
2020-01-21 00:00:00
2020-01-22 00:00:00
2020-01-23 00:00:00
2020-01-24 00:00:00
2020-01-25 00:00:00
2020-01-28 00:00:00
2020-01-29 00:00:00
2020-01-30 00:00:00
2020-01-31 00:00:00
2020-02-01 00:00:00
2020-02-07 00:00:00
2020-02-08 00:00:00
2020-02-11 00:00:00
2020-02-12 00:00:00
2020-02-13 00:00:00
2020-02-14 00:00:00
2020-02-15 00:00:00
2020-02-18 00:00:00
2020-02-19 00:00:00
2020-02-20 00:00:00
2020-02-21 00:00:00
2020-02-22 00:00:00
2020-02-25 00:00:00
2020-02-26 00:00:00
2020-02-27 00:00:00
2020-02-28 00:00:00
2020-03-04 00:00:00
2020-03-05 00:00:00
2020-03-06 00:00:00
2020-03-07 00:00:00
2020-03-08 00:00:00
2020-03-11 00:00:00
2020-03-12 00:00:00
2020-03-13 00:00:00
2020-03-14 00:00:00
2020-03-15 00:00:00
2020-03-18 00:00:00
2020-03-19 00:00:00
2020-03-20 00:00:00
2020-03-21 00:00:00
2020-03-22 00:00:00
2020-03-25 00:00:00
2020-03-26 00:00:00
2020-03-27 00:00:00
2020-03-28 00:00:00
2020-03-29 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2019-01  2019-01  2019-01  2019-01  2019-01  2019-01  2019-01  2019-01
avg     5,766    5,800    5,700    5,800    5,300    5,100    5,100    5,000
가을      4,500    4,500    4,500        -        -        -        -        -
월동      5,000    5,000    5,000    5,000    5,000    4,500    4,500    4,000

           8        9   ...       49       50       51       52       53  \
date  2019-01  2019-01  ...  2019-03  2019-03  2019-03  2019-03  2019-03
avg     4,600    4,800  ...    3,800    3,760    3,760    3,600    3,600
가을          -        -  ...        -        -        -        -        -
월동      4,000    4,500  ...    3,500    3,500    3,500    3,500    3,500

           54       55       56       57       58
date  2019-03  2019-03  2019-03  2019-03  2019-03
avg     3,700    3,700    3,660    3,660    3,660
가을          -        -        -        -        -
월동      3,500    3,500    3,500    3,500    3,500

[4 rows x 59 columns]
2019-04-01_Baechu_wholesale_func.xlsx
./data/input/2019-04-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date    avg      봄     월동
0   2020-04-01 00:00:00  3,660      -  3,500
1   2020-04-02 00:00:00  3,620      -  3,500
2   2020-04-03 00:00:00  3,400      -  3,000
3   2020-04-04 00:00:00  3,340      -  3,000
4   2020-04-05 00:00:00  3,340      -  3,000
..                  ...    ...    ...    ...
57  2020-06-24 00:00:00  6,000  6,000      -
58  2020-06-25 00:00:00  5,900  6,000      -
59  2020-06-26 00:00:00  5,900  6,000      -
60  2020-06-27 00:00:00  6,700  7,000      -
61  2020-06-28 00:00:00  7,600  8,000      -

[62 rows x 4 columns]
==================================================================================================== log_3
2020-04-01 00:00:00
2020-04-02 00:00:00
2020-04-03 00:00:00
2020-04-04 00:00:00
2020-04-05 00:00:00
2020-04-08 00:00:00
2020-04-09 00:00:00
2020-04-10 00:00:00
2020-04-11 00:00:00
2020-04-12 00:00:00
2020-04-15 00:00:00
2020-04-16 00:00:00
2020-04-17 00:00:00
2020-04-18 00:00:00
2020-04-19 00:00:00
2020-04-22 00:00:00
2020-04-23 00:00:00
2020-04-24 00:00:00
2020-04-25 00:00:00
2020-04-26 00:00:00
2020-04-29 00:00:00
2020-04-30 00:00:00
2020-05-02 00:00:00
2020-05-03 00:00:00
2020-05-07 00:00:00
2020-05-08 00:00:00
2020-05-09 00:00:00
2020-05-10 00:00:00
2020-05-13 00:00:00
2020-05-14 00:00:00
2020-05-15 00:00:00
2020-05-16 00:00:00
2020-05-17 00:00:00
2020-05-20 00:00:00
2020-05-21 00:00:00
2020-05-22 00:00:00
2020-05-23 00:00:00
2020-05-24 00:00:00
2020-05-27 00:00:00
2020-05-28 00:00:00
2020-05-29 00:00:00
2020-05-30 00:00:00
2020-05-31 00:00:00
2020-06-03 00:00:00
2020-06-04 00:00:00
2020-06-05 00:00:00
2020-06-07 00:00:00
2020-06-10 00:00:00
2020-06-11 00:00:00
2020-06-12 00:00:00
2020-06-13 00:00:00
2020-06-14 00:00:00
2020-06-17 00:00:00
2020-06-18 00:00:00
2020-06-19 00:00:00
2020-06-20 00:00:00
2020-06-21 00:00:00
2020-06-24 00:00:00
2020-06-25 00:00:00
2020-06-26 00:00:00
2020-06-27 00:00:00
2020-06-28 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2019-04  2019-04  2019-04  2019-04  2019-04  2019-04  2019-04  2019-04
avg     3,660    3,620    3,400    3,340    3,340    3,340    3,340    3,340
봄           -        -        -        -        -        -        -        -
월동      3,500    3,500    3,000    3,000    3,000    3,000    3,000    3,000

           8        9   ...       52       53       54       55       56  \
date  2019-04  2019-04  ...  2019-06  2019-06  2019-06  2019-06  2019-06
avg     3,240    3,240  ...    6,100    6,300    6,200    6,000    6,000
봄           -        -  ...    7,000    7,000    7,000    6,000    6,000
월동      3,000    3,000  ...        -        -        -        -        -

           57       58       59       60       61
date  2019-06  2019-06  2019-06  2019-06  2019-06
avg     6,000    5,900    5,900    6,700    7,600
봄       6,000    6,000    6,000    7,000    8,000
월동          -        -        -        -        -

[4 rows x 62 columns]
2019-07-01_Baechu_wholesale_func.xlsx
./data/input/2019-07-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date     avg      봄     고랭지
0   2020-07-01 00:00:00   7,600  7,000       -
1   2020-07-02 00:00:00   7,400  7,000       -
2   2020-07-03 00:00:00   7,100  6,000       -
3   2020-07-04 00:00:00   6,700  6,000       -
4   2020-07-05 00:00:00   6,900  7,000       -
..                  ...     ...    ...     ...
58  2020-09-24 00:00:00  17,600      -  16,000
59  2020-09-25 00:00:00  17,400      -  16,000
60  2020-09-26 00:00:00  18,400      -  18,000
61  2020-09-27 00:00:00  17,800      -  18,000
62  2020-09-30 00:00:00  19,600      -  20,000

[63 rows x 4 columns]
==================================================================================================== log_3
2020-07-01 00:00:00
2020-07-02 00:00:00
2020-07-03 00:00:00
2020-07-04 00:00:00
2020-07-05 00:00:00
2020-07-08 00:00:00
2020-07-09 00:00:00
2020-07-10 00:00:00
2020-07-11 00:00:00
2020-07-12 00:00:00
2020-07-15 00:00:00
2020-07-16 00:00:00
2020-07-17 00:00:00
2020-07-18 00:00:00
2020-07-19 00:00:00
2020-07-22 00:00:00
2020-07-23 00:00:00
2020-07-24 00:00:00
2020-07-25 00:00:00
2020-07-26 00:00:00
2020-07-29 00:00:00
2020-07-30 00:00:00
2020-07-31 00:00:00
2020-08-01 00:00:00
2020-08-02 00:00:00
2020-08-05 00:00:00
2020-08-06 00:00:00
2020-08-07 00:00:00
2020-08-08 00:00:00
2020-08-09 00:00:00
2020-08-12 00:00:00
2020-08-13 00:00:00
2020-08-14 00:00:00
2020-08-16 00:00:00
2020-08-19 00:00:00
2020-08-20 00:00:00
2020-08-21 00:00:00
2020-08-22 00:00:00
2020-08-23 00:00:00
2020-08-26 00:00:00
2020-08-27 00:00:00
2020-08-28 00:00:00
2020-08-29 00:00:00
2020-08-30 00:00:00
2020-09-02 00:00:00
2020-09-03 00:00:00
2020-09-04 00:00:00
2020-09-05 00:00:00
2020-09-06 00:00:00
2020-09-09 00:00:00
2020-09-10 00:00:00
2020-09-11 00:00:00
2020-09-16 00:00:00
2020-09-17 00:00:00
2020-09-18 00:00:00
2020-09-19 00:00:00
2020-09-20 00:00:00
2020-09-23 00:00:00
2020-09-24 00:00:00
2020-09-25 00:00:00
2020-09-26 00:00:00
2020-09-27 00:00:00
2020-09-30 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2019-07  2019-07  2019-07  2019-07  2019-07  2019-07  2019-07  2019-07
avg     7,600    7,400    7,100    6,700    6,900    6,800    7,400    7,500
봄       7,000    7,000    6,000    6,000    7,000    7,000    7,000    7,000
고랭지         -        -        -        -        -        -        -        -

           8        9   ...       53       54       55       56       57  \
date  2019-07  2019-07  ...  2019-09  2019-09  2019-09  2019-09  2019-09
avg     8,200    8,700  ...   14,000   14,400   14,400   15,200   18,400
봄       9,000    9,000  ...        -        -        -        -        -
고랭지         -        -  ...   13,000   15,000   15,000   15,000   18,000

           58       59       60       61       62
date  2019-09  2019-09  2019-09  2019-09  2019-09
avg    17,600   17,400   18,400   17,800   19,600
봄           -        -        -        -        -
고랭지    16,000   16,000   18,000   18,000   20,000

[4 rows x 63 columns]
2019-10-01_Baechu_wholesale_func.xlsx
./data/input/2019-10-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date     avg     고랭지      가을
0   2020-10-01 00:00:00  20,600  20,000       -
1   2020-10-02 00:00:00  20,600  20,000       -
2   2020-10-04 00:00:00  22,000  22,000       -
3   2020-10-07 00:00:00  18,200  17,000       -
4   2020-10-08 00:00:00  17,200  17,000       -
..                  ...     ...     ...     ...
57  2020-12-24 00:00:00   9,000       -   9,000
58  2020-12-26 00:00:00   9,200       -   9,000
59  2020-12-27 00:00:00   9,800       -  10,000
60  2020-12-30 00:00:00  10,400       -  11,000
61  2020-12-31 00:00:00  11,600       -  12,000

[62 rows x 4 columns]
==================================================================================================== log_3
2020-10-01 00:00:00
2020-10-02 00:00:00
2020-10-04 00:00:00
2020-10-07 00:00:00
2020-10-08 00:00:00
2020-10-10 00:00:00
2020-10-11 00:00:00
2020-10-14 00:00:00
2020-10-15 00:00:00
2020-10-16 00:00:00
2020-10-17 00:00:00
2020-10-18 00:00:00
2020-10-21 00:00:00
2020-10-22 00:00:00
2020-10-23 00:00:00
2020-10-24 00:00:00
2020-10-25 00:00:00
2020-10-28 00:00:00
2020-10-29 00:00:00
2020-10-30 00:00:00
2020-10-31 00:00:00
2020-11-01 00:00:00
2020-11-04 00:00:00
2020-11-05 00:00:00
2020-11-06 00:00:00
2020-11-07 00:00:00
2020-11-08 00:00:00
2020-11-11 00:00:00
2020-11-12 00:00:00
2020-11-13 00:00:00
2020-11-14 00:00:00
2020-11-15 00:00:00
2020-11-18 00:00:00
2020-11-19 00:00:00
2020-11-20 00:00:00
2020-11-21 00:00:00
2020-11-22 00:00:00
2020-11-25 00:00:00
2020-11-26 00:00:00
2020-11-27 00:00:00
2020-11-28 00:00:00
2020-11-29 00:00:00
2020-12-02 00:00:00
2020-12-03 00:00:00
2020-12-04 00:00:00
2020-12-05 00:00:00
2020-12-09 00:00:00
2020-12-10 00:00:00
2020-12-11 00:00:00
2020-12-12 00:00:00
2020-12-13 00:00:00
2020-12-16 00:00:00
2020-12-17 00:00:00
2020-12-18 00:00:00
2020-12-19 00:00:00
2020-12-20 00:00:00
2020-12-23 00:00:00
2020-12-24 00:00:00
2020-12-26 00:00:00
2020-12-27 00:00:00
2020-12-30 00:00:00
2020-12-31 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2019-10  2019-10  2019-10  2019-10  2019-10  2019-10  2019-10  2019-10
avg    20,600   20,600   22,000   18,200   17,200   15,600   15,200   14,800
고랭지    20,000   20,000   22,000   17,000   17,000   15,000   15,000   15,000
가을          -        -        -        -        -        -        -        -

           8        9   ...       52       53       54       55       56  \
date  2019-10  2019-10  ...  2019-12  2019-12  2019-12  2019-12  2019-12
avg    14,400   15,200  ...    9,900   10,200   10,000   10,000   10,000
고랭지    16,000   16,000  ...        -        -        -        -        -
가을          -        -  ...   10,000   10,000   10,000   10,000   10,000

           57       58       59       60       61
date  2019-12  2019-12  2019-12  2019-12  2019-12
avg     9,000    9,200    9,800   10,400   11,600
고랭지         -        -        -        -        -
가을      9,000    9,000   10,000   11,000   12,000

[4 rows x 62 columns]
2020-01-01_Baechu_wholesale_func.xlsx
./data/input/2020-01-01_Baechu_wholesale_func.xlsx
==================================================================================================== log_1
==================================================================================================== log_2
==================================================================================================== log_3
                   date     avg      가을      월동
0   2020-01-02 00:00:00  11,889  12,000  13,000
1   2020-01-03 00:00:00  10,900  10,000  11,000
2   2020-01-06 00:00:00  10,500  10,000  11,000
3   2020-01-07 00:00:00  11,100  11,000  12,000
4   2020-01-08 00:00:00  10,800  11,000  12,000
..                  ...     ...     ...     ...
57  2020-03-25 00:00:00   9,400       -   9,000
58  2020-03-26 00:00:00   9,400       -   9,000
59  2020-03-27 00:00:00   9,300       -   9,000
60  2020-03-30 00:00:00  10,200       -  10,000
61  2020-03-31 00:00:00  10,000       -  10,000

[62 rows x 4 columns]
==================================================================================================== log_3
2020-01-02 00:00:00
2020-01-03 00:00:00
2020-01-06 00:00:00
2020-01-07 00:00:00
2020-01-08 00:00:00
2020-01-09 00:00:00
2020-01-10 00:00:00
2020-01-13 00:00:00
2020-01-14 00:00:00
2020-01-15 00:00:00
2020-01-16 00:00:00
2020-01-17 00:00:00
2020-01-20 00:00:00
2020-01-21 00:00:00
2020-01-22 00:00:00
2020-01-23 00:00:00
2020-01-28 00:00:00
2020-01-29 00:00:00
2020-01-30 00:00:00
2020-01-31 00:00:00
2020-02-03 00:00:00
2020-02-04 00:00:00
2020-02-05 00:00:00
2020-02-06 00:00:00
2020-02-07 00:00:00
2020-02-10 00:00:00
2020-02-11 00:00:00
2020-02-12 00:00:00
2020-02-13 00:00:00
2020-02-14 00:00:00
2020-02-17 00:00:00
2020-02-18 00:00:00
2020-02-19 00:00:00
2020-02-20 00:00:00
2020-02-21 00:00:00
2020-02-24 00:00:00
2020-02-25 00:00:00
2020-02-26 00:00:00
2020-02-27 00:00:00
2020-02-28 00:00:00
2020-03-02 00:00:00
2020-03-03 00:00:00
2020-03-04 00:00:00
2020-03-05 00:00:00
2020-03-06 00:00:00
2020-03-09 00:00:00
2020-03-10 00:00:00
2020-03-11 00:00:00
2020-03-12 00:00:00
2020-03-13 00:00:00
2020-03-16 00:00:00
2020-03-17 00:00:00
2020-03-18 00:00:00
2020-03-19 00:00:00
2020-03-20 00:00:00
2020-03-23 00:00:00
2020-03-24 00:00:00
2020-03-25 00:00:00

2020-03-26 00:00:00
2020-03-27 00:00:00
2020-03-30 00:00:00
2020-03-31 00:00:00
==================================================================================================== log_4
           0        1        2        3        4        5        6        7   \
date  2020-01  2020-01  2020-01  2020-01  2020-01  2020-01  2020-01  2020-01
avg    11,889   10,900   10,500   11,100   10,800   10,080   10,080    9,960
가을     12,000   10,000   10,000   11,000   11,000   11,000   11,000        -
월동     13,000   11,000   11,000   12,000   12,000   12,000   12,000   11,000

           8        9   ...       52       53       54       55       56  \
date  2020-01  2020-01  ...  2020-03  2020-03  2020-03  2020-03  2020-03
avg    10,160    9,960  ...    9,600    9,400    9,200    9,400    9,400
가을          -        -  ...        -        -        -        -        -
월동     11,000   11,000  ...   10,000   10,000    9,000    9,000    9,000

           57       58       59       60       61
date  2020-03  2020-03  2020-03  2020-03  2020-03
avg     9,400    9,400    9,300   10,200   10,000
가을          -        -        -        -        -
월동      9,000    9,000    9,000   10,000   10,000

[4 rows x 62 columns]