In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [34]:
rain = pd.read_csv('./Data/tomato/buyeo_rain.csv',skiprows=7, encoding='euc-kr', sep=',')
temp = pd.read_csv('./Data/tomato/buyeo_temp.csv',skiprows=7, encoding='euc-kr', sep=',')
# tomato15 = pd.read_excel('./Data/tomato/tomato15.xls', encoding='utf-8', sep=',')
tomato15 = pd.read_csv('./Data/tomato/tomato15.csv', encoding='utf-8', sep=',')
tomato16 = pd.read_csv('./Data/tomato/tomato16.csv', encoding='utf-8', sep=',')
tomato17 = pd.read_csv('./Data/tomato/tomato17.csv', encoding='utf-8', sep=',')

In [35]:
# tomato15.tail()
tomato16.tail()
# tomato17.tail()

,구분,Unnamed: 1,01월 04일,01월 05일,01월 06일,01월 07일,01월 08일,01월 11일,01월 12일,01월 13일,...,12월 19일,12월 20일,12월 21일,12월 22일,12월 23일,12월 26일,12월 27일,12월 28일,12월 29일,12월 30일
37,안동,C-유통,"7,710","7,710","7,710","7,970","7,970","7,970","7,970","7,970",...,"10,640","10,640","10,640","10,640","10,640","10,640","10,640","10,640","13,070","13,070"
38,창원,상남,"4,500","4,500","4,500","4,500","4,500","4,500","4,500","4,500",...,"7,000","7,000","7,000","7,000","7,000","7,000","7,000","7,000","7,000","7,000"
39,NaN,C-유통,"6,400","6,400","6,400","7,970","7,970","7,970","7,970","7,970",...,"8,770","8,770","8,770","10,640","10,640","10,640","10,640","10,640","13,070","13,070"
40,제주,동문,"5,000","5,000","5,000","5,000","5,000","5,000","5,000","5,000",...,-,-,-,-,-,-,-,-,-,-
41,NaN,C-유통,"7,700","7,700","7,700","7,970","7,970","7,970","7,970","7,970",...,"10,640","10,640","10,640","10,640","10,640","10,640","10,640","10,640","13,070","13,070"

In [40]:
# print(tomato15.isnull().sum(), tomato16.isnull().sum(), tomato17.isnull().sum())

In [50]:
tomato = pd.concat([tomato15, tomato16, tomato17], axis=1)
tomato.head()

,구분,Unnamed: 1,01월 02일,01월 05일,01월 06일,01월 07일,01월 08일,01월 09일,01월 12일,01월 13일,...,12월 15일,12월 18일,12월 19일,12월 20일,12월 21일,12월 22일,12월 26일,12월 27일,12월 28일,12월 29일
0,평균,NaN,"6,354","6,379","6,379","6,381","6,494","6,491","6,469","6,459",...,"4,747","4,816","4,796","4,699","5,016","5,000","5,000","5,002","5,310","5,409"
1,평년,NaN,"7,713","7,645","7,611","7,576","7,535","7,495","7,334","7,324",...,"6,364","6,655","6,742","6,835","6,958","7,038","7,271","7,396","7,468","7,539"
2,서울,경동,"5,000","5,000","5,000","5,000","5,000","5,000","5,000","5,000",...,"5,000","5,000","5,000","5,000","5,000","5,000","5,000","5,000","5,000","5,000"
3,NaN,복조리,"5,000","5,000","5,000","5,000","5,000","5,000","5,000","5,000",...,"4,990","4,990","4,990","4,790","4,790","4,790","4,790","4,790","5,990","5,990"
4,NaN,영등포,"5,700","5,700","5,700","5,700","5,700","5,700","5,700","5,700",...,"3,600","3,600","3,600","3,600","3,990","3,990","3,990","4,250","4,250","5,250"

In [59]:
# print(tomato.isna().sum())

In [83]:
tomato.columns.values[2:]

array(['01월 02일', '01월 05일', '01월 06일', '01월 07일', '01월 08일', '01월 09일',
       '01월 12일', '01월 13일', '01월 14일', '01월 15일', '01월 16일', '01월 19일',
       '01월 20일', '01월 21일', '01월 22일', '01월 23일', '01월 26일', '01월 27일',
       '01월 28일', '01월 29일', '01월 30일', '02월 02일', '02월 03일', '02월 04일',
       '02월 05일', '02월 06일', '02월 09일', '02월 10일', '02월 11일', '02월 12일',
       '02월 13일', '02월 16일', '02월 17일', '02월 23일', '02월 24일', '02월 25일',
       '02월 26일', '02월 27일', '03월 02일', '03월 03일', '03월 04일', '03월 05일',
       '03월 06일', '03월 09일', '03월 10일', '03월 11일', '03월 12일', '03월 13일',
       '03월 16일', '03월 17일', '03월 18일', '03월 19일', '03월 20일', '03월 23일',
       '03월 24일', '03월 25일', '03월 26일', '03월 27일', '03월 30일', '03월 31일',
       '04월 01일', '04월 02일', '04월 03일', '04월 06일', '04월 07일', '04월 08일',
       '04월 09일', '04월 10일', '04월 13일', '04월 14일', '04월 15일', '04월 16일',
       '04월 17일', '04월 20일', '04월 21일', '04월 22일', '04월 23일', '04월 24일',
       '04월 27일', '04월 28일', '04월 29일', '04월 30일', '05월 04일', '05월 06일',
       '05월 07일', '05월 08일', '05월 11일', '05월 12일', '05월 13일', '05월 14일',
       '05월 15일', '05월 18일', '05월 19일', '05월 20일', '05월 21일', '05월 22일',
       '05월 26일', '05월 27일', '05월 28일', '05월 29일', '06월 01일', '06월 02일',
       '06월 03일', '06월 04일', '06월 05일', '06월 08일', '06월 09일', '06월 10일',
       '06월 11일', '06월 12일', '06월 15일', '06월 16일', '06월 17일', '06월 18일',
       '06월 19일', '06월 22일', '06월 23일', '06월 24일', '06월 25일', '06월 26일',
       '06월 29일', '06월 30일', '07월 01일', '07월 02일', '07월 03일', '07월 06일',
       '07월 07일', '07월 08일', '07월 09일', '07월 10일', '07월 13일', '07월 14일',
       '07월 15일', '07월 16일', '07월 17일', '07월 20일', '07월 21일', '07월 22일',
       '07월 23일', '07월 24일', '07월 27일', '07월 28일', '07월 29일', '07월 30일',
       '07월 31일', '08월 03일', '08월 04일', '08월 05일', '08월 06일', '08월 07일',
       '08월 10일', '08월 11일', '08월 12일', '08월 13일', '08월 17일', '08월 18일',
       '08월 19일', '08월 20일', '08월 21일', '08월 24일', '08월 25일', '08월 26일',
       '08월 27일', '08월 28일', '08월 31일', '09월 01일', '09월 02일', '09월 03일',
       '09월 04일', '09월 07일', '09월 08일', '09월 09일', '09월 10일', '09월 11일',
       '09월 14일', '09월 15일', '09월 16일', '09월 17일', '09월 18일', '09월 21일',
       '09월 22일', '09월 23일', '09월 24일', '09월 25일', '09월 30일', '10월 01일',
       '10월 02일', '10월 05일', '10월 06일', '10월 07일', '10월 08일', '10월 12일',
       '10월 13일', '10월 14일', '10월 15일', '10월 16일', '10월 19일', '10월 20일',
       '10월 21일', '10월 22일', '10월 23일', '10월 26일', '10월 27일', '10월 28일',
       '10월 29일', '10월 30일', '11월 02일', '11월 03일', '11월 04일', '11월 05일',
       '11월 06일', '11월 09일', '11월 10일', '11월 11일', '11월 12일', '11월 13일',
       '11월 16일', '11월 17일', '11월 18일', '11월 19일', '11월 20일', '11월 23일',
       '11월 24일', '11월 25일', '11월 26일', '11월 27일', '11월 30일', '12월 01일',
       '12월 02일', '12월 03일', '12월 07일', '12월 08일', '12월 09일', '12월 10일',
       '12월 11일', '12월 14일', '12월 15일', '12월 16일', '12월 17일', '12월 18일',
       '12월 21일', '12월 22일', '12월 23일', '12월 24일', '12월 28일', '12월 29일',
       '12월 30일', '12월 31일', '구분', 'Unnamed: 1', '01월 04일', '01월 05일',
       '01월 06일', '01월 07일', '01월 08일', '01월 11일', '01월 12일', '01월 13일',
       '01월 14일', '01월 15일', '01월 18일', '01월 19일', '01월 20일', '01월 21일',
       '01월 22일', '01월 25일', '01월 26일', '01월 27일', '01월 28일', '01월 29일',
       '02월 01일', '02월 02일', '02월 03일', '02월 04일', '02월 05일', '02월 11일',
       '02월 12일', '02월 15일', '02월 16일', '02월 17일', '02월 18일', '02월 19일',
       '02월 22일', '02월 23일', '02월 24일', '02월 25일', '02월 26일', '02월 29일',
       '03월 02일', '03월 03일', '03월 04일', '03월 07일', '03월 08일', '03월 09일',
       '03월 10일', '03월 11일', '03월 14일', '03월 15일', '03월 16일', '03월 17일',
       '03월 18일', '03월 21일', '03월 22일', '03월 23일', '03월 24일', '03월 25일',
       '03월 28일', '03월 29일', '03월 30일', '03월 31일', '04월 01일', '04월 04일',
       '04월 05일', '04월 06일', '04월 07일', '04월 08일', '04월 11일', '04월 12일',
       '04월 14일', '04월 15일', '04월 18일', '04월 19일', '04월 20일', '04월 21일',
       '04월 22일', '04월 25일', '04월 26일', '04월 27일', '04월 28일', '04월 29일',
       '05월 02일', '05월 03일', '05월 04일', '05월 09일', '05월 10일', '05월 11일',
       '05월 12일', '05월 13일', '05월 16일', '05월 17일', '05월 18일', '05월 19일',
       '05월 20일', '05월 23일', '05월 24일', '05월 25일', '05월 26일', '05월 27일',
       '05월 30일', '05월 31일', '06월 01일', '06월 02일', '06월 03일', '06월 07일',
       '06월 08일', '06월 09일', '06월 10일', '06월 13일', '06월 14일', '06월 15일',
       '06월 16일', '06월 17일', '06월 20일', '06월 21일', '06월 22일', '06월 23일',
       '06월 24일', '06월 27일', '06월 28일', '06월 29일', '06월 30일', '07월 01일',
       '07월 04일', '07월 05일', '07월 06일', '07월 07일', '07월 08일', '07월 11일',
       '07월 12일', '07월 13일', '07월 14일', '07월 15일', '07월 18일', '07월 19일',
       '07월 20일', '07월 21일', '07월 22일', '07월 25일', '07월 26일', '07월 27일',
       '07월 28일', '07월 29일', '08월 01일', '08월 02일', '08월 03일', '08월 04일',
       '08월 05일', '08월 08일', '08월 09일', '08월 10일', '08월 11일', '08월 12일',
       '08월 16일', '08월 17일', '08월 18일', '08월 19일', '08월 22일', '08월 23일',
       '08월 24일', '08월 25일', '08월 26일', '08월 29일', '08월 30일', '08월 31일',
       '09월 01일', '09월 02일', '09월 05일', '09월 06일', '09월 07일', '09월 08일',
       '09월 09일', '09월 12일', '09월 13일', '09월 19일', '09월 20일', '09월 21일',
       '09월 22일', '09월 23일', '09월 26일', '09월 27일', '09월 28일', '09월 29일',
       '09월 30일', '10월 04일', '10월 05일', '10월 06일', '10월 07일', '10월 10일',
       '10월 11일', '10월 12일', '10월 13일', '10월 14일', '10월 17일', '10월 18일',
       '10월 19일', '10월 20일', '10월 21일', '10월 24일', '10월 25일', '10월 26일',
       '10월 27일', '10월 28일', '10월 31일', '11월 01일', '11월 02일', '11월 03일',
       '11월 04일', '11월 07일', '11월 08일', '11월 09일', '11월 10일', '11월 11일',
       '11월 14일', '11월 15일', '11월 16일', '11월 17일', '11월 18일', '11월 21일',
       '11월 22일', '11월 23일', '11월 24일', '11월 25일', '11월 28일', '11월 29일',
       '11월 30일', '12월 01일', '12월 05일', '12월 06일', '12월 07일', '12월 08일',
       '12월 09일', '12월 12일', '12월 13일', '12월 14일', '12월 15일', '12월 16일',
       '12월 19일', '12월 20일', '12월 21일', '12월 22일', '12월 23일', '12월 26일',
       '12월 27일', '12월 28일', '12월 29일', '12월 30일', '구분', 'Unnamed: 1',
       '01월 02일', '01월 03일', '01월 04일', '01월 05일', '01월 06일', '01월 09일',
       '01월 10일', '01월 11일', '01월 12일', '01월 13일', '01월 16일', '01월 17일',
       '01월 18일', '01월 19일', '01월 20일', '01월 23일', '01월 24일', '01월 25일',
       '01월 26일', '01월 31일', '02월 01일', '02월 02일', '02월 03일', '02월 06일',
       '02월 07일', '02월 08일', '02월 09일', '02월 10일', '02월 13일', '02월 14일',
       '02월 15일', '02월 16일', '02월 17일', '02월 20일', '02월 21일', '02월 22일',
       '02월 23일', '02월 24일', '02월 27일', '02월 28일', '03월 02일', '03월 03일',
       '03월 06일', '03월 07일', '03월 08일', '03월 09일', '03월 10일', '03월 13일',
       '03월 14일', '03월 15일', '03월 16일', '03월 17일', '03월 20일', '03월 21일',
       '03월 22일', '03월 23일', '03월 24일', '03월 27일', '03월 28일', '03월 29일',
       '03월 30일', '03월 31일', '04월 03일', '04월 04일', '04월 05일', '04월 06일',
       '04월 07일', '04월 10일', '04월 11일', '04월 12일', '04월 13일', '04월 14일',
       '04월 17일', '04월 18일', '04월 19일', '04월 20일', '04월 21일', '04월 24일',
       '04월 25일', '04월 26일', '04월 27일', '04월 28일', '05월 02일', '05월 04일',
       '05월 08일', '05월 10일', '05월 11일', '05월 12일', '05월 15일', '05월 16일',
       '05월 17일', '05월 18일', '05월 19일', '05월 22일', '05월 23일', '05월 24일',
       '05월 25일', '05월 26일', '05월 29일', '05월 30일', '05월 31일', '06월 01일',
       '06월 02일', '06월 05일', '06월 07일', '06월 08일', '06월 09일', '06월 12일',
       '06월 13일', '06월 14일', '06월 15일', '06월 16일', '06월 19일', '06월 20일',
       '06월 21일', '06월 22일', '06월 23일', '06월 26일', '06월 27일', '06월 28일',
       '06월 29일', '06월 30일', '07월 03일', '07월 04일', '07월 05일', '07월 06일',
       '07월 07일', '07월 10일', '07월 11일', '07월 12일', '07월 13일', '07월 14일',
       '07월 17일', '07월 18일', '07월 19일', '07월 20일', '07월 21일', '07월 24일',
       '07월 25일', '07월 26일', '07월 27일', '07월 28일', '07월 31일', '08월 01일',
       '08월 02일', '08월 03일', '08월 04일', '08월 07일', '08월 08일', '08월 09일',
       '08월 10일', '08월 11일', '08월 14일', '08월 16일', '08월 17일', '08월 18일',
       '08월 21일', '08월 22일', '08월 23일', '08월 24일', '08월 25일', '08월 28일',
       '08월 29일', '08월 30일', '08월 31일', '09월 01일', '09월 04일', '09월 05일',
       '09월 06일', '09월 07일', '09월 08일', '09월 11일', '09월 12일', '09월 13일',
       '09월 14일', '09월 15일', '09월 18일', '09월 19일', '09월 20일', '09월 21일',
       '09월 22일', '09월 25일', '09월 26일', '09월 27일', '09월 28일', '09월 29일',
       '10월 10일', '10월 11일', '10월 12일', '10월 13일', '10월 16일', '10월 17일',
       '10월 18일', '10월 19일', '10월 20일', '10월 23일', '10월 24일', '10월 25일',
       '10월 26일', '10월 27일', '10월 30일', '10월 31일', '11월 01일', '11월 02일',
       '11월 03일', '11월 06일', '11월 07일', '11월 08일', '11월 09일', '11월 10일',
       '11월 13일', '11월 14일', '11월 15일', '11월 16일', '11월 17일', '11월 20일',
       '11월 21일', '11월 22일', '11월 23일', '11월 24일', '11월 27일', '11월 28일',
       '11월 29일', '11월 30일', '12월 04일', '12월 05일', '12월 06일', '12월 07일',
       '12월 08일', '12월 11일', '12월 12일', '12월 13일', '12월 14일', '12월 15일',
       '12월 18일', '12월 19일', '12월 20일', '12월 21일', '12월 22일', '12월 26일',
       '12월 27일', '12월 28일', '12월 29일'], dtype=object)

In [85]:
pd.melt( tomato
        ,id_vars = tomato.columns.values[2:] )
        # Column(s) to use as identifier variables.
#         , value_vars = tomato.columns.values[:2] 
        # default : all columns that arent set as `id_vars`
#         , var_name='123' # Name to use for the 'variable' column.
#         , value_name='345') # Name to use for the 'value' column.

KeyError: '01월 05일'

In [57]:
rain.tail()

              날짜   지점  강수량(mm)
1928  2020-04-12  236      1.5
1929  2020-04-13  236      NaN
1930  2020-04-14  236      NaN
1931  2020-04-15  236      NaN
1932  2020-04-16  236      NaN

In [86]:
import os ,csv
import pandas as pd 

from datetime import datetime
from datetime import timedelta
import time

In [87]:
# 현재 경로 확인 
print(os.getcwd())
# C:\Repository\python_basic\4MachineLearning
files = os.listdir('./Data/tomato')
print(files)

C:\Repository\python_basic\4MachineLearning
['buyeo_rain.csv', 'buyeo_temp.csv', 'tomato15.csv', 'tomato15.xls', 'tomato16.csv', 'tomato16.xls', 'tomato17.csv', 'tomato17.xls']

In [88]:
for file in files:
    print(file)

buyeo_rain.csv
buyeo_temp.csv
tomato15.csv
tomato15.xls
tomato16.csv
tomato16.xls
tomato17.csv
tomato17.xls