## 장점

- 테이블을 알아서 만들어준다
- csv -> DataFrame -> database에 insert(끝)

In [2]:
# 설치 이 환경 : conda, 범용:pip
! conda install pymysql -y

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\admin\Anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.2                |           py37_0         2.8 MB
    pymysql-0.9.3              |           py37_0          83 KB
    ------------------------------------------------------------
                                           Total:         2.9 MB

The following NEW packages will be INSTALLED:

  pymysql            pkgs/main/win-64::pymysql-0.9.3-py37_0

The following packages will be SUPERSEDED by a higher-priority channel:

  conda                                         conda-forge --> pkgs/main



Downloading and Extracting Packages

conda-4.8.2          | 2.8 MB    |            |   0%
conda-4.8.2          | 2.8 MB    |            |   1%
conda-4.8.2          | 2.8 MB    | ###9       |  39%
conda-4.8.2          | 2.8 MB    | ########## | 100%

pymysql-0.9.3        | 83 KB     |            |   0%
pymysql-0.9.3        | 83 KB     | #######6   |  77%
pymysql-0.9.3        | 83 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [3]:
# 파이선에서 mysql계렬에 acess 할수 있는 모둘
import pymysql

In [4]:
# DataFrame에서 디비와 연동하기 위한 sql드라이버
from sqlalchemy import create_engine

In [5]:
# csv -> df
import pandas as pd
# df -> sql
import pandas.io.sql as pSql # io는 input output

In [26]:
# 1. csv -> df 로 읽어서 변환
df = pd.read_csv('./raws/gu.csv')
df.head(2)

   gu_id   gu
0      1  용산구
1      2   중구

## df -> sql -> db에 적제

In [14]:
# 연결
db_url = 'mysql+pymysql://root:11111111@127.0.0.1/python_db'
db_url

'mysql+pymysql://root:11111111@127.0.0.1/python_db'

In [15]:
# 엔진생성
engine = create_engine( db_url, encoding = 'utf8' )

In [16]:
# 디비 연결
conn = engine.connect()

In [17]:
# 연결해제(닫는것부터 짜야함 ~~!!!)
if conn:
    conn.close()

In [23]:
# 연결 및 자동해제
with engine.connect() as conn:
    # 삽입
    # name 테이블명
    # if_exists: 기존데이터 있으면 덮어쓸것인지 추가할건지
    # index: 인덱스
    df.to_sql( name ='tbl_areas', con=conn, if_exists='replace', index=False)

In [ ]:
# 실습 gps.csv파일을 tbl_gps에 넣어라

In [24]:
with engine.connect() as conn:
    df1.to_sql( name ='tbl_gps', con=conn, if_exists='replace', index=False)

In [25]:
df1 = pd.read_csv('./raws/gps.csv')
df1.head(2)

   gu_id        lat         lng
0      1  37.554877  126.969665
1      1  37.553087  126.976429

In [11]:
df2 = pd.read_csv('./raws/gps.csv')
df2

    gu_id        lat         lng
0       1  37.554877  126.969665
1       1  37.553087  126.976429
2       1  37.555221  126.976546
3       1  37.553207  126.978747
4       1  37.553687  126.985415
5       1  37.547229  126.995229
6       1  37.549695  126.998325
7       1  37.550159  127.004368
8       1  37.548202  127.006133
9       1  37.546170  127.004997
10      1  37.543859  127.007278
11      1  37.544133  127.008985
12      1  37.539639  127.009591
13      1  37.537681  127.017262
14      1  37.533789  127.017193
15      1  37.522902  127.006140
16      1  37.513092  126.990702
17      1  37.506547  126.985537
18      1  37.507021  126.975249
19      1  37.517518  126.949885
20      1  37.527029  126.949879
21      1  37.534520  126.944819
22      1  37.537500  126.953357
23      1  37.542313  126.958174
24      1  37.545463  126.957905
25      1  37.548792  126.963720
26      1  37.551555  126.962338
27      1  37.554151  126.965714
28      1  37.555662  126.969185
29      1  37.554877  126.969665
30      2  37.554877  126.969665
31      2  37.553087  126.976429
32      2  37.555221  126.976546
33      2  37.553207  126.978747
34      2  37.553687  126.985415
35      2  37.547229  126.995229
36      2  37.549695  126.998325
37      2  37.550159  127.004368
38      2  37.548202  127.006133
39      2  37.546170  127.004997
40      2  37.543859  127.007278
41      2  37.544133  127.008985
42      2  37.539639  127.009591
43      2  37.537681  127.017262
44      2  37.533789  127.017193
45      2  37.522902  127.006140
46      2  37.513092  126.990702
47      2  37.506547  126.985537
48      2  37.507021  126.975249
49      2  37.517518  126.949885
50      2  37.527029  126.949879
51      2  37.534520  126.944819
52      2  37.537500  126.953357
53      2  37.542313  126.958174
54      2  37.545463  126.957905
55      2  37.548792  126.963720
56      2  37.551555  126.962338
57      2  37.554151  126.965714
58      2  37.555662  126.969185
59      2  37.554877  126.969665