## 장점

- 테이블을 알아서 만들어준다
- csv -> DataFrame -> database에 insert(끝)

In [1]:
# 설치 이 환경 : conda, 범용:pip
! conda install pymysql -y

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [2]:
# 파이선에서 mysql계렬에 acess 할수 있는 모둘
import pymysql

In [3]:
# DataFrame에서 디비와 연동하기 위한 sql드라이버
from sqlalchemy import create_engine

In [4]:
# csv -> df
import pandas as pd
# df -> sql
import pandas.io.sql as pSql # io는 input output

In [5]:
# 1. csv -> df 로 읽어서 변환
df = pd.read_csv('./raws/gu.csv')
df.head(2)

   gu_id   gu
0      1  용산구
1      2   중구

## df -> sql -> db에 적제

In [6]:
# 연결
db_url = 'mysql+pymysql://root:11111111@127.0.0.1/python_db'
db_url

'mysql+pymysql://root:11111111@127.0.0.1/python_db'

In [7]:
# 엔진생성
engine = create_engine( db_url, encoding = 'utf8' )

In [8]:
# 디비 연결
conn = engine.connect()

In [9]:
# 연결해제(닫는것부터 짜야함 ~~!!!)
if conn:
    conn.close()

In [10]:
# 연결 및 자동해제
with engine.connect() as conn:
    # 삽입
    # name 테이블명
    # if_exists: 기존데이터 있으면 덮어쓸것인지 추가할건지
    # index: 인덱스
    df.to_sql( name ='tbl_areas', con=conn, if_exists='replace', index=False)

In [11]:
# 실습 gps.csv파일을 tbl_gps에 넣어라

In [38]:
df1 = pd.read_csv('./raws/gps.csv')
df1

    gu_id        lat         lng
0       1  37.554877  126.969665
1       1  37.553087  126.976429
2       1  37.555221  126.976546
3       1  37.553207  126.978747
4       1  37.553687  126.985415
..    ...        ...         ...
63      2  37.556851  127.018076
64      2  37.552645  127.016201
65      2  37.547467  127.009320
66      2  37.545024  127.008152
67      2  37.544063  127.008547

[68 rows x 3 columns]

In [34]:
with engine.connect() as conn:
    df1.to_sql( name ='tbl_gps', con=conn, if_exists='replace', index=False)