# 직접 해보세요!
## melt 메서드 사용하기(151쪽)
- 열을 행으로

### 1. 1개의 열만 고정하고 나머지 열을 행으로 바꾸기

In [1]:
import pandas as pd
pew = pd.read_csv('../data/pew.csv')
print(pew.head())

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116

In [2]:
print(pew.iloc[:, 0:6])

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341

In [4]:
# 하나의 열에 대한것으로 변수에 담기
pew_long = pd.melt(pew, id_vars='religion')

print(pew_long.head())

             religion variable  value
0            Agnostic    <$10k     27
1             Atheist    <$10k     12
2            Buddhist    <$10k     27
3            Catholic    <$10k    418
4  Don’t know/refused    <$10k     15

In [6]:
pew_long1 = pd.melt(pew, id_vars = '$10-20k')
print(pew_long1.head())

   $10-20k  variable               value
0       34  religion            Agnostic
1       27  religion             Atheist
2       21  religion            Buddhist
3      617  religion            Catholic
4       14  religion  Don’t know/refused

In [7]:
pew_long = pd.melt(pew, id_vars='religion', var_name='income', value_name='count')
print(pew_long.head())

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

### 5. 2개 이상의 열을 고정하고 나머지 열을 행으로 바꾸기

In [19]:
billboard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 81 columns):
year            317 non-null int64
artist          317 non-null object
track           317 non-null object
time            317 non-null object
date.entered    317 non-null object
wk1             317 non-null int64
wk2             312 non-null float64
wk3             307 non-null float64
wk4             300 non-null float64
wk5             292 non-null float64
wk6             280 non-null float64
wk7             269 non-null float64
wk8             260 non-null float64
wk9             253 non-null float64
wk10            244 non-null float64
wk11            236 non-null float64
wk12            222 non-null float64
wk13            210 non-null float64
wk14            204 non-null float64
wk15            197 non-null float64
wk16            182 non-null float64
wk17            177 non-null float64
wk18            166 non-null float64
wk19            156 non-null float64
wk20            146 non-null float64
wk21            65 non-null float64
wk22            55 non-null float64
wk23            48 non-null float64
wk24            46 non-null float64
wk25            38 non-null float64
wk26            36 non-null float64
wk27            29 non-null float64
wk28            24 non-null float64
wk29            20 non-null float64
wk30            20 non-null float64
wk31            19 non-null float64
wk32            18 non-null float64
wk33            12 non-null float64
wk34            10 non-null float64
wk35            9 non-null float64
wk36            9 non-null float64
wk37            9 non-null float64
wk38            8 non-null float64
wk39            8 non-null float64
wk40            7 non-null float64
wk41            7 non-null float64
wk42            6 non-null float64
wk43            6 non-null float64
wk44            6 non-null float64
wk45            5 non-null float64
wk46            5 non-null float64
wk47            5 non-null float64
wk48            4 non-null float64
wk49            4 non-null float64
wk50            4 non-null float64
wk51            4 non-null float64
wk52            4 non-null float64
wk53            4 non-null float64
wk54            2 non-null float64
wk55            2 non-null float64
wk56            2 non-null float64
wk57            2 non-null float64
wk58            2 non-null float64
wk59            2 non-null float64
wk60            2 non-null float64
wk61            2 non-null float64
wk62            2 non-null float64
wk63            2 non-null float64
wk64            2 non-null float64
wk65            1 non-null float64
wk66            0 non-null float64
wk67            0 non-null float64
wk68            0 non-null float64
wk69            0 non-null float64
wk70            0 non-null float64
wk71            0 non-null float64
wk72            0 non-null float64
wk73            0 non-null float64
wk74            0 non-null float64
wk75            0 non-null float64
wk76            0 non-null float64
dtypes: float64(75), int64(2), object(4)
memory usage: 200.7+ KB

In [8]:
billboard = pd.read_csv('../data/billboard.csv')

print(billboard.iloc[0:5, 0:16])

   year        artist                    track  time date.entered  wk1   wk2  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

    wk3   wk4   wk5   wk6   wk7   wk8   wk9  wk10  wk11
0  72.0  77.0  87.0  94.0  99.0   NaN   NaN   NaN   NaN
1  92.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  68.0  67.0  66.0  57.0  54.0  53.0  51.0  51.0  51.0
3  72.0  69.0  67.0  65.0  55.0  59.0  62.0  61.0  61.0
4  25.0  17.0  17.0  31.0  36.0  49.0  53.0  57.0  64.0

In [11]:
billboard_long = pd.melt(billboard, id_vars=['year', 'artist', 'track', 'time', 'date.entered'],
                         # id_vars 파라미터는 안바꾸겠다
                         var_name='week', value_name='rating')

print(billboard_long.head())

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [15]:
print(billboard_long.iloc[5:10, :])

   year          artist                    track  time date.entered week  \
5  2000            98^0  Give Me Just One Nig...  3:24   2000-08-19  wk1
6  2000         A*Teens            Dancing Queen  3:44   2000-07-08  wk1
7  2000         Aaliyah            I Don't Wanna  4:15   2000-01-29  wk1
8  2000         Aaliyah                Try Again  4:03   2000-03-18  wk1
9  2000  Adams, Yolanda            Open My Heart  5:30   2000-08-26  wk1

   rating
5    51.0
6    97.0
7    84.0
8    59.0
9    76.0

# 직접 해보세요!
## ebola 데이터 집합 살펴보기(155쪽)

In [16]:
ebola = pd.read_csv('../data/country_timeseries.csv')
print(ebola.columns)

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')

In [17]:
print(ebola.iloc[:5, [0, 1, 2, 3, 10, 11]])

         Date  Day  Cases_Guinea  Cases_Liberia  Deaths_Guinea  Deaths_Liberia
0    1/5/2015  289        2776.0            NaN         1786.0             NaN
1    1/4/2015  288        2775.0            NaN         1781.0             NaN
2    1/3/2015  287        2769.0         8166.0         1767.0          3496.0
3    1/2/2015  286           NaN         8157.0            NaN          3496.0
4  12/31/2014  284        2730.0         8115.0         1739.0          3471.0

In [18]:
ebola_long = pd.melt(ebola, id_vars=['Date', 'Day'])
print(ebola_long.head())

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

# 직접 해보세요!
## 열 이름 분리하고 데이터프레임에 추가하기(156쪽)

In [20]:
variable_split = ebola_long.variable.str.split('_')
# .variable = ['variable'] 특정 컬럼 가져오기
# str로 split 매소드 호출 Cases_Guinea -> 리스트에 나누기

print(variable_split[:5])
# 다음처럼 Series(열안에) 리스트로 담겨져 있다.

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
4    [Cases, Guinea]
Name: variable, dtype: object

In [21]:
print(type(variable_split))

<class 'pandas.core.series.Series'>

In [28]:
print(type(variable_split[0]))
print(variable_split[0])
print(variable_split[0][0])
print(variable_split.get(0))
print(variable_split.str.get(0))

<class 'list'>
['Cases', 'Guinea']
Cases
['Cases', 'Guinea']
0        Cases
1        Cases
2        Cases
3        Cases
4        Cases
         ...
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, Length: 1952, dtype: object

In [13]:
status_values = variable_split.str.get(0) 
country_values = variable_split.str.get(1)

print(status_values[:5])

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object

In [14]:
print(status_values[-5:])

1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, dtype: object

In [15]:
print(country_values[:5])

0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object

In [16]:
print(country_values[-5:])

1947    Mali
1948    Mali
1949    Mali
1950    Mali
1951    Mali
Name: variable, dtype: object

In [17]:
# 추출한 열의 인덱스는 데이터프레임이랑 동일하므로 서로 동일
ebola_long['status'] = status_values 
ebola_long['country'] = country_values

print(ebola_long.head())

         Date  Day      variable   value status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

# 알아두면 좋아요!
## concat 메서드를 응용하여 데이터프레임에 열 추가하기(159쪽)

In [18]:
# axis=1 옆으로 붙이기
variable_split = ebola_long.variable.str.split('_', expand=True) 
variable_split.columns = ['status', 'country'] 
ebola_parsed = pd.concat([ebola_long, variable_split], axis=1)

print(ebola_parsed.head())

         Date  Day      variable   value status country status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea  Cases  Guinea


## 기상 데이터의 여러 열을 하나로 정리하기  ─ melt, pivot_table 메서드(160쪽)
- 열을 행으로 melt
- 행을 열로  pivot

In [29]:
weather = pd.read_csv('../data/weather.csv') 
print(weather.iloc[:5, :11])

        id  year  month element  d1    d2    d3  d4    d5  d6  d7
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN NaN
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN NaN
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN NaN

In [37]:
weather_melt = pd.melt(weather, id_vars=['id', 'year', 'month', 'element'], var_name='day', 
                       value_name='temp') 
print(weather_melt.head(50))

         id  year  month element day  temp
0   MX17004  2010      1    tmax  d1   NaN
1   MX17004  2010      1    tmin  d1   NaN
2   MX17004  2010      2    tmax  d1   NaN
3   MX17004  2010      2    tmin  d1   NaN
4   MX17004  2010      3    tmax  d1   NaN
5   MX17004  2010      3    tmin  d1   NaN
6   MX17004  2010      4    tmax  d1   NaN
7   MX17004  2010      4    tmin  d1   NaN
8   MX17004  2010      5    tmax  d1   NaN
9   MX17004  2010      5    tmin  d1   NaN
10  MX17004  2010      6    tmax  d1   NaN
11  MX17004  2010      6    tmin  d1   NaN
12  MX17004  2010      7    tmax  d1   NaN
13  MX17004  2010      7    tmin  d1   NaN
14  MX17004  2010      8    tmax  d1   NaN
15  MX17004  2010      8    tmin  d1   NaN
16  MX17004  2010     10    tmax  d1   NaN
17  MX17004  2010     10    tmin  d1   NaN
18  MX17004  2010     11    tmax  d1   NaN
19  MX17004  2010     11    tmin  d1   NaN
20  MX17004  2010     12    tmax  d1  29.9
21  MX17004  2010     12    tmin  d1  13.8
22  MX17004  2010      1    tmax  d2   NaN
23  MX17004  2010      1    tmin  d2   NaN
24  MX17004  2010      2    tmax  d2  27.3
25  MX17004  2010      2    tmin  d2  14.4
26  MX17004  2010      3    tmax  d2   NaN
27  MX17004  2010      3    tmin  d2   NaN
28  MX17004  2010      4    tmax  d2   NaN
29  MX17004  2010      4    tmin  d2   NaN
30  MX17004  2010      5    tmax  d2   NaN
31  MX17004  2010      5    tmin  d2   NaN
32  MX17004  2010      6    tmax  d2   NaN
33  MX17004  2010      6    tmin  d2   NaN
34  MX17004  2010      7    tmax  d2   NaN
35  MX17004  2010      7    tmin  d2   NaN
36  MX17004  2010      8    tmax  d2   NaN
37  MX17004  2010      8    tmin  d2   NaN
38  MX17004  2010     10    tmax  d2   NaN
39  MX17004  2010     10    tmin  d2   NaN
40  MX17004  2010     11    tmax  d2  31.3
41  MX17004  2010     11    tmin  d2  16.3
42  MX17004  2010     12    tmax  d2   NaN
43  MX17004  2010     12    tmin  d2   NaN
44  MX17004  2010      1    tmax  d3   NaN
45  MX17004  2010      1    tmin  d3   NaN
46  MX17004  2010      2    tmax  d3  24.1
47  MX17004  2010      2    tmin  d3  14.4
48  MX17004  2010      3    tmax  d3   NaN
49  MX17004  2010      3    tmin  d3   NaN

In [42]:
# 컬럼의 하부컬럼은 시계열이 아니라 category타입 데이터 이면 좋다.
weather_tidy = weather_melt.pivot_table(
    index=['id', 'year', 'month', 'day'], 
    columns='element', 
    values='temp'
)

print(weather_tidy)

element                 tmax  tmin
id      year month day
MX17004 2010 1     d30  27.8  14.5
             2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4
             3     d10  34.5  16.8
                   d16  31.1  17.6
                   d5   32.1  14.2
             4     d27  36.3  16.7
             5     d27  33.2  18.2
             6     d17  28.0  17.5
                   d29  30.1  18.0
             7     d3   28.6  17.5
                   d14  29.9  16.5
             8     d23  26.4  15.0
                   d5   29.6  15.8
                   d29  28.0  15.3
                   d13  29.8  16.5
                   d25  29.7  15.6
                   d31  25.4  15.4
                   d8   29.0  17.3
             10    d5   27.0  14.0
                   d14  29.5  13.0
                   d15  28.7  10.5
                   d28  31.2  15.0
                   d7   28.1  12.9
             11    d2   31.3  16.3
                   d5   26.3   7.9
                   d27  27.7  14.2
                   d26  28.1  12.1
                   d4   27.2  12.0
             12    d1   29.9  13.8
                   d6   27.8  10.5

In [43]:
weather_tidy = weather_melt.pivot_table(
    index=['id', 'year', 'day'], 
    columns=['element', 'month'], 
    values='temp'
)

print(weather_tidy)

element           tmax                                                        \
month               1     2     3     4     5     6     7     8     10    11
id      year day
MX17004 2010 d1    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
             d10   NaN   NaN  34.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN
             d11   NaN  29.7   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
             d13   NaN   NaN   NaN   NaN   NaN   NaN   NaN  29.8   NaN   NaN
             d14   NaN   NaN   NaN   NaN   NaN   NaN  29.9   NaN  29.5   NaN
             d15   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  28.7   NaN
             d16   NaN   NaN  31.1   NaN   NaN   NaN   NaN   NaN   NaN   NaN
             d17   NaN   NaN   NaN   NaN   NaN  28.0   NaN   NaN   NaN   NaN
             d2    NaN  27.3   NaN   NaN   NaN   NaN   NaN   NaN   NaN  31.3
             d23   NaN  29.9   NaN   NaN   NaN   NaN   NaN  26.4   NaN   NaN
             d25   NaN   NaN   NaN   NaN   NaN   NaN   NaN  29.7   NaN   NaN
             d26   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  28.1
             d27   NaN   NaN   NaN  36.3  33.2   NaN   NaN   NaN   NaN  27.7
             d28   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  31.2   NaN
             d29   NaN   NaN   NaN   NaN   NaN  30.1   NaN  28.0   NaN   NaN
             d3    NaN  24.1   NaN   NaN   NaN   NaN  28.6   NaN   NaN   NaN
             d30  27.8   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
             d31   NaN   NaN   NaN   NaN   NaN   NaN   NaN  25.4   NaN   NaN
             d4    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  27.2
             d5    NaN   NaN  32.1   NaN   NaN   NaN   NaN  29.6  27.0  26.3
             d6    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
             d7    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  28.1   NaN
             d8    NaN   NaN   NaN   NaN   NaN   NaN   NaN  29.0   NaN   NaN

element           ...  tmin                                                  \
month             ...    2     3     4     5     6     7     8     10    11
id      year day  ...
MX17004 2010 d1   ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
             d10  ...   NaN  16.8   NaN   NaN   NaN   NaN   NaN   NaN   NaN
             d11  ...  13.4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
             d13  ...   NaN   NaN   NaN   NaN   NaN   NaN  16.5   NaN   NaN
             d14  ...   NaN   NaN   NaN   NaN   NaN  16.5   NaN  13.0   NaN
             d15  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN  10.5   NaN
             d16  ...   NaN  17.6   NaN   NaN   NaN   NaN   NaN   NaN   NaN
             d17  ...   NaN   NaN   NaN   NaN  17.5   NaN   NaN   NaN   NaN
             d2   ...  14.4   NaN   NaN   NaN   NaN   NaN   NaN   NaN  16.3
             d23  ...  10.7   NaN   NaN   NaN   NaN   NaN  15.0   NaN   NaN
             d25  ...   NaN   NaN   NaN   NaN   NaN   NaN  15.6   NaN   NaN
             d26  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  12.1
             d27  ...   NaN   NaN  16.7  18.2   NaN   NaN   NaN   NaN  14.2
             d28  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN  15.0   NaN
             d29  ...   NaN   NaN   NaN   NaN  18.0   NaN  15.3   NaN   NaN
             d3   ...  14.4   NaN   NaN   NaN   NaN  17.5   NaN   NaN   NaN
             d30  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
             d31  ...   NaN   NaN   NaN   NaN   NaN   NaN  15.4   NaN   NaN
             d4   ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  12.0
             d5   ...   NaN  14.2   NaN   NaN   NaN   NaN  15.8  14.0   7.9
             d6   ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
             d7   ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN  12.9   NaN
             d8   ...   NaN   NaN   NaN   NaN   NaN   NaN  17.3   NaN   NaN

element
month               12
id      year day
MX17004 2010 d1   13.8
             d10   NaN
             d11   NaN
             d13   NaN
             d14   NaN
             d15   NaN
             d16   NaN
             d17   NaN
             d2    NaN
             d23   NaN
             d25   NaN
             d26   NaN
             d27   NaN
             d28   NaN
             d29   NaN
             d3    NaN
             d30   NaN
             d31   NaN
             d4    NaN
             d5    NaN
             d6   10.5
             d7    NaN
             d8    NaN

[23 rows x 22 columns]

In [44]:
weather_tidy_flat = weather_tidy.reset_index() 
print(weather_tidy_flat.head())

element       id  year  day tmax                                ...  tmin  \
month                          1     2     3   4   5   6     7  ...     2
0        MX17004  2010   d1  NaN   NaN   NaN NaN NaN NaN   NaN  ...   NaN
1        MX17004  2010  d10  NaN   NaN  34.5 NaN NaN NaN   NaN  ...   NaN
2        MX17004  2010  d11  NaN  29.7   NaN NaN NaN NaN   NaN  ...  13.4
3        MX17004  2010  d13  NaN   NaN   NaN NaN NaN NaN   NaN  ...   NaN
4        MX17004  2010  d14  NaN   NaN   NaN NaN NaN NaN  29.9  ...   NaN

element
month       3   4   5   6     7     8    10  11    12
0         NaN NaN NaN NaN   NaN   NaN   NaN NaN  13.8
1        16.8 NaN NaN NaN   NaN   NaN   NaN NaN   NaN
2         NaN NaN NaN NaN   NaN   NaN   NaN NaN   NaN
3         NaN NaN NaN NaN   NaN  16.5   NaN NaN   NaN
4         NaN NaN NaN NaN  16.5   NaN  13.0 NaN   NaN

[5 rows x 25 columns]

# 직접 해보세요!
## 빌보드 차트의 중복 데이터 처리하기(163쪽)

In [45]:
billboard = pd.read_csv('../data/billboard.csv')
billboard_long = pd.melt(billboard, id_vars=['year', 'artist', 'track', 'time', 'date.entered'],
                         var_name='week', value_name='rating')

print(billboard_long.shape)

print(billboard_long.head())

(24092, 7)
   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [46]:
# data["track"] == 'Loser' 컬럼명이 loser인것
print(billboard_long[billboard_long.track == 'Loser'].head())

      year        artist  track  time date.entered week  rating
3     2000  3 Doors Down  Loser  4:24   2000-10-21  wk1    76.0
320   2000  3 Doors Down  Loser  4:24   2000-10-21  wk2    76.0
637   2000  3 Doors Down  Loser  4:24   2000-10-21  wk3    72.0
954   2000  3 Doors Down  Loser  4:24   2000-10-21  wk4    69.0
1271  2000  3 Doors Down  Loser  4:24   2000-10-21  wk5    67.0

In [47]:
billboard_songs = billboard_long[['year', 'artist', 'track', 'time']] 
print(billboard_songs.shape)

(24092, 4)

In [26]:
# 빌보드차트 데이터 특성상 주별 중복데이터 많음. 그러한 열제외한 데이터를 drop_duplicates() 이용
billboard_songs = billboard_songs.drop_duplicates() 
print(billboard_songs.shape)

(317, 4)

In [27]:
# 인덱스 말고 중복데이터 제외한 번호 열 생성해서 붙이기
billboard_songs['id'] = range(len(billboard_songs)) 
print(billboard_songs.head(n=10))

   year          artist                    track  time  id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   1
2  2000    3 Doors Down               Kryptonite  3:53   2
3  2000    3 Doors Down                    Loser  4:24   3
4  2000        504 Boyz            Wobble Wobble  3:35   4
5  2000            98^0  Give Me Just One Nig...  3:24   5
6  2000         A*Teens            Dancing Queen  3:44   6
7  2000         Aaliyah            I Don't Wanna  4:15   7
8  2000         Aaliyah                Try Again  4:03   8
9  2000  Adams, Yolanda            Open My Heart  5:30   9

In [49]:
billboard_ratings = billboard_long.merge( billboard_songs, on=['year', 'artist', 'track', 'time']) 
print(billboard_ratings.shape)

(1830992, 7)

In [50]:
print(billboard_ratings.head())

   year artist                    track  time date.entered week  rating
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0

# 직접 해보세요! GLOB
## 뉴욕 택시 데이터 준비(166쪽)

In [54]:
import os 
import urllib.request

# # 네트워크 상태에 따라 5 ~ 15분이 소요됩니다.
# with open('../data/raw_data_urls.txt', 'r') as data_urls:
#     for line, url in enumerate(data_urls):
#         if line == 5:
#             break 
#         fn = url.split('/')[-1].strip()
#         fp = os.path.join('', '../data', fn)
#         print(url)
#         print(fp)
#         urllib.request.urlretrieve(url, fp)

In [60]:
import glob 
nyc_taxi_data = glob.glob('../data/fhv_tripdata*') 
print(nyc_taxi_data)

['../data/fhv_tripdata_2015-05.csv', '../data/fhv_tripdata_2015-03.csv', '../data/fhv_tripdata_2015-02.csv', '../data/fhv_tripdata_2015-04.csv', '../data/fhv_tripdata_2015-01.csv']

In [56]:
taxi1 = pd.read_csv(nyc_taxi_data[0]) 
taxi2 = pd.read_csv(nyc_taxi_data[1]) 
taxi3 = pd.read_csv(nyc_taxi_data[2]) 
taxi4 = pd.read_csv(nyc_taxi_data[3]) 
taxi5 = pd.read_csv(nyc_taxi_data[4])

In [66]:
print(taxi1.head()) 
print(taxi2.head(2)) 
print(taxi3.head(n=2)) 
print(taxi4.head(n=2)) 
print(taxi5.head(n=2))

  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-05-01 04:30:00         NaN
1               B00001  2015-05-01 05:00:00         NaN
2               B00001  2015-05-01 05:05:00         NaN
3               B00001  2015-05-01 06:15:00         NaN
4               B00001  2015-05-01 06:15:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00029  2015-03-01 00:02:00       213.0
1               B00029  2015-03-01 00:03:00        51.0
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-02-01 00:00:00         NaN
1               B00013  2015-02-01 00:01:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-04-01 04:30:00         NaN
1               B00001  2015-04-01 06:00:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN

In [57]:
print(taxi1.shape) 
print(taxi2.shape) 
print(taxi3.shape) 
print(taxi4.shape) 
print(taxi5.shape)

(4296067, 3)
(3281427, 3)
(3126401, 3)
(3917789, 3)
(2746033, 3)

In [58]:
taxi = pd.concat([taxi1, taxi2, taxi3, taxi4, taxi5])

print(taxi.shape)

(17367717, 3)

# 알아두면 좋아요!
## 반복문으로 데이터 준비하기(169쪽)

In [59]:
list_taxi_df = [] 

for csv_filename in nyc_taxi_data:
    # print(csv_filename)
    df = pd.read_csv(csv_filename)
    list_taxi_df.append(df) 

print(len(list_taxi_df))

5

In [61]:
print(type(list_taxi_df[0]))

<class 'pandas.core.frame.DataFrame'>

In [62]:
print(list_taxi_df[0].head())

  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-05-01 04:30:00         NaN
1               B00001  2015-05-01 05:00:00         NaN
2               B00001  2015-05-01 05:05:00         NaN
3               B00001  2015-05-01 06:15:00         NaN
4               B00001  2015-05-01 06:15:00         NaN

In [63]:
taxi_loop_concat = pd.concat(list_taxi_df) 
print(taxi_loop_concat.shape)

(17367717, 3)

In [64]:
print(taxi.equals(taxi_loop_concat))

True