In [1]:
df_midterm <- data.frame(
    english = c(90,80,70,60),
    math = c(90,80,70,60),
    class = c('a','a','b','b') )
write.csv(df_midterm, file = "./Data/df_midterm.csv")

In [2]:
ls()

[1] "df_midterm"

In [7]:
df <- read.csv('./Data/csv_exam.csv')
dim(df)
head(df)

[1] 20  5

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78
4 4  1     30   98      58
5 5  2     25   80      65
6 6  2     50   89      98

In [12]:
mpg <- as.data.frame(ggplot2::mpg)
dim(mpg)
tail(mpg)

[1] 234  11

    manufacturer model  displ year cyl trans      drv cty hwy fl class
229 volkswagen   passat 1.8   1999 4   auto(l5)   f   18  29  p  midsize
230 volkswagen   passat 2.0   2008 4   auto(s6)   f   19  28  p  midsize
231 volkswagen   passat 2.0   2008 4   manual(m6) f   21  29  p  midsize
232 volkswagen   passat 2.8   1999 6   auto(l5)   f   16  26  p  midsize
233 volkswagen   passat 2.8   1999 6   manual(m5) f   18  26  p  midsize
234 volkswagen   passat 3.6   2008 6   auto(s6)   f   17  26  p  midsize

In [11]:
str(mpg) # 데이터속성 확인

'data.frame':	234 obs. of  11 variables:
 $ manufacturer: chr  "audi" "audi" "audi" "audi" ...
 $ model       : chr  "a4" "a4" "a4" "a4" ...
 $ displ       : num  1.8 1.8 2 2 2.8 2.8 3.1 1.8 1.8 2 ...
 $ year        : int  1999 1999 2008 2008 1999 1999 2008 1999 1999 2008 ...
 $ cyl         : int  4 4 4 4 6 6 6 4 4 4 ...
 $ trans       : chr  "auto(l5)" "manual(m5)" "manual(m6)" "auto(av)" ...
 $ drv         : chr  "f" "f" "f" "f" ...
 $ cty         : int  18 21 20 21 16 18 18 18 16 20 ...
 $ hwy         : int  29 29 31 30 26 26 27 26 25 28 ...
 $ fl          : chr  "p" "p" "p" "p" ...
 $ class       : chr  "compact" "compact" "compact" "compact" ...

In [13]:
# 'year'의 중앙값과 평균값이 같음. 즉, 편중되지 않았다
summary(mpg)

 manufacturer          model               displ            year
 Length:234         Length:234         Min.   :1.600   Min.   :1999
 Class :character   Class :character   1st Qu.:2.400   1st Qu.:1999
 Mode  :character   Mode  :character   Median :3.300   Median :2004
                                       Mean   :3.472   Mean   :2004
                                       3rd Qu.:4.600   3rd Qu.:2008
                                       Max.   :7.000   Max.   :2008
      cyl           trans               drv                 cty
 Min.   :4.000   Length:234         Length:234         Min.   : 9.00
 1st Qu.:4.000   Class :character   Class :character   1st Qu.:14.00
 Median :6.000   Mode  :character   Mode  :character   Median :17.00
 Mean   :5.889                                         Mean   :16.86
 3rd Qu.:8.000                                         3rd Qu.:19.00
 Max.   :8.000                                         Max.   :35.00
      hwy             fl               class
 Min.   :12.00   Length:234         Length:234
 1st Qu.:18.00   Class :character   Class :character
 Median :24.00   Mode  :character   Mode  :character
 Mean   :23.44
 3rd Qu.:27.00
 Max.   :44.00

In [14]:
install.packages('Rcpp')
install.packages('dplyr')

Installing package into 'C:/Users/admin/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'Rcpp' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'Rcpp'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"C:\Users\admin\Documents\R\win-library\3.6\00LOCK\Rcpp\libs\x64\Rcpp.dll를 C:\Users\admin\Documents\R\win-library\3.6\Rcpp\libs\x64\Rcpp.dll로 복사하는데 문제가 발생했습니다: Permission denied"Warning message:
"restored 'Rcpp'"

The downloaded binary packages are in
	C:\Users\admin\AppData\Local\Temp\RtmpSurODY\downloaded_packages

Installing package into 'C:/Users/admin/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
also installing the dependencies 'BH', 'plogr'

package 'BH' successfully unpacked and MD5 sums checked
package 'plogr' successfully unpacked and MD5 sums checked
package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"C:\Users\admin\Documents\R\win-library\3.6\00LOCK\dplyr\libs\x64\dplyr.dll를 C:\Users\admin\Documents\R\win-library\3.6\dplyr\libs\x64\dplyr.dll로 복사하는데 문제가 발생했습니다: Permission denied"Warning message:
"restored 'dplyr'"

The downloaded binary packages are in
	C:\Users\admin\AppData\Local\Temp\RtmpSurODY\downloaded_packages

In [15]:
library(dplyr) # dplyr load

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [16]:
df_raw <- data.frame( var1 = c(1,2,1), var2 = c(2,3,2) )
df_raw 
df_new <- df_raw
df_new <- rename(df_new, v2 = var2) # var2를 v2로 수정
df_new

  var1 var2
1 1    2
2 2    3
3 1    2

  var1 v2
1 1    2
2 2    3
3 1    2